<form method="post" {{ form_enctype(form) }}>
	<div class="col-md-12">
		<div class="erreur">{{ form_errors(form) }}</div>
		<div class="col-md-6">
	    	{{ form_widget(form.gender) }}
	    	{{ form_widget(form.lastname) }}
	    	{{ form_widget(form.firstname) }}
		    {{ form_widget(form.email) }}
		    {{ form_widget(form.phone) }}
	    </div>
	    <div class="col-md-6">
		    {{ form_widget(form.plainPassword.first) }}
		    {{ form_widget(form.plainPassword.second) }}
		</div>
	    <div class="col-md-6 col-md-offset-3">
	    	<a class="btn btn-danger center-block" href="javascript:sendRegisterForm('{{ path('fos_user_registration_register') }}');">{{ 'registration.register'|trans }}</a>
	    </div>
	</div>
{{ form_end(form) }}
