{% extends 'AppFrontOfficeBundle::layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-info">
                <div class="panel-body">
                	<div class="col-md-6">
	                	{% form_theme form 'bootstrap_3_layout.html.twig' %}
	                    {{ form_start(form) }}
	                    <h2>Mes données personnelles</h2>
	                    <p class="clearfix"><span class="col-md-2">{{ form_widget(form.gender) }}</span><span class="col-md-5">{{ form_widget(form.firstname) }}</span><span class="col-md-5">{{ form_widget(form.lastname) }}</span></p>
	                    <p class="col-md-12">{{ form_widget(form.email) }}</p>
	                    <p class="col-md-12">{{ form_widget(form.phone) }}</p>
	                    <h2>Adresse</h2>
	                    <p class="col-md-12">{{ form_widget(form.address) }}</p>
	                    <p class="clearfix"><span class="col-md-4">{{ form_widget(form.zip_code) }}</span><span class="col-md-8">{{ form_widget(form.city) }}</span></p>
	                    <p class="col-md-6">{{ form_widget(form.country) }}</p>
                    </div>
                	<div class="col-md-6">
	                    <h2>Ma photo de profil</h2>
	                    <img src="{{ app.user.avatarWebPath }}" class="thumbnail col-md-6 center-block" alt="avatar" />
	                    <button type="submit" value="Mettre à jour" class="btn btn-success pull-right"/>Enregistrer</button>
	                    {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}