<!DOCTYPE HTML>
<html xml:lang="{{ app.request.locale }}" lang="{{ app.request.locale }}">
    <head>
        <title>{% block title %}{{'toptitle'|trans}}{% endblock %}</title>
        {{ sonata_seo_head_attributes() }}
        {{ sonata_seo_metadatas() }}
        {{ sonata_seo_link_canonical() }}
        {{ sonata_seo_lang_alternates() }}
    	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge" /><![endif]-->
        <!--[if lt IE 9]>
            <script src="{{ asset('bundles/app/js/plugins/respond.min.js') }}" type="text/javascript"></script>
        <![endif]-->
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    	<link href="http://fonts.googleapis.com/css?family=Raleway:300,400,600,700%7COpen+Sans:300,400,600,700%7CHandlee" rel="stylesheet">
        {% block javascripts %}
            <script src="{{ asset('bundles/appmain/js/lib/modernizr.js') }}" type="text/javascript"></script> 
            <script src="{{ asset('bundles/appmain/js/lib/jquery.js') }}" type="text/javascript"></script>
            <script src="{{ asset('bundles/appmain/js/lib/jquery-ui.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('bundles/appmain/js/lib/bootstrap.js') }}" type="text/javascript"></script>
            <script src="{{ asset('bundles/appmain/js/lib/plugins.min.js') }}" type="text/javascript"></script>
    		<script src="{{ asset('bundles/appmain/js/home.js') }}" type="text/javascript"></script>
            <script type="text/javascript">
            	var locale = "{{ app.request.locale }}";
            </script>
        {% endblock %}

        {% block stylesheets %}
            <link rel="stylesheet" media="all" href="{{ asset('bundles/appmain/css/bootstrap.min.css') }}">
            <link rel="stylesheet" media="all" href="{{ asset('bundles/appmain/css/lib/icons.min.css') }}">
            <link rel="stylesheet" media="all" href="{{ asset('bundles/appmain/css/lib/plugins.min.css') }}">
            <link rel="stylesheet" media="all" href="{{ asset('bundles/appmain/css/responsive.css') }}">
            <link rel="stylesheet" media="all" href="{{ asset('bundles/appmain/css/red.css') }}">
            <link rel="stylesheet" media="all" href="{{ asset('bundles/appmain/css/lib/jquery-ui.css') }}">
            <link rel="stylesheet" media="all" href="{{ asset('bundles/appmain/css/lib/jquery-ui.theme.css') }}">
            <link rel="stylesheet" media="all" href="{{ asset('bundles/appmain/css/style.css') }}">
            <link rel="stylesheet" media="all" href="{{ asset('bundles/appmain/css/home.css') }}">
            <link rel="stylesheet" media="all" href="{{ asset('bundles/appmain/css/header.css') }}">
            <link rel="stylesheet" media="all" href="{{ asset('bundles/appmain/css/footer.css') }}">
        {% endblock %}   
    </head>
    <body>
    	<div class="main-wrapper">
        	{% block content %}{% endblock %}
            <footer class="footer dark-bg" id="footer">
			    <div class="container">
		            <div class="row">
		                <div class="col-md-12 wrapper-sm">
		                    <ul class="footer-nav">
		                        <li><a href="#">Nos partenaires</a></li>
		                        <li><a href="{{ path('app_main_security') }}">Sécurité des données</a></li>
		                        <li><a href="{{ path('app_main_contact') }}">Nous contacter</a></li>
		                        <li><a href="{{ path('app_main_cgv') }}">Conditions générales</a></li>
		                    </ul>
		                    <p class="footer-copy">&copy; 2016 - MyAbos.</p>
		                </div>
		            </div>
			    </div>
			</footer>
        </div>
        {% if app.request.locale == 'fr' %}
        	{% include "AppMainBundle:Default:cookies.html.twig" %}
    	{% endif %}
    </body>
</html>