<div class="offrespeciale-contact"> 
    {% set format = app.request.locale == "en" ? 'm/d/Y' : 'd/m/Y' %}
    <div id="tarifOffre" class="offre-contact col-md-8">
    	<div class="panel panel-info">
		    <div class="panel-heading">
		    	<h2 class="panel-title">{{'cruise_recap'|trans }}</h2>
		    </div>
	        <div class="panel-body">
	        	<div class="col-md-6">
				    Skipper: {{ offreSpeciale.skipper.name }}<br />
				    {{'departure_date'|trans }}: {{ offreSpeciale.dateDebut|date(format) }}<br />
				    {{'form_sejour_portdepart'|trans }} {{ offreSpeciale.portDepart.name }}<br />
				    {{'nb_cabine_dispo'|trans }}: {{ offreSpeciale.nbCabine }}
	        	</div>
	        	<div class="col-md-6">
				    {{'offrespeciale_boat'|trans }}: {{ offreSpeciale.bateau.name }}<br />
				    {{'return_date'|trans }}: {{ offreSpeciale.dateFin|date(format) }}<br />
				    {{'form_sejour_destination'|trans }} {{ offreSpeciale.destination.name }}
	        	</div>
	        	<div class="col-md-6 pull-right center-block btn btn-warning">
				  	${% if offreSpeciale.tarifHuitPersonnes > 0 %}
				  		{{ offreSpeciale.tarifHuitPersonnes }}
			  		 {% elseif offreSpeciale.tarifSeptPersonnes > 0 %}
			  		 	{{ offreSpeciale.tarifSeptPersonnes }}
			  		 {% elseif offreSpeciale.tarifSixPersonnes > 0 %}
			  		 	{{ offreSpeciale.tarifSixPersonnes }}
			  		 {% elseif offreSpeciale.tarifCinqPersonnes > 0 %}
			  		 	{{ offreSpeciale.tarifCinqPersonnes }}
			  		 {% elseif offreSpeciale.tarifQuatrePersonnes > 0 %}
			  		 	{{ offreSpeciale.tarifQuatrePersonnes }}
			  		 {% elseif offreSpeciale.tarifTroisPersonnes > 0 %}
			  		 	{{ offreSpeciale.tarifTroisPersonnes }}
			  		 {% elseif offreSpeciale.tarifDeuxPersonnes > 0 %}
			  		 	{{ offreSpeciale.tarifDeuxPersonnes }}
					 {% endif %} / {{ offreSpeciale.tarifPour|trans }}
				</div>
	        </div>
        </div>
        <div class="panel panel-info">
        	<div class="panel-heading">
		        <h3 class="panel-title">
		            {{'inclus_prix'|trans }}
		        </h3>     
	        </div> 
	        <div class="panel-body panel-body-padding">
	        	{% if inclusprixequipage|length > 0 %}
	        		<div class="col-md-6">
		        		<div class="even">{{'the_crew'|trans }}</div>
                    	<ul><li class="odd">{{ inclusprixequipage.name }}</li></ul>
	        		</div>
	        	{% endif %}
	        	{% if inclusprixavitaillement|length > 0 %}
	        		<div class="col-md-6">
		        		<div class="even">{{'fueling'|trans }}</div>
		        		<ul>
			        		{% for inclusprix in inclusprixavitaillement %}
		                    	<li class="odd">{{ inclusprix.name }}</li>
		                	{% endfor %}
	                	</ul>
	        		</div>
	        	{% endif %}
	        	{% if inclusprixfraisdevoyage|length > 0 %}
	        		<div class="col-md-6">
		        		<div class="even">{{'frais_de_voyage'|trans }}</div>
		        		<ul>
			        		{% for inclusprix in inclusprixfraisdevoyage %}
		                    	<li class="odd">{{ inclusprix.name }}</li>
		                	{% endfor %}
	                	</ul>
	        		</div>
	        	{% endif %}
	        	{% if inclusprixautresservices|length > 0 %}
	        		<div class="col-md-6">
		        		<div class="even">{{'boat_otherservice'|trans }}</div>
		        		<ul>
			        		{% for inclusprix in inclusprixautresservices %}
		                    	<li class="odd">{{ inclusprix.name }}</li>
		                	{% endfor %}
	                	</ul>
	        		</div>
	        	{% endif %}
	        	{% if inclusprixequipement|length > 0 %}
	        		<div class="col-md-6">
		        		<div class="even">{{'boat_equipments'|trans }}</div>
		        		<ul>
			        		{% for inclusprix in inclusprixequipement %}
		                    	<li class="odd">{{ inclusprix.name }}</li>
		                	{% endfor %}
	                	</ul>
	        		</div>
	        	{% endif %}
	        	{% if inclusprixactivite|length > 0 %}
	        		<div class="col-md-6">
		        		<div class="even">{{'boat_activity'|trans }}</div>
		        		<ul>
		        		{% for inclusprix in inclusprixactivite %}
	                    	<li class="odd">{{ inclusprix.name }}</li>
	                	{% endfor %}
	                	</ul>
	        		</div>
	        	{% endif %}
	        	{% if inclusprixcours is not null %}
	        		<div class="col-md-6">
		        		<div class="even">{{'boat_cours'|trans }}</div>
		        		<ul>
		        		{% for inclusprix in inclusprixcours %}
	                    	<li class="odd">{{ inclusprix.name }}</li>
	                	{% endfor %}
		        		</ul>
	        		</div>
	        	{% endif %}
	        </div>  
        </div>
        {% if offreSpeciale.servicepayant is not null %}
	        <div class="panel panel-info">
	        	<div class="panel-heading">
			        <h3 class="panel-title">
			            {{'en_option'|trans }}
			        </h3>
		        </div>
                <div class="panel-body servicepayant">
                	{% set currentCategory = null %}
	        		{% for service in offreSpeciale.servicepayant %}
		        		{% if service.categorie != currentCategory %}
		        			{% set currentCategory = service.categorie %}
	                    	<div class="col-md-5 even text-center">{{service.categorie|trans}}</div>
	                    	<div class="col-md-5 even text-center">{{'boat_price'|trans }}</div>
	                    	<div class="col-md-2 even text-center">{{'selectionner'|trans }}</div>
	                    {% endif %}
	                    <div class="col-md-5 odd">{{service.name}}</div>
	                    {% if service.fraisSupplementaires > 0 %}
	                    	
	                    	<div class="col-md-5 odd">{% if service.devise == "$"%}{{service.devise}}{%endif%}{{service.fraisSupplementaires}}{% if service.devise == "€"%}{{service.devise}}{%endif%} {{service.tarifApplique|trans}}</div>
	                    {% else %}
	                    	<div class="col-md-5"></div>
                    	{% endif %}
	                    <div class="col-md-2 text-center"><input type="checkbox" class="selection" name="servicepayant[]" value="{{ service.id }}" /></div>
                    {% endfor %}
                </div>
	        </div>
    	{% endif %}
    </div>
    <div class="col-md-4 offrespeciale-contact-col-form">
    	<div class="offrespeciale-contact-col-form-content">
	        <div class="loading">
	            <img class="img-responsive" src='{{ asset("bundles/app/images/general/loader.gif")  }}' />
	        </div>
	    	<div class="even">	        
	            {{ form_label(form.message) }}
	            {{ form_errors(form.message) }}
	            {{ form_widget(form.message) }} 
	        </div>
	    	<div class="even">	        
	            {{ form_label(form.nom) }}
	            {{ form_errors(form.nom) }}
	            {{ form_widget(form.nom) }} 
	        </div>
	    	<div class="even">	        
	            {{ form_label(form.email) }}
	            {{ form_errors(form.email) }}
	            {{ form_widget(form.email) }} 
	        </div>
	        {{ form_rest(form) }}
        </div>
        <div class="alert alert-success btn-sent" role="alert">{{'message_sent'|trans}}...</div>
		<button type="submit" class="btn-send center-block btn btn-warning">{{'send_to_skipper'|trans}}</button>
    </div>
</div>