{% extends "AppBundle:Front:OffreSpeciale/offrespeciale.html.twig" %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/app/js/offrespeciale_contact.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        var urlOffreSpecialeContactAjax = "{{ path('offrespeciale_contact_send', {'id': offreSpeciale.id }) }}";
    </script>
{% endblock %}
{% block content %}
    {{ parent() }}	    
    {% set format = app.request.locale == "en" ? 'm/d/Y' : 'd/m/Y' %}
    <div id="tarifOffre" class="offre-contact col-md-8">
	    <h2>{{'cruise_recap'|trans }}</h2>
        <div class="subblock-periode">
		    <strong>Skipper: </strong> {{ offreSpeciale.skipper.name }}<br />
		    <strong>{{'offrespeciale_boat'|trans }}: </strong> {{ offreSpeciale.bateau.name }}<br />
		    <strong>{{'departure_date'|trans }}:</strong> {{ offreSpeciale.dateDebut|date(format) }}<br />
		    <strong>{{'return_date'|trans }}:</strong> {{ offreSpeciale.dateFin|date(format) }}<br />
		    <strong>{{'form_sejour_portdepart'|trans }}</strong> {{ offreSpeciale.portDepart.name }}<br />
		    <strong>{{'form_sejour_destination'|trans }}</strong> {{ offreSpeciale.destination.name }}<br />
		    <strong>{{'nb_cabine_dispo'|trans }}:</strong> {{ offreSpeciale.nbCabine }}
		    <div class="price btn btn-lg btn-primary pull-right">
			  	${% if offreSpeciale.tarifHuitPersonnes > 0 %}
			  		{{ offreSpeciale.tarifHuitPersonnes }}
		  		 {% elseif offreSpeciale.tarifSeptPersonnes > 0 %}
		  		 	{{ offreSpeciale.tarifSeptPersonnes }}
		  		 {% elseif offreSpeciale.tarifSixPersonnes > 0 %}
		  		 	{{ offreSpeciale.tarifSixPersonnes }}
		  		 {% elseif offreSpeciale.tarifCinqPersonnes > 0 %}
		  		 	{{ offreSpeciale.tarifCinqPersonnes }}
		  		 {% elseif offreSpeciale.tarifQuatrePersonnes > 0 %}
		  		 	{{ offreSpeciale.tarifQuatrePersonnes }}
		  		 {% elseif offreSpeciale.tarifTroisPersonnes > 0 %}
		  		 	{{ offreSpeciale.tarifTroisPersonnes }}
		  		 {% elseif offreSpeciale.tarifDeuxPersonnes > 0 %}
		  		 	{{ offreSpeciale.tarifDeuxPersonnes }}
				 {% endif %}/ {{ offreSpeciale.tarifPour|trans }}
			</div>
        </div>
        <div class="tarif-accordion">
	        <h3 class="periode_inclus_prix">
	            {{'inclus_prix'|trans }}
	        </h3>      
	        <div class="subblock-periode">
	        	{% if inclusprixequipage|length > 0 %}
	        		<div class="col-md-6">
		        		<div class="col-md-12 even">{{'the_crew'|trans }}</div>
                    	<div class="col-md-12 odd">{{ inclusprixequipage.name }}</div>
	        		</div>
	        	{% endif %}
	        	{% if inclusprixavitaillement|length > 0 %}
	        		<div class="col-md-6">
		        		<div class="col-md-12 even">{{'fueling'|trans }}</div>
		        		{% for inclusprix in inclusprixavitaillement %}
	                    	<div class="col-md-12 odd">{{ inclusprix.name }}</div>
	                	{% endfor %}
	        		</div>
	        	{% endif %}
	        	{% if inclusprixfraisdevoyage|length > 0 %}
	        		<div class="col-md-6">
		        		<div class="col-md-12 even">{{'frais_de_voyage'|trans }}</div>
		        		{% for inclusprix in inclusprixfraisdevoyage %}
	                    	<div class="col-md-12 odd">{{ inclusprix.name }}</div>
	                	{% endfor %}
	        		</div>
	        	{% endif %}
	        	{% if inclusprixautresservices|length > 0 %}
	        		<div class="col-md-6">
		        		<div class="col-md-12 even">{{'boat_otherservice'|trans }}</div>
		        		{% for inclusprix in inclusprixautresservices %}
	                    	<div class="col-md-12 odd">{{ inclusprix.name }}</div>
	                	{% endfor %}
	        		</div>
	        	{% endif %}
	        	{% if inclusprixequipement|length > 0 %}
	        		<div class="col-md-6">
		        		<div class="col-md-12 even">{{'boat_equipments'|trans }}</div>
		        		{% for inclusprix in inclusprixequipement %}
	                    	<div class="col-md-12 odd">{{ inclusprix.name }}</div>
	                	{% endfor %}
	        		</div>
	        	{% endif %}
	        	{% if inclusprixactivite|length > 0 %}
	        		<div class="col-md-6">
		        		<div class="col-md-12 even">{{'boat_activity'|trans }}</div>
		        		{% for inclusprix in inclusprixactivite %}
	                    	<div class="col-md-12 odd">{{ inclusprix.name }}</div>
	                	{% endfor %}
	        		</div>
	        	{% endif %}
	        	{% if inclusprixcours is not null %}
	        		<div class="col-md-6">
		        		<div class="col-md-12 even">{{'boat_cours'|trans }}</div>
		        		{% for inclusprix in inclusprixcours %}
	                    	<div class="col-md-12 odd">{{ inclusprix.name }}</div>
	                	{% endfor %}
	        		</div>
	        	{% endif %}
	        </div>  
	        {% if offreSpeciale.servicepayant is not null %}
		        <div class="tarif-accordion">
			        <h3 class="periode-title">
			            {{'en_option'|trans }}
			        </h3>
	                <div class="subblock-periode servicepayant">
	                	{% set currentCategory = null %}
		        		{% for service in offreSpeciale.servicepayant %}
			        		{% if service.categorie != currentCategory %}
			        			{% set currentCategory = service.categorie %}
		                    	<div class="col-md-5 even text-center">{{service.categorie|trans}}</div>
		                    	<div class="col-md-5 even text-center">{{'boat_price'|trans }}</div>
		                    	<div class="col-md-2 even text-center">{{'selectionner'|trans }}</div>
		                    {% endif %}
		                    <div class="col-md-5 odd">{{service.name}}</div>
		                    {% if service.fraisSupplementaires > 0 %}
		                    	
		                    	<div class="col-md-5 odd">{% if service.devise == "$"%}{{service.devise}}{%endif%}{{service.fraisSupplementaires}}{% if service.devise == "€"%}{{service.devise}}{%endif%} {{service.tarifApplique|trans}}</div>
		                    {% else %}
		                    	<div class="col-md-5"></div>
	                    	{% endif %}
		                    <div class="col-md-2 text-center"><input type="checkbox" class="selection" name="servicepayant[]" value="{{ service.id }}" /></div>
	                    {% endfor %}
	                </div>
		        </div>
	    	{% endif %}
    	</div>
    </div>
    <div class="col-md-4 offrespeciale-contact-col-form">
    	<div class="offrespeciale-contact-col-form-content">
	        <div class="loading">
	            <img class="img-responsive" src='{{ asset("bundles/app/images/general/loader.gif")  }}' />
	        </div>
	    	<div class="even">	        
	            {{ form_label(form.message) }}
	            {{ form_errors(form.message) }}
	            {{ form_widget(form.message) }} 
	        </div>
	    	<div class="odd">	        
	            {{ form_label(form.nom) }}
	            {{ form_errors(form.nom) }}
	            {{ form_widget(form.nom) }} 
	        </div>
	    	<div class="even">	        
	            {{ form_label(form.email) }}
	            {{ form_errors(form.email) }}
	            {{ form_widget(form.email) }} 
	        </div>
	        {{ form_rest(form) }}
        </div>
        <div class="alert alert-success btn-sent" role="alert">{{'message_sent'|trans}}...</div>
		<button type="submit" class="btn-send center-block btn btn-warning">{{'send_to_skipper'|trans}}</button>
    </div>
{% endblock %}