{% extends "AppBundle:Front:layout.html.twig" %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" media="all" href="{{ asset('bundles/app/css/offresspeciales.css') }}">
{% endblock %}   
{% block title %}{{'toptitle'|trans}} - {{'offres_speciales'|trans}}{% endblock %}
{% block content %}
    {% set format = app.request.locale == "en" ? 'm/d/Y' : 'd/m/Y' %}
    <h1 class="specials-offers-title">{{'offres_speciales'|trans}}</h1>
	{% for offreSpeciale in offresSpeciales  %}
	  	<div class="col-md-4">
	  		<div class="description panel panel-info">
	  			<div class="panel-heading">
		  			<h2 class="panel-title">
		  				{{ offreSpeciale.name }}<br />
			  			{{'departure_date'|trans}} {{ offreSpeciale.dateDebut|date(format) }}
				  	</h2>
				</div>
			  	<div class="panel-body">
		  			<img class="img-responsive special-offer-img" src="{{ offreSpeciale.miniatureWebPath }}" />
				  	<div class="col-md-4 type text-center">
					  	<img class="img-thumbnail center-block" src="{{ asset('bundles/app/images/icones/boat/1-icons-boat-tech-file-50pix-' ~ offreSpeciale.bateau.type|lower ~ '-noir.png') }}" />
					  	{{ offreSpeciale.bateau.type }}
				  	</div>
				  	<div class="col-md-4 text-center">
					  	<img class="img-thumbnail center-block" src="{{ offreSpeciale.bateau.inclusPrixEquipage.iconeWebPath }}" />
					  	{{ offreSpeciale.bateau.inclusPrixEquipage.name }}
				  	</div>
				  	<div class="col-md-4 text-center">
					  	{% for inclusPrixAvitaillement in offreSpeciale.bateau.inclusPrixAvitaillement %}
					  		{% if loop.index == 1 %}
					  			<img class="img-thumbnail center-block" src="{{ inclusPrixAvitaillement.iconeWebPath }}" />
					  		{% endif %}
					  		{{ inclusPrixAvitaillement.name }}
					  	{% endfor %}
				  	</div>
			  		<div class="description-content">
			  		{{ offreSpeciale.description|striptags|slice(0,150)|raw }}...
			  		</div>
				  	<div class="price btn btn-sm btn-primary pull-left">
					  	${% if offreSpeciale.tarifHuitPersonnes > 0 %}{{ (offreSpeciale.tarifHuitPersonnes/8)|round }}{% elseif offreSpeciale.tarifSeptPersonnes > 0 %}{{ (offreSpeciale.tarifSeptPersonnes/7)|round }}
				  		 {% elseif offreSpeciale.tarifSixPersonnes > 0 %}{{ (offreSpeciale.tarifSixPersonnes/6)|round }}{% elseif offreSpeciale.tarifCinqPersonnes > 0 %}{{ (offreSpeciale.tarifCinqPersonnes/5)|round }}
			  		 	 {% elseif offreSpeciale.tarifQuatrePersonnes > 0 %}{{ (offreSpeciale.tarifQuatrePersonnes/4)|round }}{% elseif offreSpeciale.tarifTroisPersonnes > 0 %}{{ (offreSpeciale.tarifTroisPersonnes/3)|round }}
				  		 {% elseif offreSpeciale.tarifDeuxPersonnes > 0 %}{{ (offreSpeciale.tarifDeuxPersonnes/2)|round }}{% endif %}/ {{ offreSpeciale.tarifPour|trans }}
			  		</div>
			  		<a href="{{ path('offrespeciale', { id: offreSpeciale.id}) }}" class="btn btn-warning btn-sm pull-right btn-more">{{'infos'|trans }}</a>
		  		</div>
		  	</div>
	  	</div>
	{% endfor %}
{% endblock content %}