<h1 class='special-offer-title'>{{ offrespeciale.name }}</h1>
<div role="tabpanel" class="submenu">
    <ul class="nav nav-tabs" role="tablist">
	    <li role="presentation" class="active"><a href="#presentation" class="offrespeciale-home" aria-controls="home" role="tab" data-toggle="tab">{{'offrespeciale_presentation'|trans}}</a></li>
	    <li role="presentation"><a href="#crew" class="offrespeciale-crew" aria-controls="crew" role="tab" data-toggle="tab">{{'boat_crew'|trans}}</a></li>
	    <li role="presentation"><a href="#boat" class="offrespeciale-boat" aria-controls="boat" role="tab" data-toggle="tab">{{'offrespeciale_boat'|trans}}</a></li>
	    <li role="presentation"><a href="#destination" class="offrespeciale-desti" aria-controls="destination" role="tab" data-toggle="tab">{{'boat_desti'|trans}}</a></li>
	    <li role="presentation"><a href="#price" class="offrespeciale-price" aria-controls="price" role="tab" data-toggle="tab">{{'boat_price'|trans}}</a></li>
	    <li role="presentation"><a href="#contact" class="offrespeciale-contact" aria-controls="contact" role="tab" data-toggle="tab">{{'boat_contact'|trans}}</a></li>
	</ul>
</div>