{% extends "AppBundle:Front:OffreSpeciale/offrespeciale.html.twig" %}
{% block content %}
    {{ parent() }}
    <div class="col-md-9">
        {{ offreSpeciale.description|raw }}
    </div>
    <div class="col-md-3 boat-prestation">
	<h2 class="boat-prestation-title">{{'boat_prestation_available'|trans }}</h2>
    	{% for prestation in prestations %}
    		<div class="prestation">
    			<img src="{{ prestation.iconeWebPath }}" class="img-responsive img-thumbnails pull-left" />
    			{{ prestation.name }}
    		</div>
    	{% endfor %}
    </div>
{% endblock %}