{% set format = app.request.locale == "en" ? 'm/d/Y' : 'd/m/Y' %}
<div class="col-md-9">
    {{ offreSpeciale.destination.description|raw }}
</div>
<div class="col-md-3 offre-desti panel panel-info">
	<div class="panel-heading">
		<h2 class="panel-title">{{'cruise_to'|trans}} {{ offreSpeciale.destination.name }}</h2>
    </div>
    <div class="panel-body">
        {{'departure_date'|trans}}: {{ offreSpeciale.dateDebut|date(format) }}<br />
        {{'return_date'|trans}}: {{ offreSpeciale.dateFin|date(format) }}<br />
        {{'cruise_to'|trans}}: {{ offreSpeciale.portDepart.name }}<br />
        {{'nb_cabine_dispo'|trans}}: {{ offreSpeciale.nbCabine }}<br />
        {{'inclus_prix'|trans }}: 
        <ul>
            {% for inclus in inclusprixavitaillement %}<li>{{ inclus.name }}</li>{% endfor %}
            {% for inclus in inclusprixequipage %}<li>{{ inclus.name }}</li>{% endfor %}
            {% for inclus in inclusprixfraisdevoyage %}<li>{{ inclus.name }}</li>{% endfor %}
            {% for inclus in inclusprixautresservices %}<li>{{ inclus.name }}</li>{% endfor %}
            {% for inclus in inclusprixequipement %}<li>{{ inclus.name }}</li>{% endfor %}
            {% for inclus in inclusprixactivite %}<li>{{ inclus.name }}</li>{% endfor %}
            {% for inclus in inclusprixcours %}<li>{{ inclus.name }}</li>{% endfor %}
        </ul>
	    <a href="{{ path('skipper', { 'id': skipper.id }) }}#contact" class="btn btn-warning pull-right"">{{'contact_skipper'|trans }}</a>
    </div>
</div>