{% extends "AppBundle:Front:OffreSpeciale/offrespeciale.html.twig" %}
{% block content %}
    {{ parent() }}
    <div class="col-md-9">
        {{ offreSpeciale.description|raw }}
        <a href="{{ path('skipper_contact', { 'id': offreSpeciale.skipper.id }) }}" class="btn btn-warning">{{'contact_skipper'|trans}}</a> 
    </div>
    <div class="col-md-3 boat-prestation">
		<h2 class="boat-prestation-title">{{'boat_prestation_available'|trans }}</h2>
    	{% for prestation in prestations %}
    		<div class="prestation">
    			<img src="{{ prestation.iconeWebPath|replace({ ('75'): '25' }) }}" class="img-responsive img-thumbnails pull-left" />
    			{{ prestation.name }}
    		</div>
    	{% endfor %}
    </div>
{% endblock %}