{% extends "AppBundle:Front:OffreSpeciale/offrespeciale.html.twig" %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/app/js/offrespeciale_price.js') }}" type="text/javascript"></script>
{% endblock %}
{% block content %}
    {{ parent() }}
    {% set format = app.request.locale == "en" ? 'm/d/Y' : 'd/m/Y' %}
    <div class="col-md-6">
    	<div id="tarifOffre" class="panel panel-info">
	    	<div class="panel-heading">
		        <h3 class="panel-title">{{'tarif_croisiere_title'|trans }} - {{'tarif_croisiere_from'|trans }} {{ offreSpeciale.dateDebut|date(format) }}
		        {{'tarif_croisiere_to'|trans }} {{ offreSpeciale.dateFin|date(format) }}</h3>
	        </div>
	        <div class="panel-body">
	        	{{'tarif_croisiere_nbcabine'|trans }}{{ offreSpeciale.nbCabine }}<br />
	        	{{'periode_tarif_cruise_pour'|trans }} {{ offreSpeciale.tarifPour|trans }}
	            <table>
	                <tr class="periode-table-personne"><td class="periode-table-title">{{'nombre_de_personne'|trans }}</td>
	                    {% if offreSpeciale.tarifDeuxPersonnes is not null %}<td>2</td>{% endif %}
	                    {% if offreSpeciale.tarifTroisPersonnes is not null %}<td>3</td>{% endif %}
	                    {% if offreSpeciale.tarifQuatrePersonnes is not null %}<td>4</td>{% endif %}
	                    {% if offreSpeciale.tarifCinqPersonnes is not null %}<td>5</td>{% endif %}
	                    {% if offreSpeciale.tarifSixPersonnes is not null %}<td>6</td>{% endif %}
	                    {% if offreSpeciale.tarifSeptPersonnes is not null %}<td>7</td>{% endif %}
	                    {% if offreSpeciale.tarifHuitPersonnes is not null %}<td>8</td>{% endif %}
	                </tr>
	                <tr><td class="periode-table-title">{{'prix_par_personne'|trans }}</td>
	                    {% if offreSpeciale.tarifDeuxPersonnes is not null %}<td>{{ offreSpeciale.tarifDeuxPersonnes }}</td>{% endif %}
	                    {% if offreSpeciale.tarifTroisPersonnes is not null %}<td>{{ offreSpeciale.tarifTroisPersonnes }}</td>{% endif %}
	                    {% if offreSpeciale.tarifQuatrePersonnes is not null %}<td>{{ offreSpeciale.tarifQuatrePersonnes }}</td>{% endif %}
	                    {% if offreSpeciale.tarifCinqPersonnes is not null %}<td>{{ offreSpeciale.tarifCinqPersonnes }}</td>{% endif %}
	                    {% if offreSpeciale.tarifSixPersonnes is not null %}<td>{{ offreSpeciale.tarifSixPersonnes }}</td>{% endif %}
	                    {% if offreSpeciale.tarifSeptPersonnes is not null %}<td>{{ offreSpeciale.tarifSeptPersonnes }}</td>{% endif %}
	                    {% if offreSpeciale.tarifHuitPersonnes is not null %}<td>{{ offreSpeciale.tarifHuitPersonnes }}</td>{% endif %}
	                </tr>
	                <tr><td class="periode-table-title">{{'prix_du_bateau'|trans }}</td>
	                    {% if offreSpeciale.tarifDeuxPersonnes is not null %}<td>{{ offreSpeciale.tarifDeuxPersonnes * 2 }}</td>{% endif %}
	                    {% if offreSpeciale.tarifTroisPersonnes is not null %}<td>{{ offreSpeciale.tarifTroisPersonnes * 3 }}</td>{% endif %}
	                    {% if offreSpeciale.tarifQuatrePersonnes is not null %}<td>{{ offreSpeciale.tarifQuatrePersonnes * 4 }}</td>{% endif %}
	                    {% if offreSpeciale.tarifCinqPersonnes is not null %}<td>{{ offreSpeciale.tarifCinqPersonnes * 5 }}</td>{% endif %}
	                    {% if offreSpeciale.tarifSixPersonnes is not null %}<td>{{ offreSpeciale.tarifSixPersonnes * 6 }}</td>{% endif %}
	                    {% if offreSpeciale.tarifSeptPersonnes is not null %}<td>{{ offreSpeciale.tarifSeptPersonnes * 7 }}</td>{% endif %}
	                    {% if offreSpeciale.tarifHuitPersonnes is not null %}<td>{{ offreSpeciale.tarifHuitPersonnes * 8 }}</td>{% endif %}
	                </tr>
	            </table>
	    	</div>
    	</div>
	    <div class="offre-prestation-container panel panel-info">
			<div class="panel-heading">
				<h2 class="offre-prestation-title panel-title">{{'boat_prestation_available'|trans }}</h2>
			</div>
	    	<div class="offre-prestation panel-body panel-body-padding">
		    	{% for prestation in prestations %}
		    		<div class="prestation">
		    			<img src="{{ prestation.iconeWebPath|replace({ ('75'): '25' }) }}" class="img-responsive img-thumbnails pull-left" />
		    			<div class="prestation-name">{{ prestation.name }}</div>
		    		</div>
		    	{% endfor %}
	    	</div>
	    	<div class="text-center">
		    	<a href="{{ path('skipper_contact', { 'id': offreSpeciale.skipper.id }) }}" class="btn btn-warning">{{'contact_skipper'|trans}}</a> 
	    	</div>
	    </div>
	</div>
    <div class="col-md-6">
    	<div class="panel panel-info">
	    	<div class="panel-heading">
		        <h3 class="periode_inclus_prix panel-title">
		            {{'inclus_prix'|trans }}
		        </h3>      
	        </div>
	        <div class="panel-body panel-body-padding">
	        	{% if inclusprixequipage|length > 0 %}
	        		<div class="even">{{'the_crew'|trans }}</div>
                	<ul>
                		<li>{{ inclusprixequipage.name }}</li>
                	</ul>
	        	{% endif %}
	        	{% if inclusprixavitaillement|length > 0 %}
            		<div class="even">{{'fueling'|trans }}</div>
            		<ul>
		        		{% for inclusprix in inclusprixavitaillement %}
	                    	<li>{{ inclusprix.name }}</li>
	                	{% endfor %}
                	</ul>
	        	{% endif %}
	        	{% if inclusprixfraisdevoyage|length > 0 %}
	        		<div class="even">{{'frais_de_voyage'|trans }}</div>
	        		<ul>
		        		{% for inclusprix in inclusprixfraisdevoyage %}
	                    	<li>{{ inclusprix.name }}</li>
	                	{% endfor %}
                	</ul>
	        	{% endif %}
	        	{% if inclusprixautresservices|length > 0 %}
	        		<div class="even">{{'boat_otherservice'|trans }}</div>
	        		<ul>
		        		{% for inclusprix in inclusprixautresservices %}
	                    	<li>{{ inclusprix.name }}</li>
	                	{% endfor %}
                	</ul>
	        	{% endif %}
	        	{% if inclusprixequipement|length > 0 %}
	        		<div class="even">{{'boat_equipments'|trans }}</div>
	        		<ul>
		        		{% for inclusprix in inclusprixequipement %}
	                    	<li>{{ inclusprix.name }}</li>
	                	{% endfor %}
                	</ul>
	        	{% endif %}
	        	{% if inclusprixactivite|length > 0 %}
        			<div class="even">{{'boat_activity'|trans }}</div>
	        		<ul>
		        		{% for inclusprix in inclusprixactivite %}
	                    	<li>{{ inclusprix.name }}</li>
	                	{% endfor %}
                	</ul>
	        	{% endif %}
	        	{% if inclusprixcours is not null %}
	        		<div class="even">{{'boat_cours'|trans }}</div>
	        		<ul>
		        		{% for inclusprix in inclusprixcours %}
	                    	<li>{{ inclusprix.name }}</li>
	                	{% endfor %}
                	</ul>
	        	{% endif %}
	        </div>
        </div>
        {% if servicepayant is not null %}
	        <div class="panel panel-info ">
	        	<div class="panel-heading">
			        <h3 class="periode-title panel-title">
			            {{'en_option'|trans }}
			        </h3>
		        </div>
                <div class="panel-body servicepayant panel-body-padding">
                	{% set currentCategory = null %}
	        		{% for service in offreSpeciale.servicepayant %}
		        		{% if service.categorie != currentCategory %}
	                    	<div class="even service-payant-categorie">{{service.categorie|trans}}</div>
	                    	<ul>
	                    {% endif %}
	                    <li>{{service.name}}  
			            	{% if service.devise == "$"%}{{service.devise}}{%endif%} {% if service.fraisSupplementaires > 0 %}{{service.fraisSupplementaires}}{% if service.devise == "€"%}{{service.devise}}{%endif%} {{service.tarifApplique|trans }}{% endif %}
		            	</li>
		            	{% if service.categorie != currentCategory %}
		        			{% set currentCategory = service.categorie %}
		        			</ul>
	                    {% endif %}
                    {% endfor %}
                </div>
	        </div>
    	{% endif %}  
    </div>
{% endblock content %}