<div class="offrespeciale-boat">
	<div class="col-fiche-bateau col-md-6 panel panel-info">
        <div class="panel-heading">
        	<h2 class="panel-title">{{'boat_configuration'|trans}}</h2>
        </div>
        <div class="panel-body panel-body-padding">
	        <div class="block-boat-spec"><img src="{{ asset('bundles/app/images/icones/boat/icon-boat.png') }}" class="pull-left"  /><div class="boat-spec-content">{{boat.type}}</div></div>
	        <div class="block-boat-spec"><img src="{{ asset('bundles/app/images/icones/boat/icon-cabins.png') }}" class="pull-left"  /><div class="boat-spec-content">{{boat.nbCabine}} {{'boat_cabine'|trans}}</div></div>
	        {% if (boat.nbCouchage > 0) %}
	        	<div class="block-boat-spec">
	        		<img src="{{ asset('bundles/app/images/icones/boat/icon-bed.png') }}" class="pull-left" />
	        		<div class="boat-spec-content">
	        			{{boat.nbCouchage}} {{'boat_bed'|trans}}
				        {% if (boat.nbLitDouble > 0) %} - {{boat.nbLitDouble}} {{'boat_beddouble'|trans}}{% endif %}
				        {% if (boat.nbLitSimple > 0) %} - {{boat.nbLitSimple}} {{'boat_bedsimple'|trans}}{% endif %}
	        		</div>
        		</div>
    		{% endif %}
	        {% if (boat.nbDouche > 0) %}<div class="block-boat-spec"><img src="{{ asset('bundles/app/images/icones/boat/icon-bathroom.png') }}" class="pull-left" /><div class="boat-spec-content">{{boat.nbDouche}} {{'boat_shower'|trans}}</div></div>{% endif %}
	        <h3>{{'boat_specificites'|trans}}</h3>
	        <div class="block-boat-spec"><img src="{{ asset('bundles/app/images/icones/boat/icon-width.png') }}" class="pull-left" /><div class="boat-spec-content multiline">
	        	{% if boat.longueur is not null %}{{'boat_length'|trans}}: {{boat.longueur}} - {% endif %}
		        {% if boat.largeur is not null %} {{'boat_width'|trans}}: {{boat.largeur}} - {% endif %}
		        {% if boat.tirantDEau is not null %} {{'boat_draft'|trans}}: {{boat.tirantDEau}} - {% endif %}
		        {% if boat.surfacegrandvoile is not null %} {{'boat_main_sail'|trans}}: {{boat.surfacegrandvoile}}{% endif %}
	        </div></div>
	        {% if boat.moteur is not null %}<div class="block-boat-spec"><img src="{{ asset('bundles/app/images/icones/boat/icon-motor.png') }}" class="pull-left" /><div class="boat-spec-content">{{'boat_motor'|trans}}: {{boat.moteur}}</div></div>{% endif %}
	        {% if boat.reservoirCarburant is not null %}<div class="block-boat-spec"><img src="{{ asset('bundles/app/images/icones/boat/icon-fuel.png') }}" class="pull-left" /><div class="boat-spec-content">{{'boat_fuelcapacity'|trans}}: {{boat.reservoirCarburant}}</div></div>{% endif %}
	        {% if boat.reservoirEau is not null %}<div class="block-boat-spec"><img src="{{ asset('bundles/app/images/icones/boat/icon-water.png') }}" class="pull-left" /><div class="boat-spec-content">{{'boat_watercapacity'|trans}}: {{boat.reservoirEau}}</div></div>{% endif %}
	        <h3>{{'boat_equipments'|trans}}</h3>
	        {% if boat.energie is not null %}<div class="block-boat-spec"><img src="{{ asset('bundles/app/images/icones/boat/icon-power.png') }}" class="pull-left" /><div class="boat-spec-content">{{'boat_power'|trans}}: {{boat.energie}}</div></div>{% endif %}
	        {% if boat.equipementCuisine is not null %}<div class="block-boat-spec"><img src="{{ asset('bundles/app/images/icones/boat/icon-galley.png') }}" class="pull-left" /><div class="boat-spec-content">{{'boat_galley'|trans}}: {{boat.equipementCuisine}}</div></div>{% endif %}
	        {% if boat.dinghy is not null %}<div class="block-boat-spec"><img src="{{ asset('bundles/app/images/icones/boat/icon-dinghy.png') }}" class="pull-left" /><div class="boat-spec-content">{{'boat_dinghy'|trans}}: {{boat.dinghy}}</div></div>{% endif %}
	        <h3>{{'boat_activity'|trans}}</h3>
	        {% if boat.loisir is not null %}<div class="block-boat-spec"><img src="{{ asset('bundles/app/images/icones/boat/icon-entertainment.png') }}" class="pull-left" /><div class="boat-spec-content multiline">{{'boat_loisir'|trans}}: {{boat.loisir}}</div></div>{% endif %}
	        {% if boat.jouet is not null %}<div class="block-boat-spec"><img src="{{ asset('bundles/app/images/icones/boat/icon-hifi.png') }}" class="pull-left" /><div class="boat-spec-content multiline">{{'boat_jouet'|trans}}: {{boat.jouet}}</div></div>{% endif %}
    	</div>
    </div>
	<div class="col-md-6 img-details">
            {% if boat.miniatureWebPath is not null %}<img class="col-md-6 img-thumbnail img-responsive img-detail" src="{{ boat.miniatureWebPath }}" alt="photo voile" />{% endif %}
            {% if boat.photoVoileWebPath is not null %}<img class="col-md-6 img-thumbnail img-responsive img-detail" src="{{ boat.photoVoileWebPath }}" alt="photo voile" />{% endif %}
            {% if boat.photoMouillageWebPath is not null %}<img class="col-md-6 img-thumbnail img-responsive img-detail" src="{{ boat.photoMouillageWebPath }}" alt="photo mouillage" />{% endif %}
            {% if boat.photoCockpitWebPath is not null %}<img class="col-md-6 img-thumbnail img-responsive img-detail" src="{{ boat.photoCockpitWebPath }}" alt="photo cockpit"  />{% endif %}
            {% if boat.photoCarreWebPath is not null %}<img class="col-md-6 img-thumbnail img-responsive img-detail" src="{{ boat.photoCarreWebPath }}" alt="photo carre" />{% endif %}
            {% if boat.photoCabineWebPath is not null %}<img class="col-md-6 img-thumbnail img-responsive img-detail" src="{{ boat.photoCabineWebPath }}" alt="photo cabine" />{% endif %}
            <div class="col-md-12 text-center">
                {% if skipper is not null %}<a href="{{ path('skipper_contact', {'id': skipper.id }) }}" class="btn btn-warning">{{'contact_skipper'|trans}}</a>{% endif %}
                <a href="{{ path('boat_available', {'id': boat.id }) }}" class=" btn btn-danger">{{'see_available'|trans}}</a>
            </div>
    </div>
</div>