{% extends "AppBundle:Front:OffreSpeciale/offrespeciale.html.twig" %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/app/js/offrespeciale_desti.js') }}" type="text/javascript"></script>
{% endblock %}
{% block content %}
    {{ parent() }}
    <div class="col-md-9">
        {{ offreSpeciale.destination.description|raw }}
    </div>
    <div class="col-md-3">
        <h2>{{'cruise_to'|trans}} {{ offreSpeciale.destination.name }}</h2>
        {{'departure_date'|trans}}: {{ offreSpeciale.dateDebut|date('d/m/Y') }}<br />
        {{'return_date'|trans}}: {{ offreSpeciale.dateFin|date('d/m/Y') }}<br />
        {{'cruise_to'|trans}}: {{ offreSpeciale.portDepart.name }}<br />
        {{'nb_cabine_dispo'|trans}}: {{ offreSpeciale.nbCabine }}<br />
        {{'inclus_prix'|trans }}: 
        <ul>
            {% for inclus in inclusPrix %}
                <li>{{ inclus.name }}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock content %}