{% set route = app.request.get('_route') %}
<html xml:lang="{{ app.request.locale }}" lang="{{ app.request.locale }}">
    <head>
        <title>{% block page_title %}{{'toptitle'|trans}}{% endblock %}</title>
        {{ sonata_seo_head_attributes() }}
        {{ sonata_seo_metadatas() }}
        {{ sonata_seo_link_canonical() }}
        {{ sonata_seo_lang_alternates() }}
	    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
	    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
	    {% block javascripts %}
	        <script src="{{ asset('bundles/appmain/js/lib/modernizr.js') }}" type="text/javascript"></script> 
	        <script src="{{ asset('bundles/appmain/js/lib/jquery.js') }}" type="text/javascript"></script>
	        <script src="{{ asset('bundles/appmain/js/lib/jquery-ui.min.js') }}" type="text/javascript"></script>
	        <script src="{{ asset('bundles/appmain/js/lib/bootstrap.js') }}" type="text/javascript"></script>      
	        <script src="{{ asset('bundles/appmain/js/script.js') }}" type="text/javascript"></script>        
		    <script>
		    	locale = "{{ app.request.locale }}";
		        route = "{{ route }}";
		    </script>
	    {% endblock %}
	    {% block stylesheets %}
	        <link rel="stylesheet" media="all" href="{{ asset('bundles/appmain/css/bootstrap.min.css') }}">
	        <link rel="stylesheet" media="all" href="{{ asset('bundles/appmain/css/lib/jquery-ui.css') }}">
	        <link rel="stylesheet" media="all" href="{{ asset('bundles/appmain/css/lib/jquery-ui.theme.css') }}">
            <link rel="stylesheet" media="all" href="{{ asset('bundles/appmain/css/responsive.css') }}">
            <link rel="stylesheet" media="all" href="{{ asset('bundles/appmain/css/red.css') }}">
	        <link rel="stylesheet" media="all" href="{{ asset('bundles/appmain/css/header.css') }}">
	        <link rel="stylesheet" media="all" href="{{ asset('bundles/appmain/css/style.css') }}">
	    {% endblock %}
	</head>
	<body> 
		<header class="header" id="top" data-stellar-background-ratio="0.5">
		    <div class="overlay-min">
		        <nav class="navbar navbar-fixed-top is-scrolling" role="navigation">
		            <div class="container">
		                <div class="row">
		                    <div class="col-md-12">
		                        <div class="navbar-header">
		                            <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
		                                <i class="icon icon_menu"></i>
		                            </button>
									<a href="{{ path('app_main_homepage') }}" class="navbar-brand img-logo scrollto" title="MyAbos">
		                                <img src="{{ asset('bundles/appmain/images/general/logo.png') }}" alt="logo MyAbos" />
		                            </a>
		                        </div>
		                        <div class="navbar-collapse collapse">
		                            <ul class="nav navbar-nav navbar-right">
		                                <li><a href="{{ path("app_front_office_contract_add") }}">Ajouter un contrat</a></li>
		                                <li><a href="{{ path("app_front_office_contract_list") }}">Résilier un contrat</a></li>
		                                <li>
											<ul class="nav navbar-nav">
							                    <li class="dropdown">
							                        <a class="dropdown-toggle" href="" data-toggle="dropdown">
											            <img width=20 src="{{ app.user.avatarWebPath }}" alt="Photo de profil" />
											            {{ app.user.firstname }} {{ app.user.lastname }} <b class="caret"></b>
							                        </a>
							                        <ul class="dropdown-menu">
							                            <li>
							                                <a href="{{ path('fos_user_profile_show') }}">{{ 'my_account'|trans }}</a>
							                            </li>
							                            <li>
							                                <a href="{{ path('fos_user_security_logout') }}">{{ 'logout'|trans }}</a>
							                            </li>
							                        </ul>
							                    </li>
							                </ul>
										</li>
		                            </ul>
		                        </div>
		                    </div>
		                </div>
		            </div>
		            
		        </nav>
			</div>
		</header>  
		<div class="container">
			{% if is_granted('IS_AUTHENTICATED_FULLY') %}
		    	<ul class="nav nav-tabs nav-justified">
			        <li role="presentation" {% if route starts with "app_front_office_contract" %}class="active"{% endif %}><a href="{{ path('app_front_office_contract_list') }}">Gestion de mes contrats</a></li>
			        <li role="presentation" {% if route starts with "app_front_office_spending" %}class="active"{% endif %}><a href="{{ path('app_front_office_spending') }}">Mes dépenses</a></li>
			        <li role="presentation" {% if route starts with "app_front_office_alert" %}class="active"{% endif %}><a href="{{ path('app_front_office_alert') }}">Mes alertes</a></li>
			        {% if is_granted('ROLE_ADMIN') %}
						 <li role="presentation" {% if route starts with "app_backofficebundle" %}class="active"{% endif %}><a href="{{ path("app_backofficebundle_home") }}">Administration</a></li>
			        {% endif %}
		        </ul>
		    {% endif %}
		    {% block flash %}
			    {% for flashMessage in app.session.flashbag.get('notice') %}
			        <div>
			            {{ flashMessage }}
			        </div>
			    {% endfor %}
			    {% for flashMessage in app.session.flashbag.get('error') %}
			        <div>
			            {{ flashMessage }}
			        </div>
			    {% endfor %}
		    {% endblock %}
			{% block content %}{% endblock %}
		</div>
		<footer class="footer dark-bg" id="footer">
		    <div class="container">
		        <div class="wrapper-lg">
		            <div class="row">
		                <div class="col-md-12">
		                    <ul class="footer-nav">
		                        <li><a href="#">Nos partenaires</a></li>
		                        <li><a href="{{ path('app_main_security') }}">Sécurité des données</a></li>
		                        <li><a href="{{ path('app_main_contact') }}">Nous contacter</a></li>
		                        <li><a href="{{ path('app_main_cgv') }}">Conditions générales</a></li>
		                    </ul>
		                    <p class="footer-copy">&copy; 2016 - MyAbos.</p>
		                </div>
		            </div>
		        </div>
		    </div>
		</footer>
	</body>
</html>