{% set route = app.request.get('_route') %}
<html xml:lang="{{ app.request.locale }}" lang="{{ app.request.locale }}">
    <head>
        <title>{% block page_title %}{{'toptitle'|trans}}{% endblock %}</title>
        {{ sonata_seo_head_attributes() }}
        {{ sonata_seo_metadatas() }}
        {{ sonata_seo_link_canonical() }}
        {{ sonata_seo_lang_alternates() }}
	    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
	    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
	    {% block javascripts %}
	        <script src="{{ asset('bundles/appmain/js/lib/modernizr.js') }}" type="text/javascript"></script> 
	        <script src="{{ asset('bundles/appmain/js/lib/jquery.js') }}" type="text/javascript"></script>
	        <script src="{{ asset('bundles/appmain/js/lib/jquery-ui.min.js') }}" type="text/javascript"></script>
	        <script src="{{ asset('bundles/appmain/js/lib/bootstrap.js') }}" type="text/javascript"></script>      
	        <script src="{{ asset('bundles/appmain/js/script.js') }}" type="text/javascript"></script>        
		    <script>
		    	locale = "{{ app.request.locale }}";
		        route = "{{ route }}";
		    </script>
	    {% endblock %}
	    {% block stylesheets %}
	        <link rel="stylesheet" media="all" href="{{ asset('bundles/appmain/css/bootstrap.min.css') }}">
	        <link rel="stylesheet" media="all" href="{{ asset('bundles/appmain/css/lib/jquery-ui.css') }}">
	        <link rel="stylesheet" media="all" href="{{ asset('bundles/appmain/css/lib/jquery-ui.theme.css') }}">
	        <link rel="stylesheet" media="all" href="{{ asset('bundles/appmain/css/header.css') }}">
	        <link rel="stylesheet" media="all" href="{{ asset('bundles/appmain/css/style.css') }}">
	    {% endblock %}
	</head>
	<body>  
		<div class="container">
		    {% block header %}
		    	<div class="header clearfix">
			    	<div class="col-md-2 pull-right text-centered">
				    	{% if is_granted('IS_AUTHENTICATED_FULLY') %}
				    		<div class="thumbnail avatar">
				    			<img src="{{ app.user.avatarWebPath }}" alt="Photo de profil" class="img-responsive center-block" />
				                <ul class="nav navbar-nav">
				                    <li class="dropdown">
				                        <a class="dropdown-toggle" href="" data-toggle="dropdown">{{ app.user.firstname }} {{ app.user.lastname }} <b class="caret"></b></a>
				                        <ul class="dropdown-menu">
				                            <li>
				                                <a href="{{ path('fos_user_profile_show') }}">{{ 'my_account'|trans }}</a>
				                            </li>
				                            <li>
				                                <a href="{{ path('fos_user_security_logout') }}">{{ 'logout'|trans }}</a>
				                            </li>
				                        </ul>
				                    </li>
				                </ul>
			                </div>
			            {% endif %}
			    	</div>
					<img src="{{ asset('bundles/appmain/images/general/logo.png') }}" alt="logo myabos" />
				</div>
				{% if is_granted('IS_AUTHENTICATED_FULLY') %}
			    	<ul class="nav nav-tabs nav-justified">
				        <li role="presentation" {% if route == "app_front_office_contract_list" %}class="active"{% endif %}><a href="{{ path('app_front_office_contract_list') }}">Gestion de mes contrats</a></li>
				        <li role="presentation"><a href="#">Mes dépenses</a></li>
				        <li role="presentation"><a href="#">Mes alertes</a></li>
			        </ul>
			    {% endif %}
		    {% endblock %}
		    {% block flash %}
		        {% for flashMessage in app.session.flashbag.get('notice') %}
		            <div>
		                {{ flashMessage }}
		            </div>
		        {% endfor %}
		        {% for flashMessage in app.session.flashbag.get('error') %}
		            <div>
		                {{ flashMessage }}
		            </div>
		        {% endfor %}
		    {% endblock %}
		    {% block content %}{% endblock %}
		    {% block footer %}{% endblock footer %}
		</div>
	</body>
</html>