{% extends "AppMainBundle::layout_home.html.twig" %}
{% block content %}
<link rel="stylesheet" media="all" href="{{ asset('bundles/appmain/css/contact.css') }}">
<script src="{{ asset('bundles/appmain/js/contact.js') }}" type="text/javascript"></script>
<script type="text/javascript">
    var urlContactAjax = "{{ path('app_main_contact_send') }}";
    var urlLogin = "{{ path("fos_user_security_check") }}";
    var urlDashboard = "{{ path("app_front_office_contract_list") }}";
</script>
<div class="preloader">
    <div class="loader-container">
        <div class="text-logo">MYABOS</div>
        <div class="signal"></div>
    </div>
</div> 
<header class="header" id="top" data-stellar-background-ratio="0.5">
    <div class="overlay-min">
        <nav class="navbar navbar-fixed-top is-scrolling" role="navigation">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="navbar-header">
                            <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                                <i class="icon icon_menu"></i>
                            </button>
							<a href="{{ path('app_main_homepage') }}" class="navbar-brand img-logo scrollto" title="MYABOS">
                                <img src="{{ asset('bundles/appmain/images/general/logo.png') }}" alt="logo MYABOS" />
                            </a>
                        </div>
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav navbar-right">
                            {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
	                                <li><a href="#about" title="" class="scrollto">A propos</a></li>
	                                <li><a href="#features" title="" class="scrollto">Fonctionnalités</a></li>
	                                <li><a href="#testimonials" title="" class="scrollto">Témoignages</a></li>
	                                <li><a class="btn btn-nav" data-toggle="modal" href="javascript:void(0)" onclick="openLoginModal();">Se connecter</a></li>
	                                <li><a class="btn btn-nav btn-signup" data-toggle="modal" href="javascript:void(0)" onclick="openRegisterModal();">S'inscrire</a></li> 
                            	{% else %}
                            		<li><a href="{{ path("app_front_office_contract_add") }}">Ajouter un contrat</a></li>
	                                <li><a href="{{ path("app_front_office_contract_list") }}">Résilier un contrat</a></li>
	                                <li>
										<ul class="nav navbar-nav">
						                    <li class="dropdown">
						                        <a class="dropdown-toggle" href="" data-toggle="dropdown">
										            <img width=20 src="{{ app.user.avatarWebPath }}" alt="Photo de profil" />
										            {{ app.user.firstname }} {{ app.user.lastname }} <b class="caret"></b>
						                        </a>
						                        <ul class="dropdown-menu">
						                            <li>
						                                <a href="{{ path('fos_user_profile_show') }}">{{ 'my_account'|trans }}</a>
						                            </li>
						                            <li>
						                                <a href="{{ path('fos_user_security_logout') }}">{{ 'logout'|trans }}</a>
						                            </li>
						                        </ul>
						                    </li>
						                </ul>
									</li>
                            	{% endif %}
                        	</ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
	        <div class="modal fade login" id="loginModal">
	            <div class="modal-dialog">
	                <div class="modal-content">
	                    <div class="modal-header">
	                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
	                            <i class="icon icon_close_alt2"></i>
	                        </button>
	                        <h4 class="modal-title">Se connecter à <span>MYABOS</span></h4>
	                    </div>
						<div class="modal-body">  
	                        <div class="box">
	                             <div class="content">
	                                <div class="loginBox">
	                                    <p class="lm-success"><i class="icon icon_check_alt2"></i> <strong> Connecté !</strong></p>
	                                    <p class="lm-failed"><i class="icon icon_close_alt2"></i><strong> Identifiants incorrects! Veuillez recommencer.</strong></p>
	                                    <p class="lm-failed-email"><i class="icon icon_close_alt2"></i><strong> Email invalide! Veuillez recommencer.</strong></p>
	                                    {{ render(controller('AppMainBundle:Security:login')) }}
	                                </div>
	                             </div>
	                        </div>
	                        
	                        <div class="content registerBox" style="display:none;">
	                            {{ render(controller('AppMainBundle:Registration:register')) }}
	                        </div>
	                        <div class="content passwordForgottenBox" style="display:none;">
		                        <p class="lm-failed invalid-username"><i class="icon icon_close_alt2"></i><strong> Cette adresse email n'est associée à aucun compte.<br /> Veuillez recommencer.</strong></p>
		                        <p class="lm-failed password-already-requested"><i class="icon icon_close_alt2"></i><strong> Un nouveau mot de passe a déjà été demandé pour cet utilisateur dans les dernières 24 heures.</strong></p>
		                        <p class="lm-success password-resetting-success"></p>
		                        {{ render(controller('AppMainBundle:Resetting:request')) }}
		                    </div>
	                    </div>
	                    <div class="modal-footer">
	                        <div class="forgot login-footer">
	                            <span>Pas encore inscrit? 
	                                 <a href="javascript:showRegisterForm();">S'enregistrer</a>
	                            </span>
	                        </div>
	                        <div class="forgot register-footer" style="display:none">
	                             <span>Déjà membre?</span>
	                             <a href="javascript:showLoginForm();">Se connecter</a>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
        {% endif %}
	</div>
</header> 
<div class="container">  
	<h2 class="text-color">Contact</h2>
    <div class="row">
        <div class="loading hide">
            <img class="img-responsive" src='{{ asset("bundles/appmain/images/general/loader.gif")  }}' />
        </div>        
        <div class="clearfix form-contact">
	    	<div class="col-md-6">
		        {{ form_errors(form.nom) }}
		        {{ form_widget(form.nom) }} 
	    	</div>
	    	<div class="col-md-6">
			    {{ form_errors(form.email) }}
		        {{ form_widget(form.email) }} 
	    	</div>
	    	<br /><br />
	    	<div class="col-md-12">
		        {{ form_errors(form.message) }}
		        {{ form_widget(form.message) }} 
	        </div>
    	</div>
        {{ form_rest(form) }}
   	 	<div class="alert alert-success btn-sent hide" role="alert">Message envoyé</div>
   	 	<div class="text-center">
			<button type="submit" class=" btn btn-danger btn-send">Envoyer</button>
		</div>
    </div>
</div>
{% endblock content %}