{% extends "AppMainBundle::layout_home.html.twig" %}
{% block content %}   
<script type="text/javascript">
    var urlLogin = "{{ path("fos_user_security_check") }}";
    var urlDashboard = "{{ path("app_front_office_contract_list") }}";
</script>
<div class="preloader">
    <div class="loader-container">
        <div class="text-logo">MyAbos</div>
        <div class="signal"></div>
    </div>
</div> 
<header class="header" id="top" data-stellar-background-ratio="0.5">
    <div class="overlay">
        <nav class="navbar navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="navbar-header">
                            <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                                <i class="icon icon_menu"></i>
                            </button>
							<a href="#top" class="navbar-brand img-logo scrollto" title="MyAbos">
                                <img src="{{ asset('bundles/appmain/images/general/logo.png') }}" alt="logo MyAbos" />
                            </a>
                        </div>
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="#about" title="" class="scrollto">A propos</a></li>
                                <li><a href="#features" title="" class="scrollto">Fonctionnalités</a></li>
                                <li><a href="#testimonials" title="" class="scrollto">Témoignages</a></li>
                                <li><a class="btn btn-nav" data-toggle="modal" href="javascript:void(0)" onclick="openLoginModal();">Se connecter</a></li>
                                <li><a class="btn btn-nav btn-signup" data-toggle="modal" href="javascript:void(0)" onclick="openRegisterModal();">S'inscrire</a></li> 
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <div class="modal fade login" id="loginModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            <i class="icon icon_close_alt2"></i>
                        </button>
                        <h4 class="modal-title">Se connecter à <span>MyAbos</span></h4>
                    </div>
					<div class="modal-body">  
                        <div class="box">
                             <div class="content">
                                <div class="loginBox">
                                    <p class="lm-success"><i class="icon icon_check_alt2"></i> <strong> Connecté !</strong></p>
                                    <p class="lm-failed"><i class="icon icon_close_alt2"></i><strong> Identifiants incorrects! Veuillez recommencer.</strong></p>
                                    <p class="lm-failed-email"><i class="icon icon_close_alt2"></i><strong> Email invalide! Veuillez recommencer.</strong></p>
                                    {{ render(controller('AppMainBundle:Security:login')) }}
                                </div>
                             </div>
                        </div>
                        
                        <div class="content registerBox" style="display:none;">
                            {{ render(controller('AppMainBundle:Registration:register')) }}
                        </div>
                        <div class="content passwordForgottenBox" style="display:none;">
	                        <p class="lm-failed invalid-username"><i class="icon icon_close_alt2"></i><strong> Cette adresse email n'est associée à aucun compte.<br /> Veuillez recommencer.</strong></p>
	                        <p class="lm-failed password-already-requested"><i class="icon icon_close_alt2"></i><strong> Un nouveau mot de passe a déjà été demandé pour cet utilisateur dans les dernières 24 heures.</strong></p>
	                        <p class="lm-success password-resetting-success"></p>
	                        {{ render(controller('AppMainBundle:Resetting:request')) }}
	                    </div>
                    </div>
                    <div class="modal-footer">
                        <div class="forgot login-footer">
                            <span>Pas encore inscrit? 
                                 <a href="javascript:showRegisterForm();">S'enregistrer</a>
                            </span>
                        </div>
                        <div class="forgot register-footer" style="display:none">
                             <span>Déjà membre?</span>
                             <a href="javascript:showLoginForm();">Se connecter</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container vmiddle fast-reg">
            <div class="row">
                <div class="col-md-12">
                    <div class="hero-section">
                        <h1 class="text-white">Gérez et résiliez tous vos contrats d’abonnements depuis votre canapé !</h1>
                        <div class="col-sm-12">
                            <div class="fast-reg-box">
                                <form id="fast-reg" role="form">
                                    <p class="fast-success"><i class="icon icon_check_alt2"></i> <strong>Congratulation! Welcome to 30 day Free Trial.</strong></p>
                                    <p class="fast-failed"><i class="icon icon_close_alt2"></i><strong> Something went wrong! Insert correct value.</strong></p>  
									<div class="form-group">
                                        <input type="email" name="fast-email" id="fast-email" class="form-control input-lg" placeholder="Entrer votre email" required>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" size="25" name="fast-password" id="fast-password" class="form-control input-lg" placeholder="Entrer votre mot de passe" required>
                                    </div>
                                    <a class="btn btn-color" data-toggle="modal" href="javascript:void(0)" onclick="openRegisterModal();">S'inscrire gratuitement</a>
                                </form>
                            </div>
						</div>
                    </div>
                </div>
            </div>
        </div>
	</div>
</header>
<section class="intro-features" id="about">
	<div class="container">
		<div class="wrapper-lg">
			<div class="row">
				<div class="col-xs-12">
					<h2 class="text-color">Une plateforme gratuite pour vous faciliter la vie.</h2>
					<p class="large text-color">Ne laissez plus l'administratif vous envahir</p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3 intro-content">
					<div class="icon-lg"><i class="icon"><img src="{{ asset('bundles/appmain/images/icones/icon-cloud.png') }}" alt=""></i></div>
					<p>Stockez tous vos contrats en un seul endroit sécurisé dans le cloud.</p>
				</div>
				<div class="col-sm-3 intro-content">
					<div class="icon-lg"><i class="icon"><img src="{{ asset('bundles/appmain/images/icones/icon-chart.png') }}" alt=""></i></div>
					<p>Suivez et maîtrisez votre budget mensuel</p>  
				</div>
				<div class="col-sm-3 intro-content">
					<div class="icon-lg"><i class="icon"><img src="{{ asset('bundles/appmain/images/icones/icon-alert.png') }}" alt=""></i></div>
					<p>Recevez des alertes à l’approche de vos dates de résiliation</p>
				</div>
				<div class="col-sm-3 intro-content">
					<div class="icon-lg"><i class="icon"><img src="{{ asset('bundles/appmain/images/icones/icon-computer.png') }}" alt=""></i></div>
					<p>Résiliez vos contrats en quelques clics depuis votre canapé !</p>
				</div>
			</div>
		</div>
	</div>
</section>
    			
<section class="img-with-action light-bg">
    <div class="container wrapper-lg">
        <div class="row">
            <div class="col-lg-5 col-md-5">
                <h3 class="text-color  class="text-justify"">Notre but : dématérialiser et simplifier la gestion administrative dans les foyers !</h3>
                <p class="text-justify">Téléphonie, internet, assurance, mutuelles, TV, salle de sport...Nous avons tous aujourd’hui une multitude de souscriptions à des contrats en tous genres. 
					Pas forcément facile à gérer... et encore moins à résilier !</p>
				<br /><p class="text-justify">MyAbos vous propose donc une plateforme gratuite pour gérer tous vos contrats en ligne...et surtout un service simplissime pour les résilier en moins d’une minute. Nous nous occupons de tout pour vous ! Plus besoin de retrouver vos informations, rédiger votre lettre et vous rendre à la Poste pour envoyer votre recommandé. Nous vous prévenons aussi à l’avance de vos échéances de résiliation, pour ne plus perdre d’argent à cause des reconductions tacites.</p>
            </div>
        </div>
    </div>
    <div class="hidden-sm hidden-xs col-md-6 img-col-bg img-right"></div>
</section>

<section class="tab-features color-bg" id="features">
    <div class="container">
        <div class="features-title">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-white">La plateforme MyAbos</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="tabs features tab-container">
                <ul class="etabs">
                    <li class="tab">
                        <a href="#tab-feature-1">
                            <div class="icon-sm"><i class="icon icon-layers"></i></div>
                            <h5 class="text-white">Entrez facilement tous<br /> vos contrats sur MyAbos</h5>
                        </a>
                    </li>
                    <li class="tab">
                        <a href="#tab-feature-2">
                            <div class="icon-sm"><i class="icon icon-chat"></i></div>
                            <h5 class="text-white">Soyez prévenus de<br /> vos échéances de résiliation</h5>
                        </a>
                    </li>
                    <li class="tab">
                        <a href="#tab-feature-3">
                            <div class="icon-sm"><i class="icon icon-grid"></i></div>
                            <h5 class="text-white">Vos démarches de résiliation<br /> simplifiées</h5>
                        </a>
                    </li>
                </ul>
                <div class="panel-container">
                    <div class="tab-content" id="tab-feature-1">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-5 col-sm-6">
                                    <h4>Saisie facilitée des données des différents contrats.</h4>
                                    <p>Visualisez en un clin d'oeil la répartition du budget mensuel dédié à vos abonnements pour maîtriser tous vos postes de dépenses. </p>
                                    <div class="btn-box">
                                        <a href="#testimonials" class="btn btn-grey scrollto">Nos clients</a>
                                    </div>
                                </div>
                                <div class="col-md-7 col-sm-6 hidden-xs wow fadeInRight" data-wow-duration="2s">
                                    <img src="assets/images/features/feature1.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-content" id="tab-feature-2">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-sm-push-6 col-lg-7 col-lg-push-5">
                                    <p>Recevez des notifications à deux mois, un mois et/ou une semaine de la date de renouvellement de votre contrat. Elles vous seront envoyées par mail et directement via notre plateforme. Vous pouvez choisir à quelle fréquence les recevoir.</p>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-sm-pull-6 col-lg-5 col-lg-pull-7 hidden-xs wow fadeInLeft" data-wow-duration="2s">
                                    <img src="assets/images/features/feature2.png" class="img-device" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-content" id="tab-feature-3">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-7 col-sm-6">
                                    <p class="text-justify">Si vous n’avez pas le temps de rédiger votre courrier de résiliation et de l’envoyer, nous nous chargeons de tout pour vous pour seulement 7€, prix du recommandé inclus ! 
										Nous rédigeons et envoyons un courrier adapté à votre situation (modification de vos informations ou résiliation), que vous pouvez visualiser et valider avant envoi. 
										Une fois résilié, le statut de votre contrat sera automatiquement mis à jour sur la plateforme.
                                    </p>
                                    <p>Votre résiliation est :</p>
                                    <div class="col-md-4 text-center">
                                    	<i class="icon"><img src="{{ asset('bundles/appmain/images/icones/icon-computer.png') }}" alt="icon ordinateur"></i>
                                     	<p class="text-center"><strong>Rapide</strong></p>
                                     	<div class="text-justify">En moins de trois minutes, envoyez votre lettre de résiliation sans bouger de votre canapé.</div> 
                                 	</div> 
                                    <div class="col-md-4 text-center">
                                    	<i class="icon"><img src="{{ asset('bundles/appmain/images/icones/icon-email.png') }}" alt="icone email"></i>
                                    	<p class="text-center"><strong>Fiable</strong></p>
                                    	<div class="text-justify">Nous assurons les envois de vos recommandés avec accusé de réception par la Poste. Suivi disponible en ligne 7J/7 et 24h/24.</div> 
                                    </div>
                                    <div class="col-md-4 text-center">
	                                    <i class="icon"><img src="{{ asset('bundles/appmain/images/icones/icon-card.png') }}" alt="icone carte"></i>
	                                    <p class="text-center"><strong>Sécurisée</strong></p>
	                                    <div class="text-justify">Paiement par carte bancaire sécurisé par Stripe. Connexion https sécurisée pour assurer la protection de vos données.</div> 
                                    </div>
                                    <div>
                                		<br /><br /><i class="text-justify">* Vous pouvez utiliser ce service sans avoir préalablement utilisé la fonctionnalité de gestion des contrats sur MyAbos. Si la seule chose que vous souhaitez faire avec MyAbos est de résilier facilement, c’est possible !</i>
                                	</div>
                                </div>
                                <div class="col-md-5 col-sm-6 hidden-xs wow fadeInRight" data-wow-duration="2s">
                                    <img src="assets/images/features/feature3.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
        
<section class="testimonial-press light-bg" id="testimonials">
    <div class="container vmiddle">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-color">Ils recommandent MyAbos</h2>
            </div>
        </div>
        <div class="row">
            <div class="tabs testimonials tab-container">
                <div class="col-md-8">
                    <div class="panel-container">
                        <div class="tab-block" id="tab-testimonials-1">
                            <blockquote>
                                <p>Placeat ut recusandae maiores, aliquam error. Sequi accusamus nostrum porro reprehenderit commodi delectus omnis similique possimus non aut, dicta rem iste nemo perferendis, incidunt mollitia asperiores at tenetur dolores ut libero necessitatibus veritatis fuga. Ut sequi assumenda odit.</p>
                                <img src="{{ asset('bundles/appmain/images/general/icon-avatar.png') }}" alt=" ">
                                <p class="testimonial-name"><span>James Knight</span>Manager @ LoremIpsum</p>
                            </blockquote>
                        </div>
                        <div class="tab-block" id="tab-testimonials-2">
                            <blockquote>
                                <p>Iusto quam fugit consequatur explicabo at deserunt eius vel, debitis non itaque blanditiis error iure modi, asperiores molestiae dolorum! Earum expedita sit, nesciunt neque magnam at dolorem praesentium saepe! Rerum recusandae qui quidem, a neque consequatur laboriosam.</p>
                                <img src="{{ asset('bundles/appmain/images/general/icon-avatar.png') }}" alt=" ">
                                <p class="testimonial-name"><span>Nathan Wood</span>Chief Technology Officer @ StartupIpsum</p>
                            </blockquote>
                        </div>
                        <div class="tab-block" id="tab-testimonials-3">
                            <blockquote>
                                <p>Commodi quod eligendi molestiae quaerat temporibus odio alias, nobis repudiandae eum molestias libero modi non ipsum architecto facere cumque esse veritatis voluptatibus. Quia eius nulla deleniti impedit officia quidem temporibus, enim! Ab ex, ipsa ullam asperiores itaque.</p>
                                <img src="{{ asset('bundles/appmain/images/general/icon-avatar.png') }}" alt=" ">
                                <p class="testimonial-name"><span>Amber Evans</span>Chief Marketing Officer @ AgencyLorem</p>
                            </blockquote>
                        </div>
                        <div class="tab-block" id="tab-testimonials-4">
                            <blockquote>
                                <p>Aliquid doloremque ipsum ipsam molestias aliquam ab quod mollitia sed. Vero sapiente voluptatem, voluptatum excepturi a doloribus. Dicta sit quo sed, eaque! Voluptates in illo maiores corporis? Placeat ut recusandae maiores, aliquam error. Sequi accusamus nostrum porro.</p>
                                <img src="{{ asset('bundles/appmain/images/general/icon-avatar.png') }}" alt=" ">
                                <p class="testimonial-name"><span>Harry Palmer</span>CEO and Founder @ IpsumSite</p>
                            </blockquote>
                        </div>
                    </div>
                </div>
                <ul class="etabs col-md-4 list-unstyled">
                    <li class="tab col-md-6"><a href="#tab-testimonials-1"><img src="{{ asset('bundles/appmain/images/general/icon-avatar.png') }}" alt=""></a></li>
                    <li class="tab col-md-6"><a href="#tab-testimonials-2"><img src="{{ asset('bundles/appmain/images/general/icon-avatar.png') }}" alt=""></a></li>
                    <li class="tab col-md-6"><a href="#tab-testimonials-3"><img src="{{ asset('bundles/appmain/images/general/icon-avatar.png') }}" alt=""></a></li>
                    <li class="tab col-md-6"><a href="#tab-testimonials-4"><img src="{{ asset('bundles/appmain/images/general/icon-avatar.png') }}" alt=""></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="newsletter color-bg" id="newsletter">
    <div class="container">
        <div class="wrapper-sm">
            <div class="row">
                <div class="col-md-6">
                    <div class="table">
                        <div class="table-row">
                            <div class="table-cell follow">
                                <h5 class="table-title">Suivez nous</h5>
                            </div>
                            <div class="table-cell">
                                <ul class="social-list">
                                    <li><a href="#"><i class="icon icon-facebook"></i></a></li>
                                    <li><a href="#"><i class="icon icon-twitter"></i></a></li>
                                    <li><a href="#"><i class="icon icon-googleplus"></i></a></li>
                                    <li><a href="#"><i class="icon icon-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <form class="mailchimp-subscribe" role="form">
                        <div class="table">
                            <div class="table-row">
                                <div class="table-cell getnewsletter">
                                    <h5 class="table-title">Abonnez vous à la Newsletter</h5>
                                </div>
                                <div class="table-cell">
                                    <div class="input-group text-white">
                                        <input type="email" id="subscriber-email" name="email" placeholder="Votre email" class="form-control">
                                        <span class="input-group-btn">
                                            <button class="btn btn-white">Subscribe</button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-10 col-md-offset-1 col-sm-8 col-sm-offset-2">
                            <p class="mc-success"></p>
                            <p class="mc-failed"></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="footer dark-bg" id="footer">
    <div class="container">
        <div class="wrapper-lg">
            <div class="row">
                <div class="col-md-5">
	                <a href="#top" class="scrollto" title="SmartMvp">
	                    <span class="text-logo">MyAbos</span>
	                </a>
                </div>
                <div class="col-md-3">
                    <h5 class="text-white">Contact</h5>
                    <div class="contact-item">
                        <div class="contact-icon">
                            <i class="icon icon_mail"></i>
                        </div>
                        <div class="contact-content">
                            <a href="mailto:contact@myabos.fr">contact@myabos.fr</a>
                        </div>
                    </div>
                    <div class="contact-item">
                        <div class="contact-icon">
                            <i class="icon icon_pin"></i>
                        </div>
                        <div class="contact-content">
                            121 King Street, Melbourne<br>
                            Victoria 3000 Australia
                        </div>
                    </div>
                    <div class="contact-item">
                        <div class="contact-icon">
                            <i class="icon icon_phone"></i>
                        </div>
                        <div class="contact-content">
                            1-234-567-89
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                
				</div>
                <div class="row">
                    <div class="col-md-12">
                        <ul class="footer-nav">
                            <li><a href="#">Nos partenaires</a></li>
                            <li><a href="#">Sécurité des données</a></li>
                            <li><a href="#">Nous contacter</a></li>
                            <li><a href="#">Conditions générales</a></li>
                        </ul>
                        <p class="footer-copy">&copy; 2016 - MyAbos.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
        
<!--	
	<h1>{{'home_title'|trans|raw }}</h1>
		<div class="container-register-home">
		    <input type="firstname" id="firstname" class="firstname" placeholder="Nom" />
		    <input type="lastname" id="lastname" class="lastname" placeholder="Prénom" />
		    <input type="email" id="email" class="email" placeholder="Adresse mail" />
    	</div>
	<span type="button" class="btn btn-start" data-toggle="modal" data-target="#modal-register">Commencer</span>
    <div class="col-md-12 container-home-bottom">
    	<div class="col-md-4">
    		<div class="col-md-12">
	    		<div class="col-md-4 col-md-offset-4">
	      			<img src="{{ asset('bundles/appmain/images/icones/icon-cloud-store.png') }}" class="img-responsive" alt="icone stockage">
				</div>
			</div>
    		<span class="headline">Stocker tous vos contrats<br /> en un seul endroit dans le cloud</span>
    	</div>
    	<div class="col-md-4">
    		<div class="col-md-12">
	    		<div class="col-md-4 col-md-offset-4">
	      			<img src="{{ asset('bundles/appmain/images/icones/icon-message.png') }}" class="img-responsive" alt="icone enveloppe">
				</div>
			</div>
    		<span class="headline">Recevez des alertes à l'approche<br /> de vos dates de résiliation</span>
    	</div>
    	<div class="col-md-4">
    		<div class="col-md-12">
	    		<div class="col-md-4 col-md-offset-4">
	      			<img src="{{ asset('bundles/appmain/images/icones/icon-smiley.png') }}" class="img-responsive" alt="icone smiley">
				</div>
			</div>
    		<span class="headline">Résilier vos contrats<br /> depuis votre canapé</span>
    	</div>
    </div>
	-->
{% endblock content %}