{% extends "AppMainBundle::layout_home.html.twig" %}
{% block content %}   
	<div class="clearfix">
		<span class="btn-connect" data-toggle="modal" data-target="#modal-connect">Se connecter</span>
		<img src="{{ asset('bundles/appmain/images/general/logo.png') }}" class="pull-left logo" alt="logo myabos" />
	</div>
	<h1>{{'home_title'|trans|raw }}</h1>
		<div class="container-register-home">
		    <input type="firstname" id="firstname" class="firstname" placeholder="Nom" />
		    <input type="lastname" id="lastname" class="lastname" placeholder="Prénom" />
		    <input type="email" id="email" class="email" placeholder="Adresse mail" />
    	</div>
	<span type="button" class="btn btn-start" data-toggle="modal" data-target="#modal-register">Commencer</span>
    <div class="col-md-12 container-home-bottom">
    	<div class="col-md-4">
    		<div class="col-md-12">
	    		<div class="col-md-4 col-md-offset-4">
	      			<img src="{{ asset('bundles/appmain/images/icones/icon-cloud-store.png') }}" class="img-responsive" alt="icone stockage">
				</div>
			</div>
    		<span class="headline">Stocker tous vos contrats<br /> en un seul endroit dans le cloud</span>
    	</div>
    	<div class="col-md-4">
    		<div class="col-md-12">
	    		<div class="col-md-4 col-md-offset-4">
	      			<img src="{{ asset('bundles/appmain/images/icones/icon-message.png') }}" class="img-responsive" alt="icone enveloppe">
				</div>
			</div>
    		<span class="headline">Recevez des alertes à l'approche<br /> de vos dates de résiliation</span>
    	</div>
    	<div class="col-md-4">
    		<div class="col-md-12">
	    		<div class="col-md-4 col-md-offset-4">
	      			<img src="{{ asset('bundles/appmain/images/icones/icon-smiley.png') }}" class="img-responsive" alt="icone smiley">
				</div>
			</div>
    		<span class="headline">Résilier vos contrats<br /> depuis votre canapé</span>
    	</div>
    </div>

	<div id="modal-connect" class="modal fade" role="dialog">
	  	<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<img src="{{ asset('bundles/appmain/images/general/logo.png') }}" width="48" alt="logo myabos" />
				</div>
				<div class="modal-body">
					<h4>Déjà membre?</h4>
					{{ render(controller('AppFrontOfficeBundle:Security:login')) }}
				</div>
			</div>
		</div>
	</div>

	<div id="modal-register" class="modal fade" role="dialog">
	  	<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<img src="{{ asset('bundles/appmain/images/general/logo.png') }}" width="48" alt="logo myabos" />
				</div>
				<div class="modal-body">
					<h4>Inscription</h4>
					{{ render(controller('FOSUserBundle:Registration:register')) }}
				</div>
			</div>
		</div>
	</div>
{% endblock content %}