<form method="post" {{ form_enctype(form) }}>
<div class="form-edit-contrat">
	<h4 class="text-color">Entrez vos données manuellement</h2>
    	{{ form_widget(form.category) }}
    <div class="row">
    	{{ form_widget(form.name) }}
    </div>
    <div class="row">
    	{{ form_widget(form.provider) }}
    </div>
    <div class="row">
    	{{ form_widget(form.number) }}
    </div>
    <div class="row">
	    {{ form_label(form.startingDate) }}
	    <div class="col-md-6">
	    	{{ form_widget(form.startingDate) }}
	    </div>
    </div>
    <div class="row">
	    {{ form_label(form.endingDate) }}
	    <div class="col-md-6">
	    	{{ form_widget(form.endingDate) }}
	    </div>
    </div>
    <div class="row">
    	<div class="col-md-6">
	    	{{ form_widget(form.amount) }}
	    </div>
	    <div class="col-md-6">
	    	{{ form_widget(form.amountFrequency) }}
	    </div>
    </div>
    <div class="row">
	    {{ form_label(form.withEngagement) }}
    	{{ form_widget(form.withEngagement) }}
    </div>
    <div class="row">
	    {{ form_label(form.autoRenewal) }}
    	{{ form_widget(form.autoRenewal) }}
    </div>
    <div class="row">
    	{{ form_widget(form.engagementLength) }}
    </div>
    <div class="row">
    	{{ form_widget(form.alertFrequency) }}
    </div>
    {{ form_label(form.contractFile) }}
	{{ form_widget(form.contractFile) }}
</div>
{{ form_end(form) }}
