{% extends 'AppFrontOfficeBundle:Contract:layout.html.twig' %}

{% block content %}
	{% for flash_message in app.session.flashbag.get('notice') %}
	    <p class="bg-success">
	        {{ flash_message }}
	    </p>
	{% endfor %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-info">
                <div class="panel-body">
                	<div class="col-xs-4">
	                	<select class="filter-category form-control">
		                	{% for category in categories %}
								<option value="{{ category.id }}">{{ category.name }}</option>                	
		                	{% endfor %}	
	                	</select>
                	</div>
			        {% for contract in contracts %}
			        	<div class="col-md-12 row contract category-{{ contract.category.id }}">
			        		<div class="col-md-2 text-center">
			        			<strong>Intitulé</strong><br /><br />
			        			{{ contract.name }}
			        		</div>
			        		<div class="col-md-1 text-center">
			        			<strong>Budget</strong><br /><br />
			        			{{ contract.amount }}€
			        		</div>
			        		<div class="col-md-3 text-center">
			        			<strong>Date d'engagement</strong><br /><br />
			        			{{ contract.startingDate|date("d/m/Y") }}
			        		</div>
			        		<div class="col-md-3 text-center">
			        			<strong>Date de résiliation possible</strong><br /><br />
			        			{{ contract.endingDate|date("d/m/Y") }}
			        		</div>
			        		<div class="col-md-3 text-center">
			        			<strong>Actions</strong><br />
			        			<a href="{{ path("app_front_office_contract_edit", {"id": contract.id}) }}"><span class="glyphicon glyphicon-pencil  btn-lg" aria-hidden="true"></span></a>
			        			<a href="#"><span class="glyphicon glyphicon-file  btn-lg" aria-hidden="true"></span></a>
			        			<a href="{{ path("app_front_office_contract_delete", {"id": contract.id}) }}"><span class="glyphicon glyphicon-trash  btn-lg" aria-hidden="true"></span></a>
			        			{% if contract.status == 2 %}
			        				<a href="{{ path("app_front_office_resiliation_choix_formule", {"id": contract.id}) }}" class="btn btn-danger col-md-6 col-md-offset-3 btn-resilier">Résilier</a>
			        			{% endif %}
			        			{% if contract.status == 1 %}
			        				<a href="" class="btn btn-warning btn-resilier">En Cours de résiliation</a>
			        			{% endif %}
			        			{% if contract.status == 3 %}
			        				<a href="" class="btn btn-success col-md-6 col-md-offset-3 btn-resilier">Résilié</a>
			        			{% endif %}
			        		</div>
			        	</div>
			        {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}