{{ contract.category }}
<div class="row">
	{{ contract.name }}
</div>
<div class="row">
	{{ contract.provider }}
</div>
<div class="row">
	{{ contract.number }}
</div>
<div class="row">
    {{ contract.startingDate|date("d/m/Y") }}
	{{ contract.endingDate|date("d/m/Y") }}
</div>
<div class="row">
	{{ contract.amount }}€/{{ contract.amountFrequency }}
</div>
<div class="row">
	{{ contract.withEngagement }}
	{{ contract.autoRenewal }}
	{{ contract.engagementLength }}
	{{ contract.alertFrequency }}
</div>