{% extends "AppBundle:Front:layout.html.twig" %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" media="all" href="{{ asset('bundles/app/css/ensavoirplus.css') }}">
{% endblock %}   
{% block title %}{{'toptitle'|trans}} - {{'know_more'|trans}} {{'know_more_weather'|trans}}{% endblock %}


{% block content %}
	<h1>{{'toptitle'|trans}}</h1>
	{% include "AppBundle:Front:ensavoirplus/submenu.html.twig" %}
	<div class="col-md-6">
	</div>
	<div class="col-md-6">
		<a href="#" class="col-md-6 square">
			What's a kite surfing cruise
		</a>
		<a href="#" class="col-md-6 square">
			FAQ about kite surfing cruise
		</a>
		<a href="#" class="col-md-6 square">
			Advantages of a kite surfing cruise
		</a>
		<a href="#" class="col-md-6 square">
			The wind issue
		</a>
	</div>
{% endblock content %}