{{ form_start(form) }}
    {{ form_widget(form.firstname) }}
    {{ form_widget(form.lastname) }}
    {{ form_widget(form.email) }}
	<div>
    	<button type="submit" data-toggle="modal" data-target="#modal-register" class="btn btn-lg btn-danger">Commencer</button>
    </div>
{{ form_end(form) }}