{% extends 'AppFrontOfficeBundle:Resiliation:layout.html.twig' %}
{% block content %}
<div class="row">
	<div class="col-md-6 no-float">
		{% for causeResiliation in causeResiliations %}
			<div class="cause-resiliation cause-resiliation-{{ causeResiliation.id }}">
				<div class="clearfix">
					<div class="pull-right cause-resiliation-address">
						{{ contract.provider.address|nl2br }}
					</div>
				</div>
				<div class="cause-resiliation-textarea">
					Madame, Monsieur<br /><br />
					{{ causeResiliation.letter|replace({"[[num_contrat]]":"<strong>"~contract.number~"</strong>" })|raw|nl2br }}<br /><br />
					Veuillez accepter, Madame, Monsieur, l'expression de mes salutations distinguées.
				</div>
			</div>
		{% endfor %}
	</div>
	<div class="col-md-6 no-float">
		<h2>Sélectionner le motif de la résiliation souhaité</h2>
		<form method="post" action="">
	        {{ form_widget(form.causeResiliation) }}
			<div class="col-md-12">
				<a href="#" class="btn btn-danger btn-preview-modify">Modifier</a>
				<a href="#" class="btn btn-primary btn-preview-validate hidden">Valider</a>
				<a href="" class="btn btn-danger">Générer un pdf</a>
				<input type="submit" class="btn btn-success" value="Envoyer" />
			</div>
	    {{ form_end(form) }}
	</div>
</div>
{% endblock %}