{% extends 'AppFrontOfficeBundle:Resiliation:layout.html.twig' %}

{% block content %}
<div class="col-md-6">
	{% for causeResiliation in causeResiliations %}
		<div class="cause-resiliation cause-resiliation-{{ causeResiliation.id }}">
			<div class="clearfix">
				<div class="pull-right">
					{{ contract.provider.address|nl2br }}
				</div>
			</div>
			Madame, Monsieur<br /><br />
			{{ causeResiliation.letter|nl2br }}<br /><br />
			Veuillez accepter, Madame, Monsieur, l'expression de mes salutations distinguées.
		</div>
	{% endfor %}
</div>
<div class="col-md-6">
	<h2>Sélectionner le motif de la résiliation souhaité</h2>
	<select class="form-control select-cause-resiliation">
	{% for causeResiliation in causeResiliations %}
		<option value="{{ causeResiliation.id }}">{{ causeResiliation.name }}</option>
	{% endfor %}
	</select>
	
	<a href="" class="btn btn-danger">Modifier</a>
	<a href="" class="btn btn-danger">Générer un pdf</a>
	<a href="" class="btn btn-success">Valider</a>
</div>
{% endblock %}