{% extends "AppBundle:Front:Skipper/skipper.html.twig" %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/app/js/boat_contact.js') }}" type="text/javascript"></script>
{% endblock %}
{% block content %}
    {{ parent() }}
    <div class="col-devis col-md-9">
    	<h2>{{'recapitulatif_de_botre_demande'|trans}}</h2>
    	<div class="row odd">
            {{ recap.dateDepart }}
            {{ recap.dateRetour }}
        </div>
    	<div class="row even">	        
            {{ recap.dureeCroisiere }} {{'jours'|trans}}
        </div>
    	<div class="row odd">	        
            {{ recap.nbPassager }} {{'passagers'|trans}}
        </div>
    	<div class="row even">	        
            {{ recap.portDepart }}
        </div>
    	<div class="row odd">
            {{ recap.destination }}
    	</div>
    	<div class="optionspayantes">
    	</div>
    	<div class="row even">
            {{ recap.message }}
    	</div>
    </div>
{% endblock content %}