<h1>Captain {{ skipper.name }}</h1>
<div class="block-skipper-submenu">
    <a href="#presentation" class="skipper-home">{{'skipper_presentation'|trans}}</a>
    <a href="#boat" class="skipper-boat">{{'skipper_boat'|trans}}</a>
    <a href="#destination" class="skipper-desti">{{'skipper_desti'|trans}}</a>
    <a href="#available" class="skipper-available">{{'skipper_availability'|trans}}</a>
    <a href="#price" class="skipper-price">{{'skipper_price'|trans}}</a>
    <a href="#contact" class="skipper-contact">{{'skipper_contact'|trans}}</a>
</div>