<h1><img src="{{ skipper.avatarWebPath }}" class="avatar img-responsive img-thumbnail pull-left" /> Captain {{ skipper.name }}</h1>
<div class="skipper-presentation">{{ skipper.description|raw }}</div>
<div class="submenu" role="tabpanel">
    <ul class="nav nav-tabs" role="tablist">
	    <li role="presentation"><a href="#boat" class="skipper-boat" aria-controls="boat" role="tab" data-toggle="tab">{{'skipper_boat'|trans}}</a></li>
	    <li role="presentation"><a href="#destination" class="skipper-desti" aria-controls="destination" role="tab" data-toggle="tab">{{'skipper_desti'|trans}}</a></li>
	    <li role="presentation"><a href="#price" class="skipper-price" aria-controls="price" role="tab" data-toggle="tab">{{'skipper_price'|trans}}</a></li>
	    <li role="presentation"><a href="#contact" class="skipper-contact" aria-controls="contact" role="tab" data-toggle="tab">{{'skipper_contact'|trans}}</a></li>
    </ul>
</div>