{% set format = app.request.locale == "en" ? 'm/d/Y' : 'd/m/Y' %}
{% if itinerairesCroisiere|length > 0 %}
<div class="clearfix">
    <h3 class="skipper-desti">
        {{'skipper-desti-itineraries-boat'|trans }}
    </h3>
    {% if itinerairesCroisiere|length > 0 %}
    <ul class="nav nav-tabs">
        {% for itineraireCroisiere in itinerairesCroisiere %}
			<li role="presentation" {% if loop.index == 1%}class='active'{% endif %}>
			<a class="btn" type="button" data-toggle="collapse" data-target="#collapse{{itineraireCroisiere.itineraire.id}}" aria-expanded="false" aria-controls="collapse{{itineraireCroisiere.itineraire.id}}">                            
				{{ itineraireCroisiere.itineraire }}
			</a>
			</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% for itineraireCroisiere in itinerairesCroisiere %}
    	<div class="collapse {% if loop.index == 1%}active in{% endif %}" id="collapse{{itineraireCroisiere.itineraire.id}}">
			<div class="well skipper-desti-content">
            	{% set break = false %}
				{% set empty = true %}
				{% for tarif in tarifs if not break %}
					{% if tarif.itineraireCroisiere is not null and itineraireCroisiere.id == tarif.itineraireCroisiere.id %}
        				{% set break = true %}
    				{% elseif tarif.itineraireCroisiere != "" %}
    					{% set empty = false %} 
					{% endif %}
				{% endfor %}
				{% set afficherPrix = break or empty %}
				<div {% if afficherPrix == true %}class="col-md-9"{% endif %}>
                	<img class="pull-right img-responsive img-thumbnail" src="{{ itineraireCroisiere.itineraire.miniatureWebPath }}" />
				    {{ itineraireCroisiere.itineraire.description|raw }}
	                <div>
	                	{% if itineraireCroisiere.dateDebut %}
		                    {{'skipper-desti-date-operation'|trans }} {{ itineraireCroisiere.dateDebut|date(format) }}
		                    {{'periode_au'|trans }} {{ itineraireCroisiere.dateFin|date(format) }}
	                    {% endif %}
	                </div>
                </div>
                {% if afficherPrix == true %}
                	{% include "AppBundle:Front:Bateau/boat_price.html.twig" %}
                {% endif %}
			</div>
		</div>
    {% endfor %}
</div>
{% endif %}