<div class="skipper-desti">
    {% set format = app.request.locale == "en" ? 'm/d/Y' : 'd/m/Y' %}
    {% if itinerairesCroisiere|length > 0 %}
        <div class="boat-desti-block-localisation panel panel-info">
	        <div class="panel-heading">
		        <h3 class="boat-desti-localisation panel-title">
		            {{'boat-desti-itineraries-boat'|trans }}
		        </h3>
	        </div>
        	<div class="panel-body">
                {{'boat-desti-itineraries-boat-label-destination'|trans }}:
                {% if itinerairesCroisiere|length > 0 %}
                    <ul>
                        {% for itineraireCroisiere in itinerairesCroisiere %}
                            <li><a href="#" id="lien-{{itineraireCroisiere.itineraire.id}}">{{ itineraireCroisiere.itineraire }}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
        {% for itineraireCroisiere in itinerairesCroisiere %}
        	<div class="panel panel-info">
	        	<div class="panel-heading cible" id="cible-{{itineraireCroisiere.itineraire.id}}">
	                {{ itineraireCroisiere.itineraire }}
	            </div>
	            <div class="boat-desti-itineraire panel-body">
	            	<div>
		                <img class="pull-right img-thumbnails" src="{{ itineraireCroisiere.itineraire.miniatureWebPath }}" />
		            	<div>
		                    {{ itineraireCroisiere.itineraire.description|raw }}
		                </div>
		                <div>
		                	{% if itineraireCroisiere.dateDebut %}
			                    {{'skipper-desti-date-operation'|trans }} {{ itineraireCroisiere.dateDebut|date(format) }}
			                    {{'periode_au'|trans }} {{ itineraireCroisiere.dateFin|date(format) }}
		                    {% endif %}
		                </div>
	                </div>
		        </div>
            </div>
        {% endfor %}
	{% endif %}
</div>