{% extends "AppBundle:Front:Skipper/skipper.html.twig" %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/app/js/boat_contact.js') }}" type="text/javascript"></script>
{% endblock %}
{% block content %}
    {{ parent() }}
    <div class="col-devis col-md-9">
    	<h2>{{'boat_get_estimate'|trans}}</h2>
    	<div class="row odd">
                {{ form_label(form.dateDepart) }}
	        {{ form_errors(form.dateDepart) }}
	        {{ form_widget(form.dateDepart) }}
	        
                {{ form_label(form.dateRetour) }}
	        {{ form_errors(form.dateRetour) }}
	        {{ form_widget(form.dateRetour) }}
        </div>
    	<div class="row even">	        
			{{ form_label(form.dureeCroisiere) }}
	        {{ form_errors(form.dureeCroisiere) }}
	        {{ form_widget(form.dureeCroisiere) }} {{'jours'|trans}}
        </div>
    	<div class="row odd">	        
			{{ form_label(form.nbPassager) }}
	        {{ form_errors(form.nbPassager) }}
	        {{ form_widget(form.nbPassager) }} {{'passagers'|trans}}
        </div>
    	<div class="row even">	        
			{{ form_label(form.portDepart) }}
	        {{ form_errors(form.portDepart) }}
	        {{ form_widget(form.portDepart) }}
        </div>
    	<div class="row odd">
			{{ form_label(form.destination) }}
	        {{ form_errors(form.destination) }}
	        {{ form_widget(form.destination) }}
    	</div>
    	<div class="optionspayantes">
    		{{'choose_your_options'|trans }}
    		<div class="col-md-12 even">{{'equipier_supplementaire'|trans }}</div>
                <div>
                    <div class="col-md-5 optionpayante-name odd" data-item="1">Hotesse / Cuisinier</div>
                    <div class="col-md-5 odd">150 euros par jour, pour le bateau</div>
                    <div class="col-md-1"><input type="checkbox" value="" /></div>
                </div>
                
	    	<div class="col-md-12 even">{{'option_avitaillement'|trans }}</div>
                <div>
                    <div class="col-md-5 optionpayante-name odd" data-item="2">Boissons alcoolisés</div>
                    <div class="col-md-5 odd">10 euros par jour, par personne</div>
                    <div class="col-md-1"><input type="checkbox" value="" /></div>
                </div>
	    	<div class="col-md-12 even">{{'equipement_supplementaire'|trans }}</div>
                <div>
                    <div class="col-md-5 optionpayante-name odd" data-item="3">La location de matériel de kitesurf</div>
                    <div class="col-md-5 odd">350 euros la semaine, par personne</div>
                    <div class="col-md-1"><input type="checkbox" value="" /></div>
                </div>
	    	<div class="col-md-12 even">{{'prestation_kite_disponible'|trans }}</div>
                <div>
                    <div class="col-md-5 optionpayante-name odd" data-item="4">Cours de kitesurf</div>
                    <div class="col-md-5 odd">50 euros par heure</div>
                    <div class="col-md-1"><input type="checkbox" value="" /></div>
                </div>
    		<a href="#" class="btn btn-warning pull-right">Calculer</a>
    	</div>
    </div>
    <div class="col-devis col-right-devis col-md-3">
        <h2>{{'votre_devis'|trans }}</h2>
        <div class="row odd">
            <span class="devis-duree-sejour">X</span> {{'jours'|trans }} {{ 'between'|trans }} <span class="devis-date-depart">X</span> {{ 'form_sejour_possible_fin'|trans }} <span class="devis-date-retour">X</span> 
        </div>
        <div class="row even">
            {{'price_for'|trans }} <span class="devis-nb-passager">X</span> {{'passagers'|trans }}:<br />
            <span class="devis-sejour-tarif">X</span>
        </div>
        <div class="row odd">
            {{'form_sejour_portdepart'|trans }} <span class="devis-port-depart">X</span> <br />
            {{'form_sejour_destination'|trans }} <span class="devis-destination">X</span>
        </div>
        <div class="row even">
            {{'devis_option'|trans }}<br />
            <div class="devis-options-payantes">
            
            </div>
            <div class="bloc-final-price">
                Total:<br />
                <span class="finalPrice"></span>X euros {{'par_passager'|trans }}
            </div>
        </div>
        {% if skipper is not null %}<div class="text-center"><a href="{{ path('skipper_contact', {'id': skipper.id }) }}" class="btn btn-lg btn-warning">{{'contact_skipper'|trans}}</a></div>{% endif %}
    	
    </div>
{% endblock content %}