<div class="skipper-price">
    {% set format = app.request.locale == "en" ? 'm/d/Y' : 'd/m/Y' %}
    <div id="tarifBateau" class="col-md-9">
    	{% if tarifs is not null %}
	        <h2>{{'tarif_bateau_title'|trans }}</h2>
	        {% for tarif in tarifs %}
	            <div class="tarif-accordion">
	                <h3 class="periode-title">
	                    {{'periode_du'|trans }}  {{ tarif.dateDebut|date(format) }} {{'periode_au'|trans }} {{ tarif.dateFin|date(format) }}
	                </h3>
	                <div class="subblock-periode">
		                {{'periode_tarif_du'|trans }} {{ tarif.nombreJourMinimum }} {{'day'|trans }} {{'periode_tarif_au'|trans }} {{ tarif.nombreJourMaximum }} {{'days'|trans }} {{'periode_tarif_cruise'|trans }}<br />
		                {{'periode_tarif_cruise_pour'|trans }} {{ tarif.tarifPour|trans }}
		                <table>
		                    <tr class="periode-table-personne"><td class="periode-table-title">{{'nombre_de_personne'|trans }}</td>
		                        {% if tarif.tarifDeuxPersonnes is not null %}<td>2</td>{% endif %}
		                        {% if tarif.tarifTroisPersonnes is not null %}<td>3</td>{% endif %}
		                        {% if tarif.tarifQuatrePersonnes is not null %}<td>4</td>{% endif %}
		                        {% if tarif.tarifCinqPersonnes is not null %}<td>5</td>{% endif %}
		                        {% if tarif.tarifSixPersonnes is not null %}<td>6</td>{% endif %}
		                        {% if tarif.tarifSeptPersonnes is not null %}<td>7</td>{% endif %}
		                        {% if tarif.tarifHuitPersonnes is not null %}<td>8</td>{% endif %}
		                    </tr>
		                    <tr><td class="periode-table-title">{{'prix_par_personne'|trans }}</td>
		                        {% if tarif.tarifDeuxPersonnes is not null %}<td>{{ tarif.tarifDeuxPersonnes }}</td>{% endif %}
		                        {% if tarif.tarifTroisPersonnes is not null %}<td>{{ tarif.tarifTroisPersonnes }}</td>{% endif %}
		                        {% if tarif.tarifQuatrePersonnes is not null %}<td>{{ tarif.tarifQuatrePersonnes }}</td>{% endif %}
		                        {% if tarif.tarifCinqPersonnes is not null %}<td>{{ tarif.tarifCinqPersonnes }}</td>{% endif %}
		                        {% if tarif.tarifSixPersonnes is not null %}<td>{{ tarif.tarifSixPersonnes }}</td>{% endif %}
		                        {% if tarif.tarifSeptPersonnes is not null %}<td>{{ tarif.tarifSeptPersonnes }}</td>{% endif %}
		                        {% if tarif.tarifHuitPersonnes is not null %}<td>{{ tarif.tarifHuitPersonnes }}</td>{% endif %}
		                    </tr>
		                    <tr><td class="periode-table-title">{{'prix_du_bateau'|trans }}</td>
		                        {% if tarif.tarifDeuxPersonnes is not null %}<td>{{ tarif.tarifDeuxPersonnes * 2 }}</td>{% endif %}
		                        {% if tarif.tarifTroisPersonnes is not null %}<td>{{ tarif.tarifTroisPersonnes * 3 }}</td>{% endif %}
		                        {% if tarif.tarifQuatrePersonnes is not null %}<td>{{ tarif.tarifQuatrePersonnes * 4 }}</td>{% endif %}
		                        {% if tarif.tarifCinqPersonnes is not null %}<td>{{ tarif.tarifCinqPersonnes * 5 }}</td>{% endif %}
		                        {% if tarif.tarifSixPersonnes is not null %}<td>{{ tarif.tarifSixPersonnes * 6 }}</td>{% endif %}
		                        {% if tarif.tarifSeptPersonnes is not null %}<td>{{ tarif.tarifSeptPersonnes * 7 }}</td>{% endif %}
		                        {% if tarif.tarifHuitPersonnes is not null %}<td>{{ tarif.tarifHuitPersonnes * 8 }}</td>{% endif %}
		                    </tr>
		                </table>
	                </div>
	            </div>
	        {% endfor %}
	        <div class="tarif-accordion">
		        <h3 class="periode_inclus_prix">
		            {{'inclus_prix'|trans }}
		        </h3>      
		        <div class="subblock-periode">
		        	{% if inclusprixequipage|length > 0 %}
		        		<div class="col-md-6">
			        		<div class="col-md-12 even">{{'the_crew'|trans }}</div>
	                    	<div class="col-md-12 odd">{{ inclusprixequipage.name }}</div>
		        		</div>
		        	{% endif %}
		        	{% if inclusprixavitaillement|length > 0 %}
		        		<div class="col-md-6">
			        		<div class="col-md-12 even">{{'fueling'|trans }}</div>
			        		{% for inclusprix in inclusprixavitaillement %}
		                    	<div class="col-md-12 odd">{{ inclusprix.name }}</div>
		                	{% endfor %}
		        		</div>
		        	{% endif %}
		        	{% if inclusprixfraisdevoyage|length > 0 %}
		        		<div class="col-md-6">
			        		<div class="col-md-12 even">{{'frais_de_voyage'|trans }}</div>
			        		{% for inclusprix in inclusprixfraisdevoyage %}
		                    	<div class="col-md-12 odd">{{ inclusprix.name }}</div>
		                	{% endfor %}
		        		</div>
		        	{% endif %}
		        	{% if inclusprixautresservices|length > 0 %}
		        		<div class="col-md-6">
			        		<div class="col-md-12 even">{{'boat_otherservice'|trans }}</div>
			        		{% for inclusprix in inclusprixautresservices %}
		                    	<div class="col-md-12 odd">{{ inclusprix.name }}</div>
		                	{% endfor %}
		        		</div>
		        	{% endif %}
		        	{% if inclusprixequipement|length > 0 %}
		        		<div class="col-md-6">
			        		<div class="col-md-12 even">{{'boat_equipments'|trans }}</div>
			        		{% for inclusprix in inclusprixequipement %}
		                    	<div class="col-md-12 odd">{{ inclusprix.name }}</div>
		                	{% endfor %}
		        		</div>
		        	{% endif %}
		        	{% if inclusprixactivite|length > 0 %}
		        		<div class="col-md-6">
			        		<div class="col-md-12 even">{{'boat_activity'|trans }}</div>
			        		{% for inclusprix in inclusprixactivite %}
		                    	<div class="col-md-12 odd">{{ inclusprix.name }}</div>
		                	{% endfor %}
		        		</div>
		        	{% endif %}
		        	{% if inclusprixcours is not null %}
		        		<div class="col-md-6">
			        		<div class="col-md-12 even">{{'boat_cours'|trans }}</div>
			        		{% for inclusprix in inclusprixcours %}
		                    	<div class="col-md-12 odd">{{ inclusprix.name }}</div>
		                	{% endfor %}
		        		</div>
		        	{% endif %}
		        </div>  
	        {% if servicepayant is not null %}
		        <div class="tarif-accordion">
			        <h3 class="periode-title">
			            {{'en_option'|trans }}
			        </h3>
	                <div class="subblock-periode servicepayant">
	                	{% set currentCategory = null %}
		        		{% for service in servicepayant %}
			        		{% if service.categorie != currentCategory %}
			        			{% set currentCategory = service.categorie %}
		                    	<div class="col-md-6 even service-payant-categorie">{{service.categorie|trans}}</div>
		                    {% endif %}
		                    <div class="col-md-6 odd">{{service.name}}</div>
		                    <div class="col-md-6 odd">{% if service.fraisSupplementaires != "" %}{% if service.devise == "$" %}${% endif %}{{service.fraisSupplementaires}}{% if service.devise == "€" %}€{% endif %} {{service.tarifApplique|trans}}{% else %} N/A {% endif %}</div>
	                    {% endfor %}
	                </div>
		        </div>
	        {% endif %}
		{% else %}
			{{ 'no_cruise_skipper'|trans }}
    	{% endif %}
    </div>
</div>