<div class="skipper-contact">
    {% for flashMessage in app.session.flashbag.get('notice') %}
	    <div class="alert alert-success" role="alert">
	        {{ flashMessage }}
	    </div>
	{% endfor %}
	<div class="col-devis col-md-4">		
		<div class="panel panel-info">    	
    		<div class="panel-heading">
	    		<h2 class="panel-title">1 - {{'boat_choose_cruise'|trans}}</h2>
    		</div>
    		<div class="panel-body">
			    <div>
				    {{ form_label(form.dateDepart) }} 
				    {{ form_errors(form.dateDepart) }}
				    {{ form_widget(form.dateDepart) }}
			    </div>
			    <div>
				    {{ form_label(form.dateRetour) }}
				    {{ form_errors(form.dateRetour) }}
				    {{ form_widget(form.dateRetour) }}
			    </div>
				<div>
				    {{ form_label(form.dureeCroisiere) }}
				    {{ form_errors(form.dureeCroisiere) }}
				    {{ form_widget(form.dureeCroisiere) }} {{'jours'|trans}}
			    </div>
			    <div>
					{{ form_label(form.nbPassager) }}
				    {{ form_errors(form.nbPassager) }}
				    {{ form_widget(form.nbPassager) }} {{'passagers'|trans}}
				</div>
		    	<div>        
				    {{ form_label(form.portDepart) }}
				    {{ form_errors(form.portDepart) }}
				    {{ form_widget(form.portDepart) }}
			    </div>
			    <div>
					{{ form_label(form.destination) }}
				    {{ form_errors(form.destination) }}
				    {{ form_widget(form.destination) }}
			    </div>
		    </div>
	    </div>
    </div>
	{% if servicepayant|length > 0 %}
    	<div class="col-devis col-md-4">
    		<div class="panel panel-info">
	    		<div class="panel-heading">
		    		<h2 class="panel-title">2 - {{'choose_your_options'|trans}}</h2>
	    		</div>
	    		<div class="panel-body">	    	
	        		{% for service in servicepayant %}
		        		{% if loop.index > 1 %}
		        			<hr />
	        			{% endif %}
		        		<div class="optionspayantes-subblock">
		                    <div class="col-name" data-item="1">{{service.name}}</div>
		                    <div class="col-price">
		                    	{% if service.fraisSupplementaires != "" %}{% if service.devise == "$" %}${% endif %}{{service.fraisSupplementaires}}{% if service.devise == "€" %}€{% endif %} {{service.tarifApplique|trans}}{% else %} N/A {% endif %}
	                    	</div>
	                    	<div class="col-checkbox">
		                    	<input type="checkbox" class="selection" name="servicepayant[]" value="{{service.id}}" />
		                    </div>
		                </div>
                    {% endfor %}
		        </div>
	        </div>
        </div>
	{% endif %}
	<div class="col-devis {% if servicepayant|length > 0 %}col-md-4{% else %}col-md-8{% endif %}">
		<div class="panel panel-info">
    		<div class="panel-heading">
	    		<h2 class="panel-title">{% if servicepayant|length > 0 %}3{% else %}2{% endif %} - {{'boat_leave_message'|trans}}</h2>
    		</div>
    		<div class="panel-body panel-message">		    		
		        <div class="loading">
		            <img class="img-responsive" src='{{ asset("bundles/app/images/general/loader.gif")  }}' />
		        </div>
		    	<div>	        
	                {{ form_errors(form.message) }}
	                {{ form_widget(form.message) }} 
		        </div>
		    	<div>	        
	                {{ form_errors(form.nom) }}
	                {{ form_widget(form.nom) }} 
		        </div>
		    	<div>	        
	                {{ form_errors(form.email) }}
	                {{ form_widget(form.email) }} 
		        </div>
                {{ form_rest(form) }}
                <div class="alert alert-success btn-sent" role="alert">{{'message_sent'|trans}}...</div>
				<button type="submit" class="btn-send-to-skipper btn btn-warning pull-right">{{'send_to_skipper'|trans}}</button>
			</div>
		</div>
	</div>
</div>