{% extends "AppBundle:Front:layout.html.twig" %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" media="all" href="{{ asset('bundles/app/css/skippers.css') }}">
{% endblock %}   
{% block title %}{{'toptitle'|trans}} - {{'crew'|trans}}{% endblock %}
{% block content %}
	{% for skipper in skippers %}
		{% if loop.index0 % 4 == 0 %}
	    	<div class="row-skipper">
	    {% endif %}
	    <div class="col-md-3">
	    	<div class="panel panel-info">
		    	<div class="panel-heading">
		    		<h3 class="panel-title text-center">
			    			{{ skipper.name }}
		    		</h3>
		    	</div>
		    	<a class="panel-body panel-body-padding skipper" href="{{ path('skipper', { 'id': skipper.id, 'slug': skipper.name|slugify }) }}">
		            <span class="caption fade-caption">
						<p>
							{{ skipper.description|trans|striptags|truncate(300)|raw }}
						</p>
					</span>
					{#  en test 
						<img class="img-responsive center-block" src="{{ asset('bundles/app/images/test/icon-man.png') }}" alt="photo skipper" />
	        		#}
		        	{# en prod #}
	        			<img class="img-responsive center-block" src="{{ skipper.avatarWebPath }}" alt="photo {{ skipper.name }}" />
	        		 
	        	</a>
        	</div>
    	</div>
    	{% if loop.index0 % 4 == 3 %}
	    	</div>
	    {% endif %}
    {% endfor %}
{% endblock content %}