<h3 class="skipper-boat">{{'skipper_boat'|trans}}</h3>
<div class="skipper-boat-content">
    {% if boat|length == 1 %}
		<div class="slider slider-boat">
            {% if boat.miniatureWebPath is not null %}<div class="slider-item"><a href="{{ path('boat', {'id': boat.id, 'slug': boat.name|slugify }) }}"><img class="img-thumbnail img-responsive" src="{{ boat.miniatureWebPath }}" alt="photo voile" /></a></div>{% endif %}
            {% if boat.photoVoileWebPath is not null %}<div class="slider-item"><a href="{{ path('boat', {'id': boat.id, 'slug': boat.name|slugify }) }}"><img class="img-thumbnail img-responsive" src="{{ boat.photoVoileWebPath }}" alt="photo voile" /></a></div>{% endif %}
            {% if boat.photoMouillageWebPath is not null %}<div class="slider-item"><a href="{{ path('boat', {'id': boat.id, 'slug': boat.name|slugify }) }}"><img class="img-thumbnail img-responsive" src="{{ boat.photoMouillageWebPath }}" alt="photo mouillage" /></a></div>{% endif %}
            {% if boat.photoCockpitWebPath is not null %}<div class="slider-item"><a href="{{ path('boat', {'id': boat.id, 'slug': boat.name|slugify }) }}"><img class="img-thumbnail img-responsive" src="{{ boat.photoCockpitWebPath }}" alt="photo cockpit" /></a></div>{% endif %}
            {% if boat.photoCarreWebPath is not null %}<div class="slider-item"><a href="{{ path('boat', {'id': boat.id, 'slug': boat.name|slugify }) }}"><img class="img-thumbnail img-responsive" src="{{ boat.photoCarreWebPath }}" alt="photo carre" /></a></div>{% endif %}
            {% if boat.photoCabineWebPath is not null %}<div class="slider-item"><a href="{{ path('boat', {'id': boat.id, 'slug': boat.name|slugify }) }}"><img class="img-thumbnail img-responsive" src="{{ boat.photoCabineWebPath }}" alt="photo cabine" /></a></div>{% endif %}
	    </div>
    	<a class="skipper-boat-name" href="{{ path('boat', {'id': boat.id, 'slug': boat.name|slugify }) }}">{{ boat.name }}</a>
	{% endif %}
</div>