<div class="skipper-available">
    <table class="tableLegend"><td class="legend"><div class="active">X</div></td><td class="libelleLegend">Booked</td></table> 
    <table class="tableLegend"><td class="legend"><div class=>X</div></td><td class="libelleLegend">Available</td></table>
    <div class="slider">
		<div class="slider-item">
	    {% for i in 0..5 %}
		    {% set time = "now"|date_modify("+"~ i ~ " month")|date("U") %}
		    {% if(i%3==0)%}
		    	<div class="ligne">
			{% endif %}
			    <div class="col-md-4">
				    <table class="month">
						<thead>
							<tr class="monthname">
								<th colspan="7" class="center">
									{{ time|datetime('%B',app.request.locale) ~' '~time|date('Y') }}
								</th>
							</tr>
							<tr class="dayname">
								<th width="15%">{{'cal_mon'|trans}}</th>
								<th width="15%">{{'cal_tue'|trans}}</th>
								<th width="16%">{{'cal_wed'|trans}}</th>
								<th width="15%">{{'cal_thu'|trans}}</th>
								<th width="12%">{{'cal_fri'|trans}}</th>
								<th width="12%">{{'cal_sat'|trans}}</th>
								<th width="12%">{{'cal_sun'|trans}}</th>
							</tr>
						</thead>
						<tbody>
							<tr>
							{% set daysInMonth = time|date('t') %}
							{% set startDow = time|date('F 1\\s\\t Y')|date('w') %}
							{% set dow = startDow %}
							{% for day in range(1,daysInMonth) %}
								{% if loop.first and startDow != 0 %}
									<td colspan="{{ startDow }}"></td>
								{% endif %}
								<td>
									<div class="day">
										<div
		                                    {% for dateNonDisponibilite in datesNonDisponibilite %}
		                                        {% if dateNonDisponibilite.dateDebut|date("Ym") == time|date("Ym") 
		                                                and dateNonDisponibilite.dateDebut|date("d") <= day 
		                                                and (dateNonDisponibilite.dateFin|date("Ym") > time|date("Ym") 
		                                                    or (dateNonDisponibilite.dateFin|date("Ym") == time|date("Ym") 
		                                                        and dateNonDisponibilite.dateFin|date("d") >= day)
		                                                )
		                                                or (dateNonDisponibilite.dateDebut|date("Ym") < time|date("Ym") 
		                                                    and dateNonDisponibilite.dateFin|date("Ym") > time|date('Ym')
		                                                    or (dateNonDisponibilite.dateFin|date("Ym") == time|date('Ym') 
		                                                        and dateNonDisponibilite.dateFin|date("d") >= day
		                                                        and dateNonDisponibilite.dateDebut|date('Ym') < time|date("Ym")
		                                                    )) 
		                                        %}
		                                            class="active"
		                                        {% endif %}
		                                    {% endfor %}
										>{{ day }}
										<div>
										 {# day content here #}
										</div>
									</div>
								</td>
								{% if loop.last and dow != 6 %}
									<td colspan="{{ 6 - dow }}">&nbsp;</td>
								{% endif %}
								{% if dow == 6 %}
									{% set dow = 0 %}
								</tr>
								<tr>
								{% else %}
									{% set dow = dow + 1 %}
								{% endif %}
							{% endfor %}
							</tr>
						</tbody>
					</table>
				</div>
		    {% if(i%3==2)%}
		    	</div>
			{% endif %}
		{% endfor %}
	</div>
	<div class="slider-item">
		{% for i in 6..11 %}
		    {% set time = "now"|date_modify("+"~ i ~ " month")|date("U") %}
		    {% if(i%3==0)%}
		    	<div class="ligne">
			{% endif %}
			    <div class="col-md-4">
				    <table class="month">
						<thead>
							<tr class="monthname">
								<th colspan="7" class="center">
									{{ time|datetime('%B',app.request.locale) ~' '~time|date('Y') }}
								</th>
							</tr>
							<tr class="dayname">
								<th width="15%">{{'cal_mon'|trans}}</th>
								<th width="15%">{{'cal_tue'|trans}}</th>
								<th width="16%">{{'cal_wed'|trans}}</th>
								<th width="15%">{{'cal_thu'|trans}}</th>
								<th width="12%">{{'cal_fri'|trans}}</th>
								<th width="12%">{{'cal_sat'|trans}}</th>
								<th width="12%">{{'cal_sun'|trans}}</th>
							</tr>
						</thead>
						<tbody>
							<tr>
							{% set daysInMonth = time|date('t') %}
							{% set startDow = time|date('F 1\\s\\t Y')|date('w') %}
							{% set dow = startDow %}
							{% for day in range(1,daysInMonth) %}
								{% if loop.first and startDow != 0 %}
									<td colspan="{{ startDow }}"></td>
								{% endif %}
								<td>
									<div class="day">
										<div
		                                    {% for dateNonDisponibilite in datesNonDisponibilite %}
		                                        {% if dateNonDisponibilite.dateDebut|date("Ym") == time|date("Ym") 
		                                                and dateNonDisponibilite.dateDebut|date("d") <= day 
		                                                and (dateNonDisponibilite.dateFin|date("Ym") > time|date("Ym") 
		                                                    or (dateNonDisponibilite.dateFin|date("Ym") == time|date("Ym") 
		                                                        and dateNonDisponibilite.dateFin|date("d") >= day)
		                                                )
		                                                or (dateNonDisponibilite.dateDebut|date("Ym") < time|date("Ym") 
		                                                    and dateNonDisponibilite.dateFin|date("Ym") > time|date('Ym')
		                                                    or (dateNonDisponibilite.dateFin|date("Ym") == time|date('Ym') 
		                                                        and dateNonDisponibilite.dateFin|date("d") >= day
		                                                        and dateNonDisponibilite.dateDebut|date('Ym') < time|date("Ym")
		                                                    )) 
		                                        %}
		                                            class="active"
		                                        {% endif %}
		                                    {% endfor %}
										>{{ day }}
										<div>
										 {# day content here #}
										</div>
									</div>
								</td>
								{% if loop.last and dow != 6 %}
									<td colspan="{{ 6 - dow }}">&nbsp;</td>
								{% endif %}
								{% if dow == 6 %}
									{% set dow = 0 %}
								</tr>
								<tr>
								{% else %}
									{% set dow = dow + 1 %}
								{% endif %}
							{% endfor %}
							</tr>
						</tbody>
					</table>
				</div>
		    {% if(i%3==2)%}
		    	</div>
			{% endif %}
		{% endfor %}
		</div>
	</div>
</div>