<h1>Captain {{ skipper.name }}</h1>
<div class="submenu" role="tabpanel">
    <ul class="nav nav-tabs" role="tablist">
	    <li role="presentation" class="active"><a href="#presentation" class="skipper-home" aria-controls="home" role="tab" data-toggle="tab">{{'skipper_presentation'|trans}}</a></li>
	    <li role="presentation"><a href="#boat" class="skipper-boat" aria-controls="boat" role="tab" data-toggle="tab">{{'skipper_boat'|trans}}</a></li>
	    <li role="presentation"><a href="#destination" class="skipper-desti" aria-controls="destination" role="tab" data-toggle="tab">{{'skipper_desti'|trans}}</a></li>
	    <li role="presentation"><a href="#available" class="skipper-available" aria-controls="available" role="tab" data-toggle="tab">{{'skipper_availability'|trans}}</a></li>
	    <li role="presentation"><a href="#price" class="skipper-price" aria-controls="price" role="tab" data-toggle="tab">{{'skipper_price'|trans}}</a></li>
	    <li role="presentation"><a href="#contact" class="skipper-contact" aria-controls="contact" role="tab" data-toggle="tab">{{'skipper_contact'|trans}}</a></li>
    </ul>
</div>