{% extends "AppBundle:Front:layout.html.twig" %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" media="all" href="{{ asset('bundles/app/css/skippers.css') }}">
{% endblock %}   
{% block title %}{{'toptitle'|trans}} - {{'crew'|trans}}{% endblock %}


{% block content %}
	<h1>{{'crew_title'|trans}}</h1>
	{% for skipper in skippers %}
	    {% if loop.index0 % 3 == 0 %}
	    	<div class="row-skipper">
	    {% endif %}
        <a class="col-md-4 skipper" href="{{ path('skipper', { 'id': skipper.id }) }}">
        	<img class="img-responsive img-thumbnail" src="{{ skipper.avatarWebPath }}" alt="photo {{ skipper.name }}" /><br />
            <span>{{ skipper.name }}</span>
            <p>{{ skipper.description|trans|striptags|slice(0,150) ~ '...' }}</p>
            <span class="btn btn-warning pull-right">{{'suite'|trans}}</span>
        </a>
        {% if loop.index0 % 3 == 2 %}
	        </div>
        {% endif %}
    {% endfor %}
{% endblock content %}