{% for result in results %}
    {% if loop.index0 % 3 == 0 %}
    	<div class="row-bateau">
    {% endif %}
    <div class="col-md-4 bateau {% if loop.index0 % 3 == 2 %}bateau-last{% endif %}">
        <h3>{{ result.bateau.name }}</h3>
        <img class="img-responsive img-thumbnail" src="{{ result.bateau.miniatureWebPath }}" alt="photo {{ result.bateau.name }}" /><br />
        <p class="bateau-prix-semaine"> 
            {{'boat_price_from'|trans}} 	                       
             {% if result.tarifCroisiere[0].tarifHuitPersonnes is not null %}{{result.tarifCroisiere[0].tarifHuitPersonnes}}
             {% elseif result.tarifCroisiere[0].tarifSeptPersonnes is not null %}{{result.tarifCroisiere[0].tarifSeptPersonnes}}
             {% elseif result.tarifCroisiere[0].tarifSixPersonnes is not null %}{{result.tarifCroisiere[0].tarifSixPersonnes}}
             {% elseif result.tarifCroisiere[0].tarifCinqPersonnes is not null %}{{result.tarifCroisiere[0].tarifCinqPersonnes}}
             {% elseif result.tarifCroisiere[0].tarifQuatrePersonnes is not null %}{{result.tarifCroisiere[0].tarifQuatrePersonnes}}
             {% elseif result.tarifCroisiere[0].tarifTroisPersonnes is not null %}{{result.tarifCroisiere[0].tarifTroisPersonnes}}
             {% elseif result.tarifCroisiere[0].tarifDeuxPersonnes is not null %}{{result.tarifCroisiere[0].tarifDeuxPersonnes}}
             {% elseif result.tarifCroisiere[0].tarifUnePersonne is not null %}{{result.tarifCroisiere[0].tarifUnePersonne}}
             {% endif %}
             € <span class="boat-tarif-pour text-center">({{ result.tarifCroisiere[0].tarifPour|trans}})</span>
        </p>
        
        <div class="bateaux-icones col-md-4"><img src="{{ asset('bundles/app/images/icones/boat/icon-boat.png') }}" /><br />{{result.bateau.type}}</div>
        <div class="bateaux-icones col-md-4"><img src="{{ asset('bundles/app/images/icones/boat/icon-cabins.png') }}" /><br />{{result.bateau.nbCabine}} {{'boat_cabine'|trans}}</div>
        {% if (result.bateau.nbCouchage > 0) %}<div class="bateaux-icones col-md-4"><img src="{{ asset('bundles/app/images/icones/boat/icon-bed.png') }}" /><br />{{result.bateau.nbCouchage}} {{'boat_bed'|trans}}</div>{% endif %}
        <p class="bateaux-description">
    		{% if result.bateau.description|length > 100 %}
        		{{ result.bateau.description|striptags|slice(0,100)|raw }}...
        	{% else %}
        		{{ result.bateau.description|striptags|raw }}
    		{% endif %}
		</p>
        <a class="btn btn-sm btn-warning pull-right" href="{{ path('boat', { 'id': result.bateau.id, 'slug': result.bateau.name|slugify  }) }}">{{'suite'|trans}}</a>
    </div>
    {% if loop.index0 % 3 == 2 %}
        </div>
    {% endif %}
{% endfor %}
