{% extends '::back-office.html.twig' %}

{% block content %}
    <h1>{{ entity.name }} ({% if entity.actif == 1 %}Publié{%else %}Non publié{% endif %})</h1>
    <h2>{{ entity.category }}</h2>
    <p>{{ entity.letter }}</p>
    <a class="btn btn-default" href="{{ path('cause_resiliation') }}">
       Retour
    </a>
    <a class="btn btn-danger" href="{{ path('cause_resiliation_edit', { 'id': entity.id }) }}">
        Modifier
    </a>
    <a class="btn btn-danger" href="{{ path('cause_resiliation_delete', { 'id': entity.id }) }}">
        Supprimer
    </a>
    <a class="btn btn-danger" href="{{ path('cause_resiliation_new') }}">
       	Ajouter
    </a>
{% endblock %}
