{% extends "AppBundle:Front:layout.html.twig" %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" media="all" href="{{ asset('bundles/app/css/bateaux.css') }}">
{% endblock %}   
{% block title %}{{'toptitle'|trans}} - {{ bateau.name }}{% endblock %}


{% block content %}
	<h1>{{ bateau.name }}</h1>
        <div class="block-bateau-submenu">
            <a href="#" class="bateau-home {{ true  ? "active" : "" }}">{{'boat_presentation'|trans}}</a>
            <a href="#" class="bateau-home {{ false  ? "active" : "" }}">{{'boat_fiche'|trans}}</a>
            <a href="#" class="bateau-home {{ false ? "active" : "" }}">{{'boat_crew'|trans}}</a>
            <a href="#" class="bateau-dispo {{ false ? "active" : "" }}">{{'boat_desti'|trans}}</a>
            <a href="#" class="bateau-home {{ false ? "active" : "" }}">{{'boat_dispo'|trans}}</a>
            <a href="#" class="bateau-home {{ false ? "active" : "" }}">{{'boat_price'|trans}}</a>
            <a href="#" class="bateau-contact {{ false ? "active" : "" }}">{{'boat_contact'|trans}}</a>
        </div>
	<div>
            {{ bateau.description|raw }}
	</div>
{% endblock content %}