{% extends "AppBundle:Front:layout.html.twig" %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" media="all" href="{{ asset('bundles/app/css/bateaux.css') }}">
{% endblock %}   
{% block title %}{{'toptitle'|trans}} - {{ bateau.name }}{% endblock %}


{% block content %}
	<h1>{{ bateau.name }}</h1>
        <div class="block-bateau-submenu">
            <a href="#" class="bateau-home {{ true  ? "active" : "" }}">{{'boat_presentation'|trans}}</a>
            <a href="#" class="bateau-fiche {{ false  ? "active" : "" }}">{{'boat_fiche'|trans}}</a>
            <a href="#" class="bateau-crew {{ false ? "active" : "" }}">{{'boat_crew'|trans}}</a>
            <a href="#" class="bateau-desti {{ false ? "active" : "" }}">{{'boat_desti'|trans}}</a>
            <a href="#" class="bateau-dispo {{ false ? "active" : "" }}">{{'boat_dispo'|trans}}</a>
            <a href="#" class="bateau-price {{ false ? "active" : "" }}">{{'boat_price'|trans}}</a>
            <a href="#" class="bateau-contact {{ false ? "active" : "" }}">{{'boat_contact'|trans}}</a>
        </div>
	<div>
		<div class="col-fiche-bateau col-md-6">
			<h3>{{'boat_configuration'|trans}}</h3>
			<div><img src="{{ asset('bundles/app/images/icones/boat/1-icons-boat-tech-file-50pix-'~bateau.type|lower~'-noir.png') }}" />{{bateau.type}}</div>
			<div><img src="{{ asset('bundles/app/images/icones/boat/2-icons-boat-tech-file-50pix-CABINS-'~bateau.nbCabine~'-noir.png') }}" />{{bateau.nbCabine}} {{'boat_cabine'|trans}}</div>
			<div><img src="{{ asset('bundles/app/images/icones/boat/1A-icons-boat-tech-file-50pix-monohull-noir.png') }}" />8 {{'boat_bed'|trans}}</div>
			<div><img src="{{ asset('bundles/app/images/icones/boat/1A-icons-boat-tech-file-50pix-monohull-noir.png') }}" />4 lits double</div>
			<div><img src="{{ asset('bundles/app/images/icones/boat/4-icons-boat-tech-file-50pix-SHOWER-noir.png') }}" />{{bateau.nbDouche}} {{'boat_shower'|trans}}</div>
			<h3>{{'boat_specificites'|trans}}</h3>
			<div><img src="{{ asset('bundles/app/images/icones/boat/5-icons-boat-tech-file-50pix-LENGTH-noir.png') }}" />{{'boat_length'|trans}}: {{bateau.longueur}}</div>
			<div><img src="{{ asset('bundles/app/images/icones/boat/6-icons-boat-tech-file-50pix-WIDTH-noir.png') }}" />{{'boat_width'|trans}}: {{bateau.largeur}}</div>
			<div><img src="{{ asset('bundles/app/images/icones/boat/7-icons-boat-tech-file-50pix-DRAFT-noir.png') }}" />{{'boat_draft'|trans}}: {{bateau.tirantDEau}}</div>
			<div><img src="{{ asset('bundles/app/images/icones/boat/8-icons-boat-tech-file-50pix-MAINSAIL-noir.png') }}" />{{'boat_main_sail'|trans}}: {{bateau.surfacegrandvoile}}</div>
			<div><img src="{{ asset('bundles/app/images/icones/boat/9-icons-boat-tech-file-50pix-MOTOR-noir.png') }}" />{{'boat_motor'|trans}}: {{bateau.moteur}}</div>
			<div><img src="{{ asset('bundles/app/images/icones/boat/10-icons-boat-tech-file-50pix-FUEL-noir.png') }}" />{{'boat_fuelcapacity'|trans}}: {{bateau.reservoirCarburant}}</div>
			<div><img src="{{ asset('bundles/app/images/icones/boat/11-icons-boat-tech-file-50pix-WATER-noir.png') }}" />{{'boat_watercapacity'|trans}}: {{bateau.reservoirEau}}</div>
			<h3>{{'boat_equipments'|trans}}</h3>
			<div><img src="{{ asset('bundles/app/images/icones/boat/12-icons-boat-tech-file-50pix-NRG-noir.png') }}" />{{'boat_power'|trans}}: {{bateau.energie}}</div>
			<div><img src="{{ asset('bundles/app/images/icones/boat/13-icons-boat-tech-file-50pix-GALLEY-noir.png') }}" />{{'boat_galley'|trans}}: {{bateau.equipementCuisine}}</div>
			<div><img src="{{ asset('bundles/app/images/icones/boat/14-icons-boat-tech-file-50pix-DINGHY-noir.png') }}" />{{'boat_dinghy'|trans}}: {{bateau.dinghy}}</div>
			<h3>{{'boat_activity'|trans}}</h3>
			<div><img src="{{ asset('bundles/app/images/icones/boat/15-icons-boat-tech-file-50pix-ENTERTAINMENT-noir.png') }}" />{{'boat_loisir'|trans}}: {{bateau.loisir}}</div>
			<div><img src="{{ asset('bundles/app/images/icones/boat/16-icons-boat-tech-file-50pix-EQUIPMENTS-noir.png') }}" />{{'boat_jouet'|trans}}: {{bateau.jouet}}</div>
		</div>
            {{ bateau.description|raw }}
	</div>
{% endblock content %}