{% extends "AppBundle:Front:layout.html.twig" %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" media="all" href="{{ asset('bundles/app/css/bateaux.css') }}">
{% endblock %}   
{% block title %}{{'toptitle'|trans}} - {{'boats'|trans}}{% endblock %}

{% block content %}
    <h1>{{'boats'|trans}}</h1>
    {% for bateau in bateaux %}
	    {% if loop.index0 % 3 == 0 %}
	    	<div class="row-bateau">
	    {% endif %}
        <div class="col-md-2 bateau">
            <h3>{{ bateau.name }}</h3>
            <img class="img-responsive img-thumbnail" src="{{ bateau.miniatureWebPath }}" alt="photo {{ bateau.name }}" /><br />
            <p class="bateau-prix-semaine"> 
                A partir de 1250 € la semaine*
                <br />
                <span class="small">Tarif par personne sur une base de 8 personnes</span>
            </p>
            <div class="bateaux-icones"><img src="{{ asset('bundles/app/images/icones/boat/1-icons-boat-tech-file-50pix-'~bateau.type|lower~'-noir.png') }}" /><br />{{bateau.type}}</div>
            <div class="bateaux-icones"><img src="{{ asset('bundles/app/images/icones/boat/2-icons-boat-tech-file-50pix-CABINS-'~bateau.nbCabine~'-noir.png') }}" /><br />{{bateau.nbCabine}} {{'boat_cabine'|trans}}</div>
            
			{% if (bateau.nbCouchage > 0) %}<div><img src="{{ asset('bundles/app/images/icones/boat/3-icons-boat-tech-file-50pix-COUCHAGE-noir.png') }}" />{{bateau.nbCouchage}} {{'boat_bed'|trans}}</div>{% endif %}
            <p class="bateaux-description">{{ bateau.description|striptags|slice(0,100) ~ '...' }}</p>
            <a class="btn btn-sm btn-warning pull-right" href="{{ path('bateau', { 'id': bateau.id }) }}">{{'suite'|trans}}</a>
        </div>
        {% if loop.index0 % 3 == 2 %}
	        </div>
        {% endif %}
    {% endfor %}
{% endblock content %}