{% extends "AppBundle:Front:layout.html.twig" %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/app/js/contact.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        var urlContactAjax = "{{ path('contact_send') }}";
    </script>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" media="all" href="{{ asset('bundles/app/css/contact.css') }}">
{% endblock %}   
{% block title %}{{'toptitle'|trans}} - {{'contact'|trans}}{% endblock %}

{% block content %}
    <h1>{{'contact'|trans}}</h1>
    <p>{{'contact_intro'|trans|raw }}</p>
    <div class="col-md-6 col-form">
        <div class="loading">
            <img class="img-responsive" src='{{ asset("bundles/app/images/general/loader.gif")  }}' />
        </div>        
        <div class="clearfix form-contact">
	        {{ form_errors(form.message) }}
	        {{ form_widget(form.message) }} 
	    	<div class="col-md-6">
		        {{ form_errors(form.nom) }}
		        {{ form_widget(form.nom) }} 
	    	</div>
	    	<div class="col-md-6">
			    {{ form_errors(form.email) }}
		        {{ form_widget(form.email) }} 
	    	</div>
    	</div>
        {{ form_rest(form) }}
        
   	 	<div class="alert alert-success btn-sent" role="alert">{{'message_sent'|trans}}...</div>
		<button type="submit" class="btn-send center-block btn btn-warning">{{'send'|trans}}</button>
    </div>
    <div class="col-md-6">
	    <div class="email"><a href="mailto:contact@kitesurfeo.com">contact@kitesurfeo.com</a></div>
	    <div class="phone">+33 6 71 99 09 14</div>
	    <div class="address">9 rue de Franche Comté<br />53500 Ernée</div>
    </div>
    
    
{% endblock content %}