{% extends "AppBundle:Front:layout.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    <script src="http://openlayers.org/api/OpenLayers.js"></script>
	<script src="http://openweathermap.org/js/OWM.OpenLayers.1.3.4.js" ></script>
    <script src="{{ asset('bundles/app/js/lib/slick.js') }}" type="text/javascript"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
    <script src="{{ asset('bundles/app/js/destination.js') }}" type="text/javascript"></script> 
    <script>
		function initialize() {
		  var myLatlng = new google.maps.LatLng({{ destination.latitude }}, {{ destination.longitude }});
		  var mapOptions = {
		    zoom: 6,
		    center: myLatlng
		  }
		  var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
		
		  var marker = new google.maps.Marker({
		      position: myLatlng,
		      map: map
		  });
		}
		
		google.maps.event.addDomListener(window, 'load', initialize);
    </script>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" media="all" href="{{ asset('bundles/app/css/destinations.css') }}">
    <link rel="stylesheet" href="http://openlayers.org/en/v3.4.0/css/ol.css" type="text/css">
    <link rel="stylesheet" media="all" href="{{ asset('bundles/app/css/lib/slick.css') }}">
    <link rel="stylesheet" media="all" href="{{ asset('bundles/app/css/lib/slick-theme.css') }}">
{% endblock %}   
{% block title %}{{'toptitle'|trans}} - {{ destination.name }}{% endblock %}
{% block content %}
    {% set format = app.request.locale == "en" ? 'm/d/Y' : 'd/m/Y' %}
    <div class="destination-header">
    	<h1 class="destinations pull-right">{{ destination.name }}</h1>
		<img src="{{ destination.miniatureWebPath }}" class="img img-responsive" alt="{{ destination.name }}" />
	</div>
	<div class="destination-body">
		<div class="col-md-12">
			<div class="col-md-3 pull-left">
				<div id="map-canvas"></div>
				{% if offresSpeciales|length > 0 %}
					 <div class="block-bateau-destination panel panel-info">
						<div class="panel-heading">
				        	<h4 class="panel-title">{{'cruise_to'|trans}} {{ destination.name }}</h4>
				        </div>
				        {% for offreSpeciale in offresSpeciales %}
				            <div class="panel-body">
				                <img class="img-responsive" src="{{ offreSpeciale.miniatureWebPath }}" />
				                {{'From'|trans }} {{ offreSpeciale.dateDebut|date(format) }} {{'to'|trans }} {{ offreSpeciale.dateFin|date(format) }}<br />
				                <a href="{{ path('offrespeciale', { 'id': offreSpeciale.id, 'slug': offreSpeciale.name|slugify }) }}#contact" class="pull-right btn btn-warning">{{'more'|trans}}</a>
				                {{'Boat'|trans }}: <a href="{{ path('boat', { 'id': offreSpeciale.bateau.id, 'slug': offreSpeciale.bateau.name|slugify }) }}">{{ offreSpeciale.bateau.name }}</a>
				                Skipper: <a href="{{ path('skipper', { 'id': offreSpeciale.skipper.id, 'slug': offreSpeciale.skipper.name|slugify }) }}">{{ offreSpeciale.skipper.name }}</a>
				            </div>
				        {% endfor %}
					</div>
				{% endif %}
			</div>
			<div class="col-md-3 pull-right">
				<div class="panel panel-info">
					<div class="panel-heading">
						<h2 class="panel-title">{{'latest_picture_from'|trans }} {{ destination.name }}</h2>
					</div>
					<div class="panel-body">
						<div class="slider-side">
							{% for photo in media|slice(11,11) %}
								<div class="slider-item text-center">
									<img class="center-block" src="https://farm{{ photo.attributes.farm }}.staticflickr.com/{{ photo.attributes.server }}/{{ photo.attributes.id }}_{{ photo.attributes.secret }}_q.jpg" />
								</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
			{% set description_part =  destination.description|split('<boundary>') %}
			{{ description_part[0]|raw }}
			<div class="slider">
				{% for photo in media|slice(0,11) %}
					<div class="slider-item text-center">
						<img class="center-block" src="https://farm{{ photo.attributes.farm }}.staticflickr.com/{{ photo.attributes.server }}/{{ photo.attributes.id }}_{{ photo.attributes.secret }}_q.jpg" />
					</div>
				{% endfor %}
			</div>
			{{ description_part[1]|raw }}
		</div>
		{% if weathers is not null %}
			<div class="col-md-12">
				<div class="slider-weather">
			        {% for weather in weathers %}
			        	{% if loop.index == 1 or loop.index == 6 %}
							<div class="slider-item">
			        			<div class="col-md-weather-container">
									<div class="last-update">
							        	Last update: {{ weathers.lastUpdate|date(format ~ " H:i") }} | 
							        	Sunrise: {{ weathers.sun.rise|date("H:i:s") }} | 
							        	Sunset: {{ weathers.sun.set|date("H:i:s") }}
						        	</div>
			        	{% endif %}
			        	<div class="col-md-weather panel panel-info text-center">
				        	<div class="panel-heading"><h3 class="panel-title">{{ weather.time.day|date(format) }}</h3></div>
				        	<img class="center-block" src="{{ weather.weather.iconUrl }}" alt="icon {{ weather.weather.description }}"  /><strong>{{ weather.temperature|raw }}</strong><br />
				        	{{ weather.weather.description }}
				        	<div class="text-left">
					        	<div class="even">{{'wind_speed'|trans }}: {{ weather.wind.speed }}</div>
					        	<div class="even">{{ weather.wind.speed.description }}</div>
					        	<div class="even">{{'wind_direction'|trans }}: {{ weather.wind.direction }}</div>
				        	</div>
			        	</div>
			        	{% if loop.index == 5 or loop.index == 10 %}
			        			</div>
			        		</div>
			        	{% endif %}
			        {% endfor %}
		    	</div>
			</div>
		{% endif %}
	</div>
{% endblock content %}