{% extends "AppBundle:Front:layout.html.twig" %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" media="all" href="{{ asset('bundles/app/css/destinations.css') }}">
{% endblock %}   
{% block title %}{{'toptitle'|trans}} - {{ destination.name }}{% endblock %}
{% block content %}
    {% set format = app.request.locale == "en" ? 'm/d/Y' : 'd/m/Y' %}
	<h1 class="destinations">{{ destination.name }}</h1>
	<div class="{% if offresSpeciales|length > 0 %}col-md-8{% else %}col-md-12{% endif %}">
		{{ destination.description|raw }}
	</div>
	{% if offresSpeciales|length > 0 %}
		<div class="col-md-4 block-bateau-destination">
	        <h4>{{'cruise_to'|trans}} {{ destination.name }}</h4>
	        {% for offreSpeciale in offresSpeciales %}
	            <div class="row">
	                <img class="img-thumbnail" src="{{ offreSpeciale.miniatureWebPath }}" />
	                <strong>{{'From'|trans }}</strong> {{ offreSpeciale.dateDebut|date(format) }} <strong>{{'to'|trans }}</strong> {{ offreSpeciale.dateFin|date(format) }}
	                <strong>{{'Boat'|trans }}: </strong> <a href="{{ path('boat', { 'id': offreSpeciale.bateau.id }) }}">{{ offreSpeciale.bateau.name }}</a>
	                <strong>Skipper: </strong> <a href="{{ path('skipper', { 'id': offreSpeciale.skipper.id }) }}">{{ offreSpeciale.skipper.name }}</a>
	            </div>
	        {% endfor %}
		</div>
	{% endif %}
{% endblock content %}