{% extends "AppBundle:Front:layout.html.twig" %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" media="all" href="{{ asset('bundles/app/css/destinations.css') }}">
{% endblock %}   
{% block title %}{{'toptitle'|trans}} - {{'destinations'|trans}}{% endblock %}
{% block content %}
	<h1 class="destinations">{{'destinations'|trans}}</h1>
    <div class="block-description-destinations">
        {{'destinations_intro'|trans}}
    </div>
    <div class="tab-content">
	    <ul class="menu-destinations">
	        {% for destination in destinations%}
	            <li><a href="{{ path('destination', { 'id': destination.id }) }}"><img src="{{ destination.flagWebPath }}" class="img-menu" alt="{{'menu_flag'|trans }} {{ destination.name }}" />{{ destination.name }}</a></li>
	        {% endfor %}
	    </ul>
	    <iframe src="https://mapsengine.google.com/map/embed?mid=zp1fYHiVOT9o.k8YfNcL5EBpc" height="600"></iframe>
    </div>
{% endblock content %}