{% extends "AppBundle:Front:layout.html.twig" %}
{% block content %}
{% for flashMessage in app.session.flashbag.get('notice') %}
    <div class="alert alert-success flash-notice">
        {{ flashMessage }}
    </div>
{% endfor %}
<table>
	<tr>
		<th>De</th>
		<th>à</th>
		<th>Message</th>
		<th>Action</th>
	</tr>
{% for devis in deviss %}
	<tr>
		 <td>{{ devis.nom }} <{{ devis.email }}></td>
		 <td>{% if devis.skipper is not null %}{{ devis.skipper }}{% else %}Personne{% endif %}</td>
		 <td>{{ devis.message }}</td>
		 <td>
		 	<a class="btn btn-sm btn-default" href="{{ path('devis_email', {'id': devis.id, 'to': 'skipper' }) }}">
				<i class="glyphicon glyphicon-envelope"></i>
				Envoyer au skipper
			</a>
			<a class="btn btn-sm btn-default" href="{{ path('devis_delete', {'id': devis.id }) }}">
				<i class="glyphicon glyphicon-delete"></i>
				Effacer
			</a>
		</td>
	 </tr>
	{% for mail in devis.mails %}
		<tr>
			 <td>{{ mail.from }}</td>
			 <td>{% if devis.nom is not null %}{{ devis.nom }}{% else %}Client sans nom{% endif %}</td>
			 <td>{{ mail.message|raw }}</td>
			 <td>
			 	<a class="btn btn-sm btn-default" href="{{ path('devis_email', {'id': devis.id, 'to': 'client', 'messageId': mail.id  }) }}">
					<i class="glyphicon glyphicon-envelope"></i>
					Envoyer au client
				</a>
			</td>
		 </tr>
	{% endfor %}
{% endfor %}
</table>
{% endblock content %}