{% extends "AppBundle:Front:layout.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" media="all" href="{{ asset('bundles/app/css/faq.css') }}">
{% endblock %}
{% block title %}{{'toptitle'|trans}} - {{'faq'|trans}}{% endblock %}
{% block content %}
	<div class="accordion vertical">
	    <section id="faq1" class="panel panel-info">
	        <h2 class="panel-heading">
	        	<a class="panel-title" href="#faq1">{{'faq_title_1'|trans|raw}}</a>
        	</h2>
        	<p class="panel-body panel-body-padding">{{'faq_1'|trans|raw}}</p>
	    </section>
	    <section id="faq2" class="panel panel-info">
	        <h2 class="panel-heading">
	        	<a class="panel-title" href="#faq2">{{'faq_title_2'|trans|raw}}</a>
        	</h2>
	        <p class="panel-body panel-body-padding">{{'faq_2'|trans|raw}}</p>
	    </section>
	    <section id="faq3" class="panel panel-info">
	        <h2 class="panel-heading">
	        	<a class="panel-title" href="#faq3">{{'faq_title_3'|trans|raw}}</a>
        	</h2>
	        <p class="panel-body panel-body-padding">{{'faq_3'|trans|raw}}</p>
	    </section>
	    <section id="faq4" class="panel panel-info">
	        <h2 class="panel-heading">
	        	<a class="panel-title" href="#faq4">{{'faq_title_4'|trans|raw}}</a>
        	</h2>
	        <p class="panel-body panel-body-padding">{{'faq_4'|trans|raw}}</p>
	 </div>
 {% endblock %}