<div class="footer">
	<!--<ul class="social">
    	<li><a class="facebook" href="#"></a></li>
        <li><a class="twitter" href="#"></a></li>
        <li><a class="pinterest" href="#"></a></li>
        <li><a class="googleplus" href="#"></a></li>
        <li><a class="feed" href="#"></a></li>
    </ul>-->
	<a href="{{ path('sitemap') }}">{{'sitemap'|trans}}</a> | 
	<a href="{{ path('mentionslegales') }}">{{'mentionslegales'|trans}}</a> | 
	<a href="{{ path('faq') }}">{{'faq'|trans}}</a> |
	<a href="{{ path('contact') }}">{{'contact'|trans}}</a>
</div>