<div class="footer">
	<a href="{{ path('sitemap') }}">{{'sitemap'|trans}}</a> | 
	<a href="{{ path('mentionslegales') }}">{{'mentionslegales'|trans}}</a> | 
	<a href="{{ path('faq') }}">{{'faq'|trans}}</a> |
	<a href="{{ path('contact') }}">{{'contact'|trans}}</a>
</div>