<div class="container-header">
    <div class="title">
        <h1>{{'logotitle'|trans }}</h1>
        <a class="logo" href="{{ path("homepage") }}"><img src="{{ asset('bundles/app/images/general/logo.png') }}" alt="logo kitesurfari" /></a>
    </div>
    <div>
        <div class="lang">
        	<a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'})) }}"><img src="{{ asset('bundles/app/images/general/drapeauEn.gif') }}" alt="logo kitesurfari" /></a>
   	 		<a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'fr'})) }}"><img src="{{ asset('bundles/app/images/general/drapeauFr.gif') }}" alt="logo kitesurfari" /></a>
        </div>          
        {%  render(controller('AppBundle:Search:searchHeader')) %}    
    </div>
</div>