{% extends "AppBundle:Front:layout_home.html.twig" %}
{% block content %}   

<video autoplay poster="{{ asset('bundles/app/media/sunset_waves.png') }}">
  <source src="{{ asset('bundles/app/media/sunset_waves.webm') }}" type="video/webm">
  <source src="{{ asset('bundles/app/media/sunset_waves.mp4') }}" type="video/mp4">
</video>
<div class="clearfix">	
	<div class="col-md-12">
		<div class="slider-destination">
			{% for destination in destinations %}
				<div class="slider-item">
	        		<a href="{{ path('destination', {'id': destination.id, 'slug': destination.name|slugify }) }}">
			        	<h3>{{ destination.name }}</h3>
	        			<img src="{{ destination.miniatureWebPath }}" class="img img-thumbnail img-responsive" />
	        		</a>
		        </div>
			{% endfor %}
		</div>
	</div>
</div>
<div class="home-bottom">
	<h1>{{'home_title'|trans|raw }}</h1>
	<div class="col-md-4">
		<div class="panel-offre">
			<div class="slider">
				{%  for offreSpeciale in offresSpeciales  %}
					<div class="slider-item">
						<div class="panel panel-info description">
							<div class="panel-heading">
						        <h3 class="panel-title">
						        	{{ offreSpeciale.name }}<br />
						  			{{'departure_date'|trans }} {{ offreSpeciale.dateDebut|date('d/m/Y') }}
								</h3>
							</div>
							<div class="panel-body">
							  	<img class="img-responsive" src="{{ offreSpeciale.miniatureWebPath }}" />
							  	<div class="panel-btn">
							        <div class="pull-left">
									  	<div class="price btn btn-warning btn-sm  text-center">
										  	${% if offreSpeciale.tarifHuitPersonnes > 0 %}
										  		{{ (offreSpeciale.tarifHuitPersonnes/8)|round }}
									  		 {% elseif offreSpeciale.tarifSeptPersonnes > 0 %}
									  		 	{{ (offreSpeciale.tarifSeptPersonnes/7)|round }}
									  		 {% elseif offreSpeciale.tarifSixPersonnes > 0 %}
									  		 	{{ (offreSpeciale.tarifSixPersonnes/6)|round }}
									  		 {% elseif offreSpeciale.tarifCinqPersonnes > 0 %}
									  		 	{{ (offreSpeciale.tarifCinqPersonnes/5)|round }}
									  		 {% elseif offreSpeciale.tarifQuatrePersonnes > 0 %}
									  		 	{{ (offreSpeciale.tarifQuatrePersonnes/4)|round }}
									  		 {% elseif offreSpeciale.tarifTroisPersonnes > 0 %}
									  		 	{{ (offreSpeciale.tarifTroisPersonnes/3)|round }}
									  		 {% elseif offreSpeciale.tarifDeuxPersonnes > 0 %}
									  		 	{{ (offreSpeciale.tarifDeuxPersonnes/2)|round }}
											 {% endif %}
									  		  / {{ offreSpeciale.tarifPour|trans }}
								  		</div>
							  		</div>
								  	<a href="{{ path('offrespeciale', { id: offreSpeciale.id, 'slug': offreSpeciale.name|slugify }) }}" class="btn btn-warning btn-sm details pull-right">{{'details'|trans }}</a>
						  		</div>
						  		<a href="{{ path('offresspeciales') }}" class="see-all-special-offers pull-right">{{'see_specials_offers'|trans }}</a>
							</div>
						</div>
					</div>
				{% endfor %}	
			</div>
		</div>
	</div>  
	<div class="col-md-4">
		<div class="slider">
			{% for boat in boats %}
				<div class="slider-item">
					<div class="panel panel-info">
						<div class="panel-heading">
				        	<h3 class="panel-title">{{ 'boats'|trans }}</h3>
			        	</div>
			        	<div class="panel-body panel-body-padding">
							<a href="{{ path('boat', {'id': boat.id, 'slug': boat.name|slugify }) }}">
							<figure class="text-center">			        		
			        			<img src="{{ boat.miniatureWebPath }}" class="img img-responsive center-block" />
				        		<figcaption>{{ boat.name }}</figcaption>
							</figure>
							</a>
			        	</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>    
	<div class="col-md-4">
		<div class="slider">
			{% for skipper in skippers %}
				<div class="slider-item">
					<div class="panel panel-info">
						<div class="panel-heading">
				        	<h3 class="panel-title">{{ 'home_equipages'|trans }}</h3>
			        	</div>
			        	<div class="panel-body panel-body-padding">
							<a href="{{ path('skipper', {'id': skipper.id, 'slug': skipper.name|slugify}) }}">
							<figure class="text-center">			        		
			        			<img src="{{ skipper.avatarWebPath }}" class="img img-responsive center-block" />
				        		<figcaption>{{ skipper.name }}</figcaption>
							</figure>
							</a>
			        	</div>
					</div>
				</div>
			{% endfor %}
		</div> 
	</div>
	<div class="col-md-3">
		{% include "AppBundle:Front:newsletter.html.twig" %} 
	</div>
</div>
{% endblock content %}