{% extends "AppBundle:Front:layout_home.html.twig" %}
{% block content %}   
	<span class="btn-connect" data-toggle="modal" data-target="#modal-connect">Se connecter</span>
	<img src="{{ asset('bundles/app/images/general/logo.png') }}" alt="logo myabos" />
	<h1>{{'home_title'|trans|raw }}</h1>
    {% include "AppBundle:Registration:registerStep1.html.twig" %}
    <div class="col-md-12">
    	<div class="col-md-4">
    		<div class="thumbnail">
      			<img src="{{ asset('bundles/app/images/icones/icon-cloud-store.png') }}" class="img-responsive" alt="icone stockage">
			</div>
    		Stocker vos contrats et facture
    	</div>
    	<div class="col-md-4">
    		<div class="thumbnail">
      			<img src="{{ asset('bundles/app/images/icones/icon-message.png') }}" class="img-responsive" alt="icone enveloppe">
			</div>
    		Recevez des alertes à vos dates de résiliation
    	</div>
    	<div class="col-md-4">
    		<div class="thumbnail">
      			<img src="{{ asset('bundles/app/images/icones/icon-smiley.png') }}" class="img-responsive" alt="icone smiley">
			</div>
    		Résilier vos contrats de votre canapé
    	</div>
    </div>

	<div id="modal-connect" class="modal fade" role="dialog">
	  	<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<img src="{{ asset('bundles/app/images/general/logo.png') }}" width="48" alt="logo myabos" />
				</div>
				<div class="modal-body">
					<h4>Déjà membre?</h4>
					{{ render(controller('AppBundle:Security:loginBis')) }}
				</div>
			</div>
		</div>
	</div>

	<div id="modal-register" class="modal fade" role="dialog">
	  	<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<img src="{{ asset('bundles/app/images/general/logo.png') }}" width="48" alt="logo myabos" />
				</div>
				<div class="modal-body">
					<h4>Inscription</h4>
					{{ render(controller('AppBundle:Security:registerBis')) }}
				</div>
			</div>
		</div>
	</div>
{% endblock content %}