<div class="col-menu">
    <ul class="nav nav-pills nav-stacked">
        <li {% if app.request.attributes.get('_route') starts with 'homepage' %}class="active"{% endif %}><a href="{{ path('homepage') }}" class="nav-item nav-accueil">Accueil</a></li>
        <li><a href="{{ path('offresspeciales') }}" class="nav-item nav-offres">Offres spéciales</a></li>
        <li {% if app.request.attributes.get('_route') starts with 'prestation' %}class="active"{% endif %}><a href="{{ path('prestations') }}" class="nav-item nav-prestations">Prestations</a></li>
        <li {% if app.request.attributes.get('_route') starts with 'destination' %}class="active"{% endif %}><a href="{{ path('destinations') }}" class="nav-item nav-destinations">Destinations</a></li>
        <li {% if app.request.attributes.get('_route') starts with 'bateau' %}class="active"{% endif %}><a href="{{ path('bateaux') }}" class="nav-item nav-flotte">Flotte</a></li>
        <li {% if app.request.attributes.get('_route') starts with 'skipper' %}class="active"{% endif %}><a href="{{ path('skippers') }}" class="nav-item nav-equipages">Equipages</a></li>
        <li {% if app.request.attributes.get('_route') starts with 'ensavoirplus' %}class="active"{% endif %}><a href="{{ path('ensavoirplus') }}" class="nav-item nav-ensavoirplus">En savoir +</a></li>
        <li><a href="{{ path('liens') }}" class="nav-item nav-liens">Liens</a></li>
    </ul>
    <div class="block-newsletter">
	    <form type="action" class="newsletter">
	    	<legend>Newsletter</legend>
	    	<input type="text" class="newsletter-email" placeholder="email" />
	    	<input type="submit" class="btn btn-sm btn-danger" value="S'abonner" />
	    </form>
    </div>
</div>