<div class="pull-left menu">
    <a href="{{ path('homepage') }}" class="btn nav-accueil {% if route starts with 'homepage' %}active{% endif %}">{{'home'|trans}}</a>
    <!-- <a href="{{ path('offresspeciales') }}" class="btn nav-offres {% if route starts with 'offrespeciale' or route starts with 'offresspeciales' %}active{% endif %}">{{'offres_speciales'|trans}}</a> -->
    <div class="btn-group">
    	<button type="button" id="btn-destination" data-toggle="dropdown" class="btn dropdown-toggle  {% if route starts with 'destination'%}active{% endif %}">
    		{{'home_destinations'|trans}}
    		<span class="caret"></span>
		</button>
		<ul class="dropdown-menu" role="menu" aria-labelledby="btn-destination">
			{% for destination in menuDestinations %}
				{% if loop.index%9 == 1 %}
					<div class="col-md-4">
				{% endif %}
				<li class="menu-item-destination"><a href="{{ path('destination', {'id': destination.id, 'slug': destination.name|slugify}) }}"><img src="{{ destination.flagWebPath }}" class="img-menu" alt="{{'menu_flag'|trans }} {{ destination.name }}" />{{ destination.name }}</a></li>
				{% if loop.index%9 == 0 %}
					</div>
				{% else %}
					<li class="divider"></li>
				{% endif %} 
			{% endfor %}
			<a href="{{ path('destinations') }}" class="see-destinations pull-right">{{'see_destinations'|trans }} >></a>
		</ul>
	</div>
    <a href="{{ path('boats') }}" class="btn nav-flotte  {% if route starts with 'boats' or route starts with 'boat' %}active{% endif %}">{{'home_flotte'|trans}}</a>
    <a href="{{ path('skippers') }}" class="btn nav-equipages  {% if route starts with 'skippers' or route starts with 'skipper' %}active{% endif %}">{{'home_equipages'|trans}}</a>
    <!--<a href="{{ path('ensavoirplus') }}" class="btn nav-ensavoirplus  {% if route starts with 'ensavoirplus' %}active{% endif %}">{{'know_more'|trans}}</a>-->
</div>