<div class="col-menu">
    <ul class="nav nav-pills nav-stacked">
        <li {% if app.request.attributes.get('_route') starts with 'homepage' %}class="active"{% endif %}><a href="{{ path('homepage') }}" class="nav-item nav-accueil">{{'home'|trans}}</a></li>
        <li {% if app.request.attributes.get('_route') starts with 'offrespeciale' %}class="active"{% endif %}><a href="{{ path('offresspeciales') }}" class="nav-item nav-offres">{{'offres_speciales'|trans}}</a></li>
        <li {% if app.request.attributes.get('_route') starts with 'prestation' %}class="active"{% endif %}><a href="{{ path('prestations') }}" class="nav-item nav-prestations">{{'home_prestations'|trans}}</a></li>
        <li {% if app.request.attributes.get('_route') starts with 'destination' %}class="active"{% endif %}><a href="{{ path('destinations') }}" class="nav-item nav-destinations">{{'home_destinations'|trans}}</a></li>
        <li {% if app.request.attributes.get('_route') starts with 'boat' %}class="active"{% endif %}><a href="{{ path('boats') }}" class="nav-item nav-flotte">{{'home_flotte'|trans}}</a></li>
        <li {% if app.request.attributes.get('_route') starts with 'skipper' %}class="active"{% endif %}><a href="{{ path('skippers') }}" class="nav-item nav-equipages">{{'home_equipages'|trans}}</a></li>
        <li {% if app.request.attributes.get('_route') starts with 'ensavoirplus' %}class="active"{% endif %}><a href="{{ path('ensavoirplus') }}" class="nav-item nav-ensavoirplus">{{'know_more'|trans}}</a></li>
        <li {% if app.request.attributes.get('_route') starts with 'lien' %}class="active"{% endif %}><a href="{{ path('liens') }}" class="nav-item nav-liens">{{'liens'|trans}}</a></li>
    </ul>
    <div class="block-newsletter">
	    <form type="action" class="newsletter">
	    	<legend>{{'newsletter'|trans }}</legend>
	    	<input type="text" class="newsletter-email" placeholder="email" />
	    	<input type="submit" class="btn btn-sm btn-warning" value="{{'newsletter_subscribe'|trans }}" />
	    </form>
    </div>
</div>