<div class="col-md-2 btn-group-vertical pull-left">
    <a href="{{ path('homepage') }}" class="btn btn-info nav-accueil">{{'home'|trans}}</a>
    <a href="{{ path('offresspeciales') }}" class="btn btn-info nav-offres">{{'offres_speciales'|trans}}</a>
    <div class="btn-group">
    	<button type="button" id="btn-destination" data-toggle="dropdown" class="btn btn-info dropdown-toggle">
    		{{'home_destinations'|trans}}
    		<span class="caret"></span>
		</button>
		<ul class="dropdown-menu" role="menu" aria-labelledby="btn-destination">
			{% for destination in menuDestinations %}
				{% if loop.index%9 == 1 %}
					<div class="col-md-4">
				{% endif %}
				<li class="menu-item-destination"><a href="{{ path('destination', {'id': destination.id}) }}">{{ destination.name }}</a></li>
				{% if loop.index%9 == 0 %}
					</div>
				{% else %}
					<li class="divider"></li>
				{% endif %} 
			{% endfor %}
			<a href="{{ path('destinations') }}" class="see-destinations pull-right">{{'see_destinations'|trans }} >></a>
		</ul>
	</div>
    <a href="{{ path('boats') }}" class="btn btn-info nav-flotte">{{'home_flotte'|trans}}</a>
    <a href="{{ path('skippers') }}" class="btn btn-info nav-equipages">{{'home_equipages'|trans}}</a>
    <a href="{{ path('ensavoirplus') }}" class="btn btn-info nav-ensavoirplus">{{'know_more'|trans}}</a>
</div>