{% extends "AppBundle:Front:layout.html.twig" %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" media="all" href="{{ asset('bundles/app/css/prestations.css') }}">
{% endblock %}   
{% block title %}{{'toptitle'|trans}} - {{ prestation.name }}{% endblock %}


{% block content %}
	<h1>{{'home_prestations'|trans}} - {{ prestation.name }}</h1>
        <div class="block-prestations-name">
        {% for prestationName in prestationsName %}<a href="{{ path('prestation', { 'id': prestationName.id }) }}" class="prestations-name {{ prestationName.name == prestation.name  ? "active" : "" }}">{{ prestationName.name }}</a>{% endfor %}
        </div>
	<div class="block-bateau-prestation">
            <h4>{{'prestation_boats'}} {{ prestation.name }}</h4>
            <div class="row">
                <img class="img-thumbnail" src="{{ asset("bundles/app/images/test/ICON-prestations-high-end-75 pixels-noir.png") }}" />
                Bateau: lagoon 44
            </div>
            <div class="row">
                <img class="img-thumbnail" src="{{ asset("bundles/app/images/test/ICON-prestations-high-end-75 pixels-noir.png") }}" />
                Bateau: lagoon 44
            </div>
            <div class="row">
                <img class="img-thumbnail" src="{{ asset("bundles/app/images/test/ICON-prestations-high-end-75 pixels-noir.png") }}" />
                Bateau: lagoon 44
            </div>
            <div class="row">
                <img class="img-thumbnail" src="{{ asset("bundles/app/images/test/ICON-prestations-high-end-75 pixels-noir.png") }}" />
                Bateau: lagoon 44
            </div>
	</div>
	<div>
	{{ prestation.description|raw }}
	</div>
{% endblock content %}