{% extends "AppBundle:Front:layout.html.twig" %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" media="all" href="{{ asset('bundles/app/css/prestations.css') }}">
{% endblock %}   
{% block title %}{{'toptitle'|trans}} - {{ prestation.name }}{% endblock %}


{% block content %}
	<h1>{{'home_prestations'|trans}} - {{ prestation.name }}</h1>
    <ul class="lienMenu block-prestations-name">
        {% for prestationMenu in prestationsMenu %}
		    <li class="flip">
		        <div class="square-front"><img src="{{ prestationMenu.iconeWebPath|replace({ ('75'): '25' }) }}" /></div>
		        <div class="square-back"><a href="{{ path('prestation', { 'id': prestationMenu.id }) }}" class="prestations-name {{ prestationMenu.name == prestation.name  ? "active" : "" }}">{{ prestationMenu.name }}</a></div> 
			</li>
        {% endfor %}
	</ul>
	<div class="{% if boats|length > 0 %}col-md-9{% else %}col-md-12{% endif %}">
		{{ prestation.description|raw }}
	</div>
	{% if boats|length > 0 %}
		<div class="col-md-3 prestation-boat-container">
	    	<div class="prestation-boat">
				<h2 class="prestation-boat-title">{{'boat_offering'|trans }} {{ prestation.name }}</h2>
		    	{% for boat in boats %}
		    		<div class="boat">
		    			<img src="{{ boat.miniatureWebPath }}" class="col-md-4 img-responsive img-thumbnails pull-left" />
		    			<div class="boat-name"><a href="{{ path("boat", {'id': boat.id}) }}">{{ boat.name }}</a></div>
		    		</div>
		    	{% endfor %}
	    	</div>
	    </div>
    {% endif %}
{% endblock content %}