{% extends "AppBundle:Front:layout.html.twig" %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" media="all" href="{{ asset('bundles/app/css/prestations.css') }}">
{% endblock %}   
{% block title %}{{'toptitle'|trans}} - {{'home_prestations'|trans }}{% endblock %}


{% block content %}
	<h1>{{'home_prestations'|trans }}</h1>
    {% for prestation in prestations %}
            {% if loop.index0 % 4 == 0 %}
                <div class="row-prestation">
            {% endif %}
            <a class="col-md-3 col-20 prestation" href="{{ path('prestation', { 'id': prestation.id }) }}">
                <img class="img-responsive img-thumbnail" src="{{ prestation.iconeWebPath }}" alt="photo {{ prestation.name }}" /><br />
                <span>{{ prestation.name }}</span>
            </a>
        {% if loop.index0 % 4 == 3 %}
                </div>
        {% endif %}
    {% endfor %}
{% endblock content %}