{% extends "AppBundle:Front:layout.html.twig" %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" media="all" href="{{ asset('bundles/app/css/skippers.css') }}">
{% endblock %}   
{% block title %}{{toptitle}} - Equipages{% endblock %}


{% block content %}
	<h1>Captain {{ skipper.name }}</h1>
        <div class="block-skipper-submenu">
            <a href="#" class="skipper-home {{ true  ? "active" : "" }}">Présentation</a>
            <a href="#" class="skipper-home {{ false  ? "active" : "" }}">Bateau</a>
            <a href="#" class="skipper-home {{ false ? "active" : "" }}">XXXXXX</a>
            <a href="#" class="skipper-dispo {{ false ? "active" : "" }}">XXXXXX</a>
            <a href="#" class="skipper-home {{ false ? "active" : "" }}">Date non disponibilité</a>
            <a href="#" class="skipper-home {{ false ? "active" : "" }}">XXXXXX</a>
            <a href="#" class="skipper-contact {{ false ? "active" : "" }}">Contacter</a>
        </div>
	<div>
            {{ skipper.description|raw }}
	</div>
{% endblock content %}