{% if error %}
    <div class="bg-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
<link rel="stylesheet" media="all" href="{{ asset('bundles/appfrontoffice/css/registration.css') }}">
<div class="clearfix">
	<div class="col-md-6 center-block" id="login-form" >
	    <form action="{{ path("fos_user_security_check") }}" method="post" class="center-block">
	        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            <input type="text" class="form-control input-lg" id="username" name="_username" value="{{ last_username }}" placeholder="Email" required="required"/>
            <input type="password" class="form-control input-lg" id="password" name="_password" placeholder="Mot de passe" required="required"/>
            <input type="checkbox" id="remember_me" class="remember-me" name="_remember_me" value="on" />
            <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
        	<br />
            <a href="{{ path('fos_user_resetting_request') }}">
                <strong>{{ 'reset_password'|trans }}</strong>
            </a>
        	<input class="btn btn-color btn-block" type="submit" id="_submit" name="_submit" value="Accéder à la plateforme" />
	    </form>
    </div>
</div>