{% extends "AppBundle:Front:layout.html.twig" %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" media="all" href="{{ asset('bundles/app/css/bateaux.css') }}">
{% endblock %}   
{% block title %}{{'toptitle'|trans}} - {{'boats'|trans}}{% endblock %}
{% block content %}
    {% for croisiere in croisieres %}
	    {% if loop.index0 % 3 == 0 %}
	    	<div class="row-bateau">
	    {% endif %}
        <div class="col-md-4 panel panel-info bateau {% if loop.index0 % 3 == 2 %}bateau-last{% endif %}">
            <div class="panel-heading">
            	<h3 class="panel-title">
            		{{ croisiere.bateau.name }}
        		</h3>
        	</div>
        	<div class="panel-body panel-body-padding">
        		<a href="{{ path('boat', { 'id': croisiere.bateau.id, 'slug': croisiere.bateau.name|slugify }) }}">
		            <div class="pull-right btn btn-warning btn-price"> 
		                {{'boat_price_from'|trans}}<br />	
						<span class="boat-price-from">
							{% if croisiere.tarifCroisiere|length > 0 %}                       
								{% if croisiere.tarifCroisiere[0].tarifHuitPersonnes is not null %}{{croisiere.tarifCroisiere[0].tarifHuitPersonnes}}
								{% elseif croisiere.tarifCroisiere[0].tarifSeptPersonnes is not null %}{{croisiere.tarifCroisiere[0].tarifSeptPersonnes}}
								{% elseif croisiere.tarifCroisiere[0].tarifSixPersonnes is not null %}{{croisiere.tarifCroisiere[0].tarifSixPersonnes}}
								{% elseif croisiere.tarifCroisiere[0].tarifCinqPersonnes is not null %}{{croisiere.tarifCroisiere[0].tarifCinqPersonnes}}
								{% elseif croisiere.tarifCroisiere[0].tarifQuatrePersonnes is not null %}{{croisiere.tarifCroisiere[0].tarifQuatrePersonnes}}
								{% elseif croisiere.tarifCroisiere[0].tarifTroisPersonnes is not null %}{{croisiere.tarifCroisiere[0].tarifTroisPersonnes}}
								{% elseif croisiere.tarifCroisiere[0].tarifDeuxPersonnes is not null %}{{croisiere.tarifCroisiere[0].tarifDeuxPersonnes}}
								{% elseif croisiere.tarifCroisiere[0].tarifUnePersonne is not null %}{{croisiere.tarifCroisiere[0].tarifUnePersonne}}
							{% endif %}
							€
						</span><br />({{ croisiere.tarifCroisiere[0].tarifPour|trans}})
						{% endif %}
		            </div>
        			<img class="img-responsive img center-block" src="{{ croisiere.bateau.miniatureWebPath }}" alt="photo {{ croisiere.bateau.name }}" />	            	
		            <div class="boat-amenities">
			            <div class="bateaux-icones col-md-4 text-center"><img width="40" src="{{ asset('bundles/app/images/icones/boat/icon-boat.png') }}" /><br />{{croisiere.bateau.type}}</div>
			            <div class="bateaux-icones col-md-4 text-center"><img width="40"src="{{ asset('bundles/app/images/icones/boat/icon-cabins.png') }}" /><br />{{croisiere.bateau.nbCabine}} {{'boat_cabine'|trans}}</div>
			        	{% if (croisiere.bateau.nbCouchage > 0) %}<div class="bateaux-icones col-md-4 text-center"><img width="40" src="{{ asset('bundles/app/images/icones/boat/icon-bed2.png') }}" /><br />{{croisiere.bateau.nbCouchage}} {{'boat_bed'|trans}}</div>{% endif %}
		        	</div>
	        	</a>
	        </div>
        </div>
        {% if loop.index0 % 3 == 2 %}
	        </div>
        {% endif %}
    {% endfor %}
{% endblock content %}