
    {% set format = app.request.locale == "en" ? 'm/d/Y' : 'd/m/Y' %}
    <div id="tarifBateau">
        {% for tarif in tarifs %}
	            <div class="panel panel-info">
                        <div class="panel-heading boat-price">
                            {{'skipper_price'|trans }}
                        </div>
	                <div class="panel-body subblock-periode">
                                {{'periode_du'|trans }}  {{ tarif.dateDebut|date(format) }} {{'periode_au'|trans }} {{ tarif.dateFin|date(format) }}<br />
		                {{'periode_tarif_cruise_pour'|trans }} {{ tarif.tarifPour|trans }}
		                <table>
		                    <tr class="periode-table-personne"><td class="periode-table-title">{{'nombre_de_personne'|trans }}</td>
		                        {% if tarif.tarifUnePersonne is not null %}<td>1</td>{% endif %}
		                        {% if tarif.tarifDeuxPersonnes is not null %}<td>2</td>{% endif %}
		                        {% if tarif.tarifTroisPersonnes is not null %}<td>3</td>{% endif %}
		                        {% if tarif.tarifQuatrePersonnes is not null %}<td>4</td>{% endif %}
		                        {% if tarif.tarifCinqPersonnes is not null %}<td>5</td>{% endif %}
		                        {% if tarif.tarifSixPersonnes is not null %}<td>6</td>{% endif %}
		                        {% if tarif.tarifSeptPersonnes is not null %}<td>7</td>{% endif %}
		                        {% if tarif.tarifHuitPersonnes is not null %}<td>8</td>{% endif %}
		                    </tr>
		                    <tr><td class="periode-table-title">{{'prix_par_personne'|trans }}</td>
		                        {% if tarif.tarifUnePersonne is not null %}<td>{{ tarif.tarifUnePersonne }}€</td>{% endif %}
		                        {% if tarif.tarifDeuxPersonnes is not null %}<td>{{ tarif.tarifDeuxPersonnes }}€</td>{% endif %}
		                        {% if tarif.tarifTroisPersonnes is not null %}<td>{{ tarif.tarifTroisPersonnes }}€</td>{% endif %}
		                        {% if tarif.tarifQuatrePersonnes is not null %}<td>{{ tarif.tarifQuatrePersonnes }}e</td>{% endif %}
		                        {% if tarif.tarifCinqPersonnes is not null %}<td>{{ tarif.tarifCinqPersonnes }}€</td>{% endif %}
		                        {% if tarif.tarifSixPersonnes is not null %}<td>{{ tarif.tarifSixPersonnes }}€</td>{% endif %}
		                        {% if tarif.tarifSeptPersonnes is not null %}<td>{{ tarif.tarifSeptPersonnes }}€</td>{% endif %}
		                        {% if tarif.tarifHuitPersonnes is not null %}<td>{{ tarif.tarifHuitPersonnes }}€</td>{% endif %}
		                    </tr>
		                    <!--
		                    {% if 'boat' in tarif.tarifPour %}
			                    <tr><td class="periode-table-title">{{'prix_du_bateau'|trans }}</td>
			                        {% if tarif.tarifUnePersonnes is not null %}<td>{{ tarif.tarifUnePersonne }}</td>{% endif %}
			                        {% if tarif.tarifDeuxPersonnes is not null %}<td>{{ tarif.tarifDeuxPersonnes * 2 }}</td>{% endif %}
			                        {% if tarif.tarifTroisPersonnes is not null %}<td>{{ tarif.tarifTroisPersonnes * 3 }}</td>{% endif %}
			                        {% if tarif.tarifQuatrePersonnes is not null %}<td>{{ tarif.tarifQuatrePersonnes * 4 }}</td>{% endif %}
			                        {% if tarif.tarifCinqPersonnes is not null %}<td>{{ tarif.tarifCinqPersonnes * 5 }}</td>{% endif %}
			                        {% if tarif.tarifSixPersonnes is not null %}<td>{{ tarif.tarifSixPersonnes * 6 }}</td>{% endif %}
			                        {% if tarif.tarifSeptPersonnes is not null %}<td>{{ tarif.tarifSeptPersonnes * 7 }}</td>{% endif %}
			                        {% if tarif.tarifHuitPersonnes is not null %}<td>{{ tarif.tarifHuitPersonnes * 8 }}</td>{% endif %}
			                    </tr>
		                    {% endif %}
		                    -->
		                </table>
	                </div>
                </div>
        {% endfor %}
	        <div class="panel-inclus-prix panel panel-info">
	        	<div class="panel-heading">
			        <h3 class="panel-title">
			            {{'inclus_prix'|trans }}
			        </h3>      
		        </div>
		        <div class="panel-body panel-body-padding">
		        	{% if inclusprixequipage|length > 0 %}
			        		<strong>{{'the_crew'|trans }}</strong>
	                    	<ul><li>{{ inclusprixequipage.name }}</li></ul>
		        	{% endif %}
		        	{% if inclusprixavitaillement|length > 0 %}
			        		<strong>{{'fueling'|trans }}</strong>
			        		<ul>
				        		{% for inclusprix in inclusprixavitaillement %}
			                    	<li>{{ inclusprix.name }}</li>
			                	{% endfor %}
		                	</ul>
		        	{% endif %}
		        	{% if inclusprixfraisdevoyage|length > 0 %}
			        		<strong>{{'frais_de_voyage'|trans }}</strong>
			        		<ul>
				        		{% for inclusprix in inclusprixfraisdevoyage %}
			                    	<li>{{ inclusprix.name }}</li>
			                	{% endfor %}
		                	</ul>
		        	{% endif %}
		        	{% if inclusprixautresservices|length > 0 %}
			        		<strong>{{'boat_otherservice'|trans }}</strong>
			        		<ul>
				        		{% for inclusprix in inclusprixautresservices %}
			                    	<li>{{ inclusprix.name }}</li>
			                	{% endfor %}
		                	</ul>
		        	{% endif %}
		        	{% if inclusprixequipement|length > 0 %}
			        		<strong>{{'boat_equipments'|trans }}</strong>
			        		<ul>
				        		{% for inclusprix in inclusprixequipement %}
			                    	<li>{{ inclusprix.name }}</li>
			                	{% endfor %}
		                	</ul>
		        	{% endif %}
		        	{% if inclusprixactivite|length > 0 %}
			        		<strong>{{'boat_activity'|trans }}</strong>
			        		<ul>
				        		{% for inclusprix in inclusprixactivite %}
			                    	<li>{{ inclusprix.name }}</li>
			                	{% endfor %}
		                	</ul>
		        	{% endif %}
		        	{% if inclusprixcours is not null %}
			        		<strong>{{'boat_cours'|trans }}</strong>
			        		<ul>
				        		{% for inclusprix in inclusprixcours %}
			                    	<li>{{ inclusprix.name }}</li>
			                	{% endfor %}
		                	</ul>
		        	{% endif %}
		        </div>  
	        </div>
        {% if servicepayant|length > 0 %}
	        <div class="panel-inclus-prix panel panel-info">
		        <div class="panel-heading">
		        	<h3 class="panel-title">
		            	{{'en_option'|trans }}
	        		</h3>
                </div>
                <div class="panel-body panel-body-padding servicepayant">
                	{% set currentCategory = null %}
	        		{% for service in servicepayant %}
		        		{% if service.categorie != currentCategory %}
	                    	<div class="col-md-6">
	                    		<div class="odd service-payant-categorie">{{service.categorie}}</div>
	                    {% endif %}
	                    <div class="col-md-6">{{service.name}}</div>
	                    <div class="col-md-6">{% if service.fraisSupplementaires != "" %}{% if service.devise == "$" %}${% endif %}{{service.fraisSupplementaires}}{% if service.devise == "€" %}€{% endif %} {{service.tarifApplique|trans}}{% else %} N/A {% endif %}</div>
                		{% if service.categorie != currentCategory %}
		        			</div>
		        			{% set currentCategory = service.categorie %}
	                    {% endif %}
                    {% endfor %}
                </div>
	        </div>
    	{% endif %}
	    </div>