{% extends "AppBundle:Front:Bateau/boat.html.twig" %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/app/js/boat/boat_contact_step2.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
    	urlContact = "{{ path('boat_contact_step3', { 'id': app.request.get('id') }) }}";
	</script>
{% endblock %}
{% block content %}
    {{ parent() }}
    {% set format = app.request.locale == "en" ? 'm/d/Y' : 'd/m/Y' %}
    <div class="col-devis col-md-9">
	    <div class="boat-contact-step2-loading">
	        <img class="img-responsive" src='{{ asset("bundles/app/images/general/loader.gif")  }}' />
	    </div>
    	<h2>{{'recapitulatif_de_votre_demande'|trans}}</h2>
    	<div class="row odd">
    		<strong>{{'form_sejour_possible_debut'|trans }}</strong> 
            {{ recap.dateDepart|date(format) }} 
    		<strong>{{'form_sejour_possible_fin'|trans }}</strong>   
            {{ recap.dateRetour|date(format) }}
        </div>
    	<div class="row even">	       
    		<strong>{{'form_sejour_duree'|trans }}</strong>   
            {{ recap.dureeCroisiere }} {{'jours'|trans}}
        </div>
    	<div class="row odd">	   
    		<strong>{{'form_sejour_nb_passager'|trans }}</strong>    
            {{ recap.nbPassager }} {{'passagers'|trans}}
        </div>
    	<div class="row even">	  
			<strong>{{'form_sejour_portdepart'|trans }}</strong> 
            {{ recap.portDepart }}
        </div>
    	<div class="row odd">
    		<strong>{{'form_sejour_destination'|trans }}</strong>
            {{ recap.destination }}
    	</div>
    	<div class="optionspayantes">
			<strong class="devis-option-wanted">{{ 'devis_option_wanted'|trans }}</strong>
    		{% if servicepayant is not null %}
                <div class="servicepayant">
                	{% set currentCategory = null %}
	        		{% for service in servicepayant %}
		        		{% if service.categorie != currentCategory %}
		        			{% set currentCategory = service.categorie %}
	                    	<div class="col-md-12 even service-payant-categorie">{{service.categorie|trans}}</div>
	                    {% endif %}
	                    <div class="col-md-6 odd">{{service.name}}</div>
	                    <div class="col-md-6 odd">{% if service.fraisSupplementaires != "" %}{% if service.devise == "$" %}${% endif %}{{service.fraisSupplementaires}}{% if service.devise == "€" %}€{% endif %} {{service.tarifApplique|trans}}{% else %} N/A {% endif %}</div>
                    {% endfor %}
                </div>
	        {% endif %}
    	</div>
    	<div class="row even">
    		<strong>{{'form_sejour_message'|trans }}</strong>
    		<div class="recap-textarea-message">
    		    <strong>{{'form_sejour_From'|trans}}</strong> {{ recap.nom }} {{ recap.email }}<br />
		    	<strong>{{'form_sejour_To'|trans}}</strong> {{'skipper_name'|trans}} <br />
            	{{ recap.message }}
            </div>
    	</div>
    	<span class="btn-send-to-skipper btn btn-warning pull-right">{{'send_to_skipper'|trans}}</span>
    	<a href={{ path('boat_contact', {'id': boat_id }) }} class="btn-modifier btn btn-warning pull-right">{{'modify'|trans}}</a> 
	</div>
{% endblock content %}