{% extends "AppBundle:Front:Bateau/boat.html.twig" %}
{% block content %}
    {{ parent() }}
    {% if skipper is not null %}
	    <div class="{% if offrespeciale_bateau is defined %}col-md-9{% else %}col-md-12{% endif %}">
	    	<h2>Captain {{ skipper.name }}</h2>
	    	{{ skipper.description|raw }}
		</div>
	    {% if offrespeciale_bateau is defined %}
		 	<div class="col-md-3">
	                    {% if skipper is not null %}<div class="text-center"><a href="{{ path('skipper_contact', {'id': skipper.id }) }}" class="btn btn-lg btn-warning">{{'contact_skipper'|trans}}</a></div>{% endif %}    
		        <div class="boat-block-special-offer">
			    	<h2 class="offreName">{{'special_offer_with'|trans }} {{ skipper.name }}</h3>
			        <h3 class="boatName">{{ offrespeciale_bateau.name }}</h3>
			        <img class="img-responsive img-thumbnail" src="{{ offrespeciale_bateau.miniatureWebPath }}" alt="photo {{ offrespeciale_bateau.name }}" /><br />
			        <p class="bateau-prix-semaine"> 
			            A partir de 1250 € la semaine*
			            <br />
			            <span class="small">Tarif par personne sur une base de 8 personnes</span>
			        </p>
			        <div class="bateaux-icones col-md-4"><img src="{{ asset('bundles/app/images/icones/boat/1-icons-boat-tech-file-50pix-'~offrespeciale_bateau.type|lower~'-noir.png') }}" /><br />{{offrespeciale_bateau.type}}</div>
			        <div class="bateaux-icones col-md-4"><img src="{{ asset('bundles/app/images/icones/boat/2-icons-boat-tech-file-50pix-CABINS-'~offrespeciale_bateau.nbCabine~'-noir.png') }}" /><br />{{offrespeciale_bateau.nbCabine}} {{'boat_cabine'|trans}}</div>
			        {% if (boat.nbCouchage > 0) %}<div class="bateaux-icones col-md-4"><img src="{{ asset('bundles/app/images/icones/boat/3-icons-boat-tech-file-50pix-COUCHAGE-noir.png') }}" /><br />{{offrespeciale_bateau.nbCouchage}} {{'boat_bed'|trans}}</div>{% endif %}
			        <p class="bateaux-description">
			        	{% if offrespeciale_bateau.description|length > 100 %}
			        		{{ offrespeciale_bateau.description|striptags|slice(0,100)|raw }}...
			        	{% else %}
			        		{{ offrespeciale_bateau.description|striptags|raw }}
			    		{% endif %}
					</p>
			        <a class="btn btn-sm btn-warning pull-right" href="{{ path('offrespeciale', { 'id': offrespeciale_id }) }}">{{'suite'|trans}}</a>
		    	</div>
		    </div>
	    {% endif %}
    {% endif %}
{% endblock content %}