{% extends "AppBundle:Front:Bateau/boat.html.twig" %}
{% block content %}
    {{ parent() }}
    <div class="skipper-boat-description">
        <div class="col-md-6">
            <img src="{{ boat.miniatureWebPath }}" alt="photo {{ boat.name }}" />
        </div>
        <div class="col-md-6">
            {{ boat.description|raw }}
        </div>
    </div>
    <div class="clearfix">
        <img class="col-md-2 img-responsive" src="{{ boat.photoVoileWebPath }}" alt="photo voile" />
        <img class="col-md-2 img-responsive" src="{{ boat.photoMouillageWebPath }}" alt="photo mouillage" />
        <img class="col-md-2 img-responsive" src="{{ boat.photoCockpitWebPath }}" alt="photo cockpit"  />
        <img class="col-md-2 img-responsive" src="{{ boat.photoCarreWebPath }}" alt="photo carre" />
        <img class="col-md-2 img-responsive" src="{{ boat.photoCabineWebPath }}" alt="photo cabine" />
    </div>
{% endblock content %}