<div class="boat_presentation">
    <div class="col-md-9">
	    <div class="skipper-boat-description">
	        <div class="col-md-6 ">
	            <img src="{{ boat.miniatureWebPath }}" class="center-block img-responsive img-thumbnails" alt="photo {{ boat.name }}" />
	        </div>
	        <div class="col-md-6">
	            {{ boat.description|striptags|raw }}
	        </div>
	    </div>
	    <div class="bateau-photo clearfix">
	        {% if boat.photoVoileWebPath is not null %}<img class="col-md-2 img-responsive img-thumbnails" src="{{ boat.photoVoileWebPath }}" alt="photo voile" />{% endif %}
	        {% if boat.photoMouillageWebPath is not null %}<img class="col-md-2 img-responsive img-thumbnails" src="{{ boat.photoMouillageWebPath }}" alt="photo mouillage" />{% endif %}
	        {% if boat.photoCockpitWebPath is not null %}<img class="col-md-2 img-responsive img-thumbnails" src="{{ boat.photoCockpitWebPath }}" alt="photo cockpit"  />{% endif %}
	        {% if boat.photoCarreWebPath is not null %}<img class="col-md-2 img-responsive img-thumbnails" src="{{ boat.photoCarreWebPath }}" alt="photo carre" />{% endif %}
	        {% if boat.photoCabineWebPath is not null %}<img class="col-md-2 img-responsive img-thumbnails" src="{{ boat.photoCabineWebPath }}" alt="photo cabine" />{% endif %}
	    </div>
    </div>
    <div class="col-md-3 boat-prestation panel panel-info">
		<div class="panel-heading">
			<h2 class="panel-title">{{'boat_prestation_available'|trans }}</h2>
		</div>
		<div class="panel-body">
	    	{% for prestation in prestations %}
	    		<div class="prestation">
	    			<img src="{{ prestation.iconeWebPath|replace({ ('75'): '25' }) }}" class="img-responsive img-thumbnails pull-left" />
	    			<span class="prestation-name">{{ prestation.name }}</a>
	    		</div>
	    	{% endfor %}
    	</div>
    </div>
</div>