<h3 class="boat-crew">Captain {{ skipper.name }}</h3>
<a class="skipper" href="{{ path('skipper', { 'id': skipper.id, 'slug': skipper.name|slugify }) }}">
    <!--<span class="caption fade-caption">
        <p>
            {{ skipper.description|trans|striptags|truncate(300)|raw }}
        </p>
    </span>-->
	<img class="img-thumbnail img-responsive" src="{{ skipper.avatarWebPath }}" alt="photo {{ skipper.name }}" />
</a>
<ul>
    {% if skipper.yearsSailing is not null %}<li><strong>{{'sail_for'|trans}}:</strong> {{ skipper.yearsSailing }}</li>{% endif %}
{% if skipper.yearsKiteSurfing is not null %}<li><strong>{{'kitesurf_for'|trans}}:</strong> {{ skipper.yearsKiteSurfing }}</li>{% endif %}
{% if skipper.otherCertifications is not null %}<li><strong>{{'other_certifications'|trans}}:</strong> {{ skipper.otherCertifications }}</li>{% endif %}
{% if skipper.languagesSpoken is not null %}<li><strong>{{'languages_spoken'|trans}}:</strong>
        {% for langue in skipper.languagesSpoken %}
            {% if loop.index > 1 %},{% endif %}{{ langue }}
        {% endfor %}</li>
    {% endif %}
    {% if skipper.hobbies is not null %}<li><strong>{{'hobbies'|trans}}:</strong> {{ skipper.hobbies }}</li>{% endif %}
</ul>
        