<div class="boat-price">
    {% set format = app.request.locale == "en" ? 'm/d/Y' : 'd/m/Y' %}
    <div id="tarifBateau">
        {% for tarif in tarifs %}
            <div class="col-md-6">
	            <div class="panel panel-info">
	            	<div class="panel-heading">
		                <h3 class="periode-title panel-title">
		                    {{'periode_du'|trans }}  {{ tarif.dateDebut|date(format) }} {{'periode_au'|trans }} {{ tarif.dateFin|date(format) }}
		                </h3>
	                </div>
	                <div class="panel-body subblock-periode">
		                {{'periode_tarif_du'|trans }} {{ tarif.nombreJourMinimum }} {{'day'|trans }} {{'periode_tarif_au'|trans }} {{ tarif.nombreJourMaximum }} {{'days'|trans }} {{'periode_tarif_cruise'|trans }}<br />
		                {{'periode_tarif_cruise_pour'|trans }} {{ tarif.tarifPour|trans }}
		                <table>
		                    <tr class="periode-table-personne"><td class="periode-table-title">{{'nombre_de_personne'|trans }}</td>
		                        {% if tarif.tarifDeuxPersonnes is not null %}<td>2</td>{% endif %}
		                        {% if tarif.tarifTroisPersonnes is not null %}<td>3</td>{% endif %}
		                        {% if tarif.tarifQuatrePersonnes is not null %}<td>4</td>{% endif %}
		                        {% if tarif.tarifCinqPersonnes is not null %}<td>5</td>{% endif %}
		                        {% if tarif.tarifSixPersonnes is not null %}<td>6</td>{% endif %}
		                        {% if tarif.tarifSeptPersonnes is not null %}<td>7</td>{% endif %}
		                        {% if tarif.tarifHuitPersonnes is not null %}<td>8</td>{% endif %}
		                    </tr>
		                    <tr><td class="periode-table-title">{{'prix_par_personne'|trans }}</td>
		                        {% if tarif.tarifDeuxPersonnes is not null %}<td>{{ tarif.tarifDeuxPersonnes }}</td>{% endif %}
		                        {% if tarif.tarifTroisPersonnes is not null %}<td>{{ tarif.tarifTroisPersonnes }}</td>{% endif %}
		                        {% if tarif.tarifQuatrePersonnes is not null %}<td>{{ tarif.tarifQuatrePersonnes }}</td>{% endif %}
		                        {% if tarif.tarifCinqPersonnes is not null %}<td>{{ tarif.tarifCinqPersonnes }}</td>{% endif %}
		                        {% if tarif.tarifSixPersonnes is not null %}<td>{{ tarif.tarifSixPersonnes }}</td>{% endif %}
		                        {% if tarif.tarifSeptPersonnes is not null %}<td>{{ tarif.tarifSeptPersonnes }}</td>{% endif %}
		                        {% if tarif.tarifHuitPersonnes is not null %}<td>{{ tarif.tarifHuitPersonnes }}</td>{% endif %}
		                    </tr>
		                    <tr><td class="periode-table-title">{{'prix_du_bateau'|trans }}</td>
		                        {% if tarif.tarifDeuxPersonnes is not null %}<td>{{ tarif.tarifDeuxPersonnes * 2 }}</td>{% endif %}
		                        {% if tarif.tarifTroisPersonnes is not null %}<td>{{ tarif.tarifTroisPersonnes * 3 }}</td>{% endif %}
		                        {% if tarif.tarifQuatrePersonnes is not null %}<td>{{ tarif.tarifQuatrePersonnes * 4 }}</td>{% endif %}
		                        {% if tarif.tarifCinqPersonnes is not null %}<td>{{ tarif.tarifCinqPersonnes * 5 }}</td>{% endif %}
		                        {% if tarif.tarifSixPersonnes is not null %}<td>{{ tarif.tarifSixPersonnes * 6 }}</td>{% endif %}
		                        {% if tarif.tarifSeptPersonnes is not null %}<td>{{ tarif.tarifSeptPersonnes * 7 }}</td>{% endif %}
		                        {% if tarif.tarifHuitPersonnes is not null %}<td>{{ tarif.tarifHuitPersonnes * 8 }}</td>{% endif %}
		                    </tr>
		                </table>
	                </div>
                </div>
            </div>
        {% endfor %}
        <div class="col-md-12">
	        <div class="panel-inclus-prix panel panel-info">
	        	<div class="panel-heading">
			        <h3 class="panel-title">
			            {{'inclus_prix'|trans }}
			        </h3>      
		        </div>
		        <div class="panel-body panel-body-padding">
		        	{% if inclusprixequipage|length > 0 %}
		        		<div class="col-md-6">
			        		<div class="odd">{{'the_crew'|trans }}</div>
	                    	<ul><li>{{ inclusprixequipage.name }}</li></ul>
		        		</div>
		        	{% endif %}
		        	{% if inclusprixavitaillement|length > 0 %}
		        		<div class="col-md-6">
			        		<div class="odd">{{'fueling'|trans }}</div>
			        		<ul>
				        		{% for inclusprix in inclusprixavitaillement %}
			                    	<li>{{ inclusprix.name }}</li>
			                	{% endfor %}
		                	</ul>
		        		</div>
		        	{% endif %}
		        	{% if inclusprixfraisdevoyage|length > 0 %}
		        		<div class="col-md-6">
			        		<div class="odd">{{'frais_de_voyage'|trans }}</div>
			        		<ul>
				        		{% for inclusprix in inclusprixfraisdevoyage %}
			                    	<li>{{ inclusprix.name }}</li>
			                	{% endfor %}
		                	</ul>
		        		</div>
		        	{% endif %}
		        	{% if inclusprixautresservices|length > 0 %}
		        		<div class="col-md-6">
			        		<div class="odd">{{'boat_otherservice'|trans }}</div>
			        		<ul>
				        		{% for inclusprix in inclusprixautresservices %}
			                    	<li>{{ inclusprix.name }}</li>
			                	{% endfor %}
		                	</ul>
		        		</div>
		        	{% endif %}
		        	{% if inclusprixequipement|length > 0 %}
		        		<div class="col-md-6">
			        		<div class="odd">{{'boat_equipments'|trans }}</div>
			        		<ul>
				        		{% for inclusprix in inclusprixequipement %}
			                    	<li>{{ inclusprix.name }}</li>
			                	{% endfor %}
		                	</ul>
		        		</div>
		        	{% endif %}
		        	{% if inclusprixactivite|length > 0 %}
		        		<div class="col-md-6">
			        		<div class="odd">{{'boat_activity'|trans }}</div>
			        		<ul>
				        		{% for inclusprix in inclusprixactivite %}
			                    	<li>{{ inclusprix.name }}</li>
			                	{% endfor %}
		                	</ul>
		        		</div>
		        	{% endif %}
		        	{% if inclusprixcours is not null %}
		        		<div class="col-md-6">
			        		<div class="odd">{{'boat_cours'|trans }}</div>
			        		<ul>
				        		{% for inclusprix in inclusprixcours %}
			                    	<li>{{ inclusprix.name }}</li>
			                	{% endfor %}
		                	</ul>
		        		</div>
		        	{% endif %}
		        </div>  
	        </div>
        {% if servicepayant|length > 0 %}
	        <div class="panel-inclus-prix panel panel-info">
		        <div class="panel-heading">
		        	<h3 class="panel-title">
		            	{{'en_option'|trans }}
	        		</h3>
                </div>
                <div class="panel-body panel-body-padding servicepayant">
                	{% set currentCategory = null %}
	        		{% for service in servicepayant %}
		        		{% if service.categorie != currentCategory %}
	                    	<div class="col-md-6">
	                    		<div class="odd service-payant-categorie">{{service.categorie}}</div>
	                    {% endif %}
	                    <div class="col-md-6">{{service.name}}</div>
	                    <div class="col-md-6">{% if service.fraisSupplementaires != "" %}{% if service.devise == "$" %}${% endif %}{{service.fraisSupplementaires}}{% if service.devise == "€" %}€{% endif %} {{service.tarifApplique|trans}}{% else %} N/A {% endif %}</div>
                		{% if service.categorie != currentCategory %}
		        			</div>
		        			{% set currentCategory = service.categorie %}
	                    {% endif %}
                    {% endfor %}
                </div>
	        </div>
    	{% endif %}
	    </div>
	</div>
</div>