{% extends "AppBundle:Front:Bateau/boat.html.twig" %}
{% block content %}
    {{ parent() }}
    {% if skipper is not null %}
	    <div class="{% if offrespeciale.bateau is defined %}col-md-8{% else %}col-md-12{% endif %}">
	    	<h2>Captain {{ skipper.name }}</h2>
	    	{{ skipper.description|raw }}
		</div>
	    {% if offrespeciale.bateau is defined %}
		 	<div class="col-md-4">
                {% if skipper is not null %}<div class="text-center"><a href="{{ path('skipper_contact', {'id': skipper.id }) }}" class="btn btn-lg btn-warning">{{'contact_skipper'|trans}}</a></div>{% endif %}    
		        <div class="boat-block-special-offer">
			    	<h2 class="offreName">{{'special_offer_with'|trans }} {{ skipper.name }}</h3>
			        <h3 class="boatName">{{ offrespeciale.bateau.name }}</h3>
			        <img class="img-thumbnail" src="{{ offrespeciale.bateau.miniatureWebPath }}" alt="photo {{ offrespeciale.bateau.name }}" /><br />
			        <p class="bateau-prix-semaine"> 
			             {{'boat_price_from'|trans}} 	                       
		                 {% if offrespeciale.tarifHuitPersonnes is not null %}{% set base= 8 %}{{offrespeciale.tarifHuitPersonnes/8}}
			             {% elseif offrespeciale.tarifSeptPersonnes is not null %}{% set base= 7 %}{{offrespeciale.tarifSeptPersonnes/7}}
			             {% elseif offrespeciale.tarifSixPersonnes is not null %}{% set base= 6 %}{{offrespeciale.tarifSixPersonnes/6}}
			             {% elseif offrespeciale.tarifCinqPersonnes is not null %}{% set base= 5 %}{{offrespeciale.tarifCinqPersonnes/5}}
			             {% elseif offrespeciale.tarifQuatrePersonnes is not null %}{% set base= 4 %}{{offrespeciale.tarifQuatrePersonnes/4}}
			             {% elseif offrespeciale.tarifTroisPersonnes is not null %}{% set base= 3 %}{{offrespeciale.tarifTroisPersonnes/3}}
			             {% elseif offrespeciale.tarifDeuxPersonnes is not null %}{% set base= 2 %}{{offrespeciale.tarifDeuxPersonnes/2}}
			             {% endif %}
			             € <span class="boat-tarif-pour text-center">({{ offrespeciale.tarifPour|trans}})</span>
			        </p>
			        <div class="bateaux-icones col-md-4"><img src="{{ asset('bundles/app/images/icones/boat/1-icons-boat-tech-file-50pix-'~offrespeciale.bateau.type|lower~'-noir.png') }}" /><br />{{offrespeciale.bateau.type}}</div>
			        <div class="bateaux-icones col-md-4"><img src="{{ asset('bundles/app/images/icones/boat/2-icons-boat-tech-file-50pix-CABINS-'~offrespeciale.bateau.nbCabine~'-noir.png') }}" /><br />{{offrespeciale.bateau.nbCabine}} {{'boat_cabine'|trans}}</div>
			        {% if (offrespeciale.bateau.nbCouchage > 0) %}<div class="bateaux-icones col-md-4"><img src="{{ asset('bundles/app/images/icones/boat/3-icons-boat-tech-file-50pix-COUCHAGE-noir.png') }}" /><br />{{offrespeciale.bateau.nbCouchage}} {{'boat_bed'|trans}}</div>{% endif %}
			        <p class="bateaux-description">
			        	{% if offrespeciale.bateau.description|length > 100 %}
			        		{{ offrespeciale.bateau.description|striptags|slice(0,100)|raw }}...
			        	{% else %}
			        		{{ offrespeciale.bateau.description|striptags|raw }}
			    		{% endif %}
					</p>
			        <a class="btn btn-sm btn-warning pull-right" href="{{ path('offrespeciale', { 'id': offrespeciale.id }) }}">{{'suite'|trans}}</a>
		    	</div>
		    </div>
	    {% endif %}
    {% endif %}
{% endblock content %}