<h1>{{ boat.name }}</h1>
<div class="submenu" role="tabpanel">
	<ul class="nav nav-tabs" role="tablist">
	    <li role="presentation" class="active"><a href="#boat" class="bateau-home" aria-controls="boat" role="tab" data-toggle="tab">{{'boat_presentation'|trans}}</a></li>
	    <li role="presentation"><a href="#details" class="bateau-fiche" aria-controls="details" role="tab" data-toggle="tab">{{'boat_fiche'|trans}}</a></li>
	    <li role="presentation"><a href="#crew" class="bateau-crew" aria-controls="crew" role="tab" data-toggle="tab">{{'boat_crew'|trans}}</a></li>
	    <li role="presentation"><a href="#destination" class="bateau-desti" aria-controls="destination" role="tab" data-toggle="tab">{{'boat_desti'|trans}}</a></li>
	    <li role="presentation"><a href="#available" class="bateau-dispo" aria-controls="available" role="tab" data-toggle="tab">{{'boat_dispo'|trans}}</a></li>
	    <li role="presentation"><a href="#price" class="bateau-price" aria-controls="price" role="tab" data-toggle="tab">{{'boat_price'|trans}}</a></li>
	    <li role="presentation"><a href="#contact" class="bateau-contact" aria-controls="contact" role="tab" data-toggle="tab">{{'boat_contact'|trans}}</a></li>
    </ul>
</div>