{% set format = app.request.locale == "en" ? 'm/d/Y' : 'd/m/Y' %}
<div id="tarifBateau">
    <div class="panel-inclus-prix panel panel-info">
    	<div class="panel-heading">
	        <h3 class="panel-title">
	            {{'inclus_prix'|trans }}
	        </h3>      
        </div>
        <div class="panel-body panel-body-padding">
        	{% if inclusprixequipage|length > 0 %}
	        		<strong>{{'the_crew'|trans }}</strong>
                	<ul><li>{{ inclusprixequipage }}</li></ul>
        	{% endif %}
        	{% if inclusprixavitaillement|length > 0 %}
	        		<strong>{{'fueling'|trans }}</strong>
	        		<ul>
		        		{% for inclusprix in inclusprixavitaillement %}
	                    	<li>{{ inclusprix.name }}</li>
	                	{% endfor %}
                	</ul>
        	{% endif %}
        	{% if inclusprixfraisdevoyage|length > 0 %}
	        		<strong>{{'frais_de_voyage'|trans }}</strong>
	        		<ul>
		        		{% for inclusprix in inclusprixfraisdevoyage %}
	                    	<li>{{ inclusprix.name }}</li>
	                	{% endfor %}
                	</ul>
        	{% endif %}
        	{% if inclusprixautresservices|length > 0 %}
	        		<strong>{{'boat_otherservice'|trans }}</strong>
	        		<ul>
		        		{% for inclusprix in inclusprixautresservices %}
	                    	<li>{{ inclusprix.name }}</li>
	                	{% endfor %}
                	</ul>
        	{% endif %}
        	{% if inclusprixequipement|length > 0 %}
	        		<strong>{{'boat_equipments'|trans }}</strong>
	        		<ul>
		        		{% for inclusprix in inclusprixequipement %}
	                    	<li>{{ inclusprix.name }}</li>
	                	{% endfor %}
                	</ul>
        	{% endif %}
        	{% if inclusprixactivite|length > 0 %}
	        		<strong>{{'boat_activity'|trans }}</strong>
	        		<ul>
		        		{% for inclusprix in inclusprixactivite %}
	                    	<li>{{ inclusprix.name }}</li>
	                	{% endfor %}
                	</ul>
        	{% endif %}
        	{% if inclusprixcours|length > 0 %}
	        		<strong>{{'boat_cours'|trans }}</strong>
	        		<ul>
		        		{% for inclusprix in inclusprixcours %}
	                    	<li>{{ inclusprix.name }}</li>
	                	{% endfor %}
                	</ul>
        	{% endif %}
        </div>  
    </div>
    {% if servicepayant|length > 0 %}
        <div class="panel-inclus-prix panel panel-info">
	        <div class="panel-heading">
	        	<h3 class="panel-title">
	            	{{'en_option'|trans }}
        		</h3>
            </div>
            <div class="panel-body panel-body-padding servicepayant">
            	{% set currentCategory = null %}
        		{% for service in servicepayant %}
	        		{% if service.categorie != currentCategory %}
                		<strong class="service-payant-categorie">{{service.categorie|trans}}</strong>
                		<ul>
                    {% endif %}
                    <li>
                    	{{service.name}}: 
                    	{% if service.fraisSupplementaires != "" %}{% if service.devise == "$" %}${% endif %}{{service.fraisSupplementaires}}{% if service.devise == "€" %}€{% endif %} {{service.tarifApplique|trans}}{% else %} N/A {% endif %}</li>
            		</li>
            		{% if service.categorie != currentCategory %}
            			</ul>
	        			{% set currentCategory = service.categorie %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
	{% endif %}
</div>