<h3 class="boat-crew">Captain {{ skipper.name }}</h3>
<a class="skipper" href="{{ path('skipper', { 'id': skipper.id, 'slug': skipper.name|slugify }) }}">
    <!--<span class="caption fade-caption">
        <p>
            {{ skipper.description|trans|striptags|truncate(300)|raw }}
        </p>
    </span>-->
	<img class="img-thumbnail img-responsive" src="{{ skipper.avatarWebPath }}" alt="photo {{ skipper.name }}" />
</a>
{% if skipper.yearsSailing is not null %}<strong>{{'sail_for'|trans}}:</strong> {{ skipper.yearsSailing }}{% endif %}
{% if skipper.yearsKiteSurfing is not null %}<strong>{{'kitesurf_for'|trans}}:</strong> {{ skipper.yearsKiteSurfing }}{% endif %}
{% if skipper.otherCertifications is not null %}<strong>{{'other_certifications'|trans}}:</strong> {{ skipper.otherCertifications }}{% endif %}
{% if skipper.languagesSpoken is not null %}<strong>{{'languages_spoken'|trans}}:</strong> 
        {% for langue in skipper.languagesSpoken %}
            {% if loop.index > 1 %},{% endif %}{{ langue }}
        {% endfor %}
    {% endif %}
{% if skipper.hobbies is not null %}<strong>{{'hobbies'|trans}}:</strong> {{ skipper.hobbies }}{% endif %}
        