<div class="col-md-8 col-md-offset-2">
	<form action="{{ path('search_results')}}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form.destination) }}
	    
	    {{ form_widget(form.date) }}

        {{ form_widget(form.nbPassager) }}

        <button class="btn btn-sm btn-warning" type="submit">
            <span class="glyphicon glyphicon-search"></span>
            {{'find_button'|trans}}
        </button>
	    {{ form_rest(form) }}
</div>